openapi: 3.0.0

info:
  title: Nomics Cryptocurrency & Bitcoin API
  version: 1.0.0
  description: |
    # Introduction

    Welcome to the Nomics Cryptocurrency & Bitcoin API. To sign up for an API key please [go here](https://p.nomics.com/cryptocurrency-bitcoin-api/).

    [nomics.com](https://nomics.com) is built entirely with the Nomics API. Everything
    we've done on [nomics.com](https://nomics.com) you can do with our API. There are
    no internal API endpoints.

    If you need support, reach out to use at our [forums](https://forums.nomics.com/).

    # General

    ## API Server URL

    The Nomics API runs at `https://api.nomics.com/v1`. All requests should be prefixed
    by the server URL.

    ## JSON and CSV Support

    By default, all endpoints serve data as JSON. However, by passing `format=csv` in the URL,
    some endpoints will return CSV data. This can be used in Google Sheets via the `IMPORTDATA`
    function.

    CSV responses will not contain a header row, this is so that data can be easily concatenated
    from multiple requests. The fields will be rendered in the same order as the JSON fields. See
    the endpoint's documentation for an example.

    Not all endpoints support CSV. Endpoints that support CSV will have the `format` parameter in
    the parameters section.

    ## Errors

    The Nomics API uses standard HTTP status codes to indicate success or failure. 200
    represents success, 4xx represents a user error (such as a problem with your key),
    and 5xx represents a problem with our API.

    ## Versioning

    We follow Semantic Versioning. That means our API is versioned as Major.Minor.Patch.
    For example, Version 1.2.3 has major version 1, minor version 2, and patch version 3.

    Major version changes indicate that we have altered
    the API significantly and it is no longer compatible with a previous version. Major
    versions are also used as the API URL prefix.

    When we update the major version, we will not remove the previous version without notice
    to API customers and a deprecation period to allow everyone to smoothly update to the new
    version.

    Minor version changes indicate that we have added new functionality without breaking
    any existing functionality. An API client is compatible with future minor versions. Note
    that a minor version update may add a new field to an existing API endpoint's response. Your
    API client must ignore fields it does not understand in order to be compatible with future
    minor versions.

    Patch version changes indicate we fixed a bug or security vulnerability. Patch versions
    don't add new functionality.

    ## Cross Origin Resource Sharing (CORS)

    This API supports Cross Origin Resource Sharing, which allows you to make API requests directly
    from your user's browser.

    To use CORS, you must provide Nomics with the domains on which your application will run so that
    we can whitelist them for CORS access.

    Requests from `localhost`, `127.0.0.1`, and `0.0.0.0` will always succeed to aid in development.

    ## Demo Application

    A demo application using the Nomics API, CORS, and React is available on Glitch.com. This can help
    you get started using the Nomics API. Keep in mind it uses the demo key, which is rotated frequently.
    You should get your own API key before deploying an app to production. Check it out:

    <div class="glitch-embed-wrap" style="height: 420px; width: 100%;">
      <iframe src="https://glitch.com/embed/#!/embed/nomics-api-demo?path=README.md" alt="nomics-api-demo on glitch" style="height: 100%; width: 100%; border: 0;"></iframe>
    </div>

    ## Demo Spreadsheet

    Here is a demo of using the Nomics API with Google Sheets.

    **[Open in Google Sheets to Copy and Edit](https://docs.google.com/spreadsheets/d/1pCBAe-RK4HhD_qs5RYL0dJpJCK_WeT1507RgadapHy4/edit?usp=sharing)**

    <iframe width="100%" height="400px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vShn2iWjvqQ0ueBa9l9g1UBYVM92OZSgZ4nmp0rWuykvHPrvyMyMeSN4r0Orj0ACEIIKdCz6cc5abCw/pubhtml?widget=true&amp;headers=false"></iframe>



    # SDKs and Libraries

    ## By Nomics
    - [Nomics JavaScript Client](https://github.com/nomics-crypto/nomics-javascript)

    ## Community Submissions
    - [Nomics.com Swift SDK](https://forums.nomics.com/t/swift-sdk-supporting-ios-macos-tvos-and-watchos/) by Nick DiZazzo
    - [Nomics Node.js Library](https://forums.nomics.com/t/i-made-a-library-for-node-js/) by mikunimaru
    - [Nomics Python Wrapper](https://forums.nomics.com/t/python-package-for-nomics-api/119) by Taylor Facen
    - [Python Wrapper for Nomics](https://github.com/AviFelman/py-nomics) by Avi Felman

    We love watching developers explore new use-cases with our API. Whether you're tinkering on a small side project or building an open-source resource, please share what you're up to in our [forums](https://forums.nomics.com/).


servers:
  - url: https://api.nomics.com/v1
    description: API Server

tags:
  - name: Candles*
    description: |
      ### What are OHLCV Candles?

      OHLCV Candles is an abbreviation of "Open, High, Low, Close, and Volume Candlestick Data". Each "Candle"
      represents a point in time of an asset's price history.

      For example, take the following pricing data:

      | Month    | High | Open | Close | Low |
      |----------|------|------|-------|-----|
      | January  | $70  | $20  | $50   | $15 |
      | February | $66  | $50  | $45   | $25 |
      | March    | $80  | $45  | $62   | $30 |
      | April    | $95  | $62  | $85   | $50 |
      | May      | $90  | $85  | $70   | $60 |

      A candlestick chart of this data in Google Sheets looks like this:

      ![Candlestick Chart](https://s3.us-east-2.amazonaws.com/nomics-api-documentation/candlestick-chart.png)

      The lines extending from the boxes are called "wicks" and they represent the high and low for that time
      period. The top and bottom of the boxes represent the open and close. Different visualizations of candles
      have different ways of conveying which of the top and bottom of the boxes are the open and close. In this
      case, with Google Sheets, candles that close higher than they open are solid colors, while candles that
      close lower than they open are transparent.

      ### How are Candles Built?

      At Nomics, we have three methods of building candles:

      1. Building candles from raw, gapless trade execution data (sometimes called "tick data")
      2. Ingesting candles directly from exchanges, and building intermediate sizes
      3. Ingesting 24 hour tickers from exchanges, and extrapolating estimated candles

      The first method, trades, is greatly preferred as it yields the most accurate and trustworthy data. The second
      method, candles, is also very accurate, but without the underlying trade data, it is not as transparent. The
      third method, tickers, is the lowest quality source and should only be used as an estimate of pricing activity.

      ### Why don't candles show up right away?

      You may notice that candles don't show up immediately after they start. For example, at 12:01am, you may not see
      a daily, hourly, or even a minute candle for 12:00am yet. This is because several steps need to occur in order to
      build a candle:

      1. Trades must be executed on an exchange. If there are no trades after 12:00am for a market or currency, there
      is simply no data to represent.
      2. Trades must be ingested into Nomics. We ingest data as fast as possible, but due to exchange rate limits and
      limitations on the speed of data across the internet, there is always a delay between a trade being executed and
      when it arrives in the Nomics database.
      3. An Exchange Candle must be built. Once we have the trade in our database, we then aggregate all trades within
      the candle's time range in order to build and store the candle.
      4. An Aggregate Candle must be built. After an Exchange Candle is built (which represents a single market on a
      single exchange) we must build an Aggregated Candle (which represents an asset across all markets and exchanges)

      Every step in this pipeline takes time to compute, which means that it may be seconds, or even minutes before
      a trade is fully represented by all candle types in our data set.

      For more information about update frequencies, see the descriptions of our candle types below.

x-tagGroups:
  - name: Standard
    tags:
      - Currencies
      - Markets
      - Volume
      - Exchange Rates
  - name: Enhanced*
    tags:
      - Currencies*
      - Exchanges*
      - Markets*
      - Candles*
      - Trades*
      - Orders*
  - name: Other
    tags:
      - Deprecated


paths:
  /currencies/ticker:
    get:
      tags:
        - Currencies
      summary: Currencies Ticker
      operationId: getCurrenciesTicker
      x-code-samples:
        $ref: "./samples/getCurrenciesTicker.json"
      description: |
        Price, volume, market cap, and rank for all currencies across 1 hour, 1 day, 7 day, 30 day, 365 day, and year to date intervals. Current prices are updated every 10 seconds.
      parameters:
        - $ref: "#/components/parameters/currency-ids"
        - interval:
          name: interval
          in: query
          description: Comma separated time interval of the ticker(s). Default is `1d,7d,30d,365d,ytd`.
          required: false
          schema:
            type: string
            enum:
              - 1h
              - 1d
              - 7d
              - 30d
              - 365d
              - ytd
          example: 1d,30d
        - quote-currency:
          deprecated: true
          name: quote-currency
          in: query
          description: Currency to quote ticker price, market cap, and volume values. Must be a valid currency from [Exchange Rates](#operation/getExchangeRates). Default is `USD`.
          required: false
          schema:
            type: string
          example: EUR
        - convert:
          name: convert
          in: query
          description: Currency to quote ticker price, market cap, and volume values. May be a Fiat Currency or Cryptocurrency. Default is `USD`.
          required: false
          schema:
            type: string
          example: EUR
        - include-transparency:
          name: include-transparency
          in: query
          description: Whether to include [Transparent Volume](https://blog.nomics.com/essays/transparent-volume/) information for currencies. Default is `false`. This option is only available to customers of our paid API plans.
          required: false
          schema:
            type: boolean
          example: false
      responses:
        "200":
          description: Price, volume, market cap, and rank for all currencies
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    currency:
                      type: string
                      deprecated: true
                      description: Nomics ID of the currency
                    id:
                      type: string
                      description: Unique Nomics ID of the currency
                    price:
                      type: string
                      description: Current price
                    price_date:
                      type: string
                      description: Date of the price
                    symbol:
                      type: string
                      description: Display symbol of the currency (may be duplicated)
                    circulating_supply:
                      type: string
                      description: Current circulating supply
                    max_supply:
                      type: string
                      description: Current maximum supply
                    name:
                      type: string
                      description: Name of the currency
                    logo_url:
                      type: string
                      description: URL to logo of the currency
                    market_cap:
                      type: string
                      description: Current market cap
                    rank:
                      type: string
                      description: Rank of the currency by market cap
                    high:
                      type: string
                      description: All time high price
                    high_timestamp:
                      type: string
                      description: RFC3999 timestamp of the all time high
                    interval:
                      type: object
                      description: "Interval-specific ticker attributes. The key will be the name of the interval (IE: `1d` or `365d`) and will occur for every requested interval."
                      properties:
                        price_change:
                          type: string
                          description: Amount of price change for the given interval in USD
                        price_change_pct:
                          type: string
                          description: Percent change of price for the given interval
                        volume:
                          type: string
                          description: Total volume for the given interval in USD
                        volume_change:
                          type: string
                          description: Amount of volume change for the given interval in USD
                        volume_change_pct:
                          type: string
                          description: Percent change of volume for the given interval
                        market_cap_change:
                          type: string
                          description: Amount of market cap change for the given interval in USD
                        market_cap_change_pct:
                          type: string
                          description: Percent change of market cap for the given interval
                        volume_transparency:
                          type: array
                          description: An array of `volume`, `volume_change` and `volume_change_pct` by exchange grade
                        volume_transparency_grade":
                          type: string
                          description: The quartile grade assigned to this currency
                  example:
                    currency: "BTC"
                    id: "BTC"
                    price: "8451.36516421"
                    price_date: "2019-06-14"
                    symbol: "BTC"
                    circulating_supply: "17758462"
                    max_supply: "21000000"
                    name: "Bitcoin"
                    logo_url: "https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg"
                    market_cap: "150083247116.70"
                    rank: "1"
                    high: "19404.81116899"
                    high_timestamp: "2017-12-16"
                    1d:
                      price_change: "269.75208019"
                      price_change_pct: "0.03297053"
                      volume: "1110989572.04"
                      volume_change: "-24130098.49"
                      volume_change_pct: "-0.02"
                      market_cap_change: "4805518049.63"
                      market_cap_change_pct: "0.03"
                      volume_transparency:
                        - grade: "A"
                          volume: "2144455081.37"
                          volume_change: "-235524941.08"
                          volume_change_pct: "-0.10"
                        - grade: "B"
                          volume: "15856762.85"
                          volume_change: "-6854329.88"
                          volume_change_pct: "-0.30"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
  /currencies:
    get:
      tags:
        - Currencies
      summary: Currencies Metadata
      operationId: getCurrencies
      x-code-samples:
        $ref: './samples/getCurrencies.json'
      description: |
        The currencies endpoint returns all the currencies and their metadata that Nomics supports.
      parameters:
        - $ref: "#/components/parameters/currency-ids"
        - $ref: "#/components/parameters/currency-attributes"
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: A list of Nomics Currencies
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Nomics Currency ID
                    original_symbol:
                      type: string
                      description: Original symbol from exchange
                    name:
                      type: string
                      description: Currency Name
                    description:
                      type: string
                      description: Currency description
                    website_url:
                      type: string
                      description: Currency website URL
                    logo_url:
                      type: string
                      description: Currency logo URL
                    blog_url:
                      type: string
                      description: Currency blog URL
                    discord_url:
                      type: string
                      description: Currency Discord URL
                    facebook_url:
                      type: string
                      description: Currency Facebook URL
                    github_url:
                      type: string
                      description: Currency GitHub URL
                    medium_url:
                      type: string
                      description: Currency Medium URL
                    reddit_url:
                      type: string
                      description: Currency Reddit URL
                    telegram_url:
                      type: string
                      description: Currency Telegram URL
                    twitter_url:
                      type: string
                      description: Currency Twitter URL
                    whitepaper_url:
                      type: string
                      description: Currency white paper URL
                    youtube_url:
                      type: string
                      description: Currency YouTube URL
                    replaced_by:
                      type: string
                      description: Nomics Currency ID of the currency that replaced the given currency. This can happen on hard forks or blockchain swaps as an example.
                  example:
                    id: BTC
                    original_symbol: BTC
                    name: Bitcoin
                    description: Bitcoin cryptocurrency
                    website_url: https://bitcoin.org/en
                    logo_url: https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg
                    blog_url: https://bitcoin.org/en/blog
                    discord_url: https://discord.gg/bitcoin
                    facebook_url: https://www.facebook.com/bitcoin
                    github_url: https://github.com/bitcoin
                    medium_url: https://medium.com/bitcoin
                    reddit_url: https://www.reddit.com/r/bitcoin
                    telegram_url: https://t.me/bitcoin
                    twitter_url: https://twitter.com/bitcoin
                    whitepaper_url: https://bitcoin.org/en/bitcoin-paper
                    youtube_url: https://www.youtube.com/channel/bitcoin
                    replaced_by: null
            text/csv:
              schema:
                type: string
              example: "BTC"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /currencies/sparkline:
    get:
      tags:
          - Currencies
      summary: Currencies Sparkline
      operationId: getCurrenciesSparkline
      x-code-samples:
        $ref: './samples/getCurrenciesSparkline.json'
      description: |
        The currencies sparkline endpoint returns prices for all currencies within a customizable time interval
        suitable for sparkline charts.

        **Note** the timestamps and prices are built off of OHLCV candles using the close price. This means that the timestamp
        represents the start of the candle, and the price is the close price of that candle. This means the response's final timestamp
        and price value are always as current as possible, but also that the price is effectively "off" by one candle. This endpoint
        is designed to serve as a convenient way to render sparklines, if you need exactly aligned times and prices you can use the
        [Aggregated OHLCV Candles endpoint](#operation/getCandles).
      parameters:
        - $ref: '#/components/parameters/currency-ids'
        - $ref: '#/components/parameters/interval-start'
        - $ref: '#/components/parameters/interval-end'
        - $ref: '#/components/parameters/convert'
      responses:
        '200':
          description: Currency performance over time for all currencies over the requested time period.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    currency:
                      type: string
                      description: Currency ID
                      example: BTC
                    timestamps:
                      type: array
                      description: Time values matching the price value of the same index
                      items:
                        type: string
                        description: Timestamp of the start of the candle in RFC3339
                        example: "2018-04-03T16:00:00Z"
                    prices:
                      type: array
                      description: Price in USD corresponding to timestamp value of the same index
                      items:
                        type: string
                        description: Price in USD
                        example: "7436.82313"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /supplies/history:
    get:
      tags:
        - Currencies*
      summary: Supply History
      operationId: getSupplyHistory
      x-code-samples:
        $ref: './samples/getSupplyHistory.json'
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        Supply history per currency for every day in a time range.
      parameters:
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/interval-start'
        - $ref: '#/components/parameters/interval-end'
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: Daily supply history for a currency.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      description: RFC3999 timestamp
                    available:
                      type: string
                      description: available supply at `timestamp`
                    max:
                      type: string
                      description: max supply at `timestamp`
                  example:
                    timestamp: "2018-05-14T00:04:31Z"
                    available: "17052037.0"
                    max: "21000000.0"
            text/csv:
              schema:
                type: string
              example: "05/14/2018 00:04:31,17052037.0,21000000.0"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /supplies/interval:
    get:
      deprecated: true
      tags:
        - Deprecated
      summary: Supplies Interval
      operationId: getSuppliesInterval
      x-code-samples:
        $ref: './samples/getSuppliesInterval.json'
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        Open and close supply information for all currencies between a customizable time interval.
      parameters:
        - $ref: '#/components/parameters/interval-start'
        - $ref: '#/components/parameters/interval-end'
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: Open and close supply information
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    currency:
                      type: string
                      description: Nomics ID of the currency
                    open_available:
                      type: string
                      description: Open available supply
                    open_max:
                      type: string
                      description: Open max supply
                    open_timestamp:
                      type: string
                      description: RFC3999 timestamp of the open supply information
                    close_available:
                      type: string
                      description: Close available supply
                    close_max:
                      type: string
                      description: Close max supply
                    close_timestamp:
                      type: string
                      description: RFC3999 timestamp of the close supply information
                  example:
                    currency: "BTC"
                    open_available: "17032187.0"
                    open_max: "21000000.0"
                    open_timestamp: "2018-05-14T00:04:31Z"
                    close_available: "17052037.0"
                    close_max: "21000000.0"
                    close_timestamp: "2018-05-24T14:19:34Z"
            text/csv:
              schema:
                type: string
              example: "BTC,17032187.0,21000000.0,05/14/2018 00:04:31,17052037.0,21000000.0,05/24/2018 14:19:34"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /exchanges/ticker:
    get:
      tags:
        - Exchanges*
      summary: Exchanges Ticker
      operationId: getExchangesTicker
      x-code-samples:
        $ref: "./samples/getExchangesTicker.json"
      description: |
        The Exchanges Ticker provides high level information about the exchanges integrated with Nomics.
        It provides a limited amount of metadata, the type of integration, the time range of available data, pairs,
        and interval information about the volume and, where applicable, the number of trades.
      parameters:
        - name: ids
          in: query
          description: Comma separated list of Nomics Exchange IDs to filter result rows
          required: false
          schema:
            type: string
          example: "binance,gdax"
        - interval:
          name: interval
          in: query
          description: Comma separated time interval of the ticker(s). Default is `1d`.
          required: false
          schema:
            type: string
            enum:
              - 1h
              - 1d
              - 7d
              - 30d
              - 365d
              - ytd
          example: 1d,30d
        - convert:
          name: convert
          in: query
          description: Currency to quote ticker price, market cap, and volume values. May be a Fiat Currency or Cryptocurrency. Default is `USD`.
          required: false
          schema:
            type: string
          example: EUR
      responses:
        "200":
          description: Metadata and interval data for exchanges
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Nomics ID of the exchange
                    name:
                      type: string
                      description: Name of the exchange
                    logo_url:
                      type: string
                      description: URL to logo of the exchange
                    transparency_grade:
                      type: string
                      description: Transparency grade of the exchange
                    coverage_type:
                      type: string
                      description: Coverage type of the exchange (trades, candles, tickers)
                    order_books:
                      type: boolean
                      description: Indicates if order books are available
                    first_trade:
                      type: string
                      description: Date of the first trade available
                    first_candle:
                      type: string
                      description: Date of the first candle available
                    first_order_book:
                      type: string
                      description: Date of the first order book available
                    last_updated:
                      type: string
                      description: Timestamp of the last update of data
                    fiat_currencies:
                      type: array
                      description: List of fiat currencies available
                    num_pairs:
                      type: string
                      description: Number of currency pairs (markets) available
                    interval:
                      type: object
                      description: |
                        Interval-specific ticker attributes. The key will be the name of the interval
                        (IE: `1d` or `365d`) and will occur for every requested interval.
                      properties:
                        volume:
                          type: string
                          description: Total volume for the given interval in USD
                        volume_change:
                          type: string
                          description: Amount of volume change for the given interval in USD
                        volume_change_pct:
                          type: string
                          description: Percent change of volume for the given interval
                        trades:
                          type: string
                          description: Total trades for the given interval in USD
                        trades_change:
                          type: string
                          description: Amount of trades change for the given interval in USD
                        trades_change_pct:
                          type: string
                          description: Percent change of trades for the given interval
                  example:
                    id: "gdax"
                    name: "Coinbase Pro"
                    logo_url: "https://s3.us-east-2.amazonaws.com/nomics-api/static/images/exchanges/gdax.jpg"
                    transparency_grade: "A"
                    coverage_type: "trades"
                    order_books: true
                    first_trade: "2014-12-01"
                    first_candle: "2014-12-01"
                    first_order_book: "2018-09-11"
                    last_updated: "2019-08-05T14:53:00.000Z"
                    fiat_currencies: ["EUR","GBP","USD"]
                    num_pairs: "52"
                    1d:
                      volume: "436797947.38"
                      volume_change: "265926751.58"
                      volume_change_pct: "1.5563"
                      trades: "367197"
                      trades_change: "167133"
                      trades_change_pct: "0.8354"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
  /exchanges:
    get:
      tags:
        - Exchanges*
      summary: Exchanges Metadata
      operationId: getExchanges
      x-code-samples:
        $ref: './samples/getExchanges.json'
      description: |
        The exchanges endpoint returns all the exchanges and their metadata that Nomics supports.
      parameters:
        - $ref: "#/components/parameters/exchange-ids"
        - $ref: "#/components/parameters/exchange-attributes"
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: A list of Nomics Exchanges
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Nomics Exchange ID
                    capability_markets:
                      type: boolean
                      description: Flag that determines if the exchange provides markets data
                    capability_trades:
                      type: boolean
                      description: Flag that determines if the exchange provides trades data
                    capability_trades_by_timestamp:
                      type: boolean
                      description: Flag that determines if the exchange provides trades by timestamp data
                    capability_trades_snapshot:
                      type: boolean
                      description: Flag that determines if the exchange provides recent-only trades data
                    capability_orders_snapshot:
                      type: boolean
                      description: Flag that determines if the exchange provides orderbook snapshot data
                    capability_candles:
                      type: boolean
                      description: Flag that determines if the exchange provides OHLCV candle data
                    capability_ticker:
                      type: boolean
                      description: Flag that determines if the exchange provides 24h ticker data
                    integrated:
                      type: boolean
                      description: Flag that determines if the exchange has completed a [Nomics Deep Data Integration](https://nomicsintegration.com)
                    name:
                      type: string
                      description: Exchange Name
                    description:
                      type: string
                      description: Exchange description
                    location:
                      type: string
                      description: Primary exchange location country
                    logo_url:
                      type: string
                      description: Exchange logo URL
                    website_url:
                      type: string
                      description: Exchange website URL
                    fees_url:
                      type: string
                      description: Exchange fees URL
                    twitter_url:
                      type: string
                      description: Exchange Twitter URL
                    facebook_url:
                      type: string
                      description: Exchange Facebook URL
                    reddit_url:
                      type: string
                      description: Exchange Reddit URL
                    chat_url:
                      type: string
                      description: Exchange chat URL
                    blog_url:
                      type: string
                      description: Exchange blog URL
                    year:
                      type: string
                      description: Year exchange became active
                    transparency_grade:
                      type: string
                      description: The [Nomics Transparency Rating](https://blog.nomics.com/essays/transparency-ratings/) for the exchange
                  example:
                    id: binance
                    capability_markets": true
                    capability_trades": true
                    capability_trades_by_timestamp": false
                    capability_trades_snapshot": false
                    capability_orders_snapshot": true
                    capability_candles": false
                    capability_ticker": false
                    integrated": false
                    name: Binance
                    description: The company was created under the tutelage of Changpeng 'CZ' Zhao and his co-founder Yi He.
                    location: Malta
                    logo_url: https://s3.us-east-2.amazonaws.com/nomics-api/static/images/exchanges/binance.svg
                    website_url: https://www.binance.com/
                    fees_url: https://www.binance.com/en/fee/schedule
                    twitter_url: https://twitter.com/binance
                    facebook_url: https://www.facebook.com/binance
                    reddit_url: https://www.reddit.com/r/binance/
                    chat_url: https://t.me/binanceexchange
                    blog_url: https://www.binance.com/en/blog
                    year: 2017
                    transparency_grade: A
            text/csv:
              schema:
                type: string
              example: "Binance"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /markets:
    get:
      tags:
        - Markets
      summary: Markets
      operationId: getMarkets
      x-code-samples:
        $ref: './samples/getMarkets.json'
      description: |
        The markets endpoint returns information on the exchanges and markets that Nomics supports,
        in addition to the Nomics currency identifiers for the base and quote currency.
      parameters:
        - name: exchange
          in: query
          description: Nomics Exchange ID to filter by
          schema:
            type: string
          example: binance
        - name: base
          in: query
          description: Comma separated list of base currencies to filter by
          schema:
            type: string
          example: BTC,ETH,LTC,XMR
        - name: quote
          in: query
          description: Comma separated list of quote currencies to filter by
          schema:
            type: string
          example: BTC,ETH,BNB
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: A list of markets
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    exchange:
                      type: string
                      description: Nomics Exchange ID
                    market:
                      type: string
                      description: The Exchange's Market ID (usable on Exchange's API)
                    base:
                      type: string
                      description: Nomics Currency ID of the asset being traded
                    quote:
                      type: string
                      description: Nomics Currency ID of the asset used to quote a price
                  example:
                    exchange: binance
                    market: XMRBTC
                    base: XMR
                    quote: BTC
            text/csv:
              schema:
                type: string
              example: "bitfinex,avtbtc,AVT,BTC"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /exchange-markets/ticker:
    get:
      tags:
        - Markets*
      summary: Exchange Markets Ticker
      operationId: getExchangeMarketsTicker
      x-code-samples:
        $ref: './samples/getExchangeMarketsTicker.json'
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The Exchange Markets Ticker provides high level information about individual markets on exchanges integrated
        with Nomics. It provides metadata, the type of market, aggregation information, current financial data, and
        financial data over preset intervals.
      parameters:
        - name: interval
          in: query
          description: Comma separated time interval of the ticker(s).
          required: false
          default: 1d
          schema:
            type: string
            enum:
              - 1h
              - 1d
              - 7d
              - 30d
              - 365d
              - ytd
          example: 1d,30d
        - name: currency
          in: query
          description: A comma separated list of Nomics Currency IDs. A market must have one of the currencies as
            either its base or quote currency to be included.
          schema:
            type: string
          example: BTC,ETH
        - name: base
          in: query
          description: A comma separated list of Nomics Currency IDs. A market must have one of the currencies as
            its base currency to be included.
          schema:
            type: string
        - name: quote
          in: query
          description: A comma separated list of Nomics Currency IDs. A market must have one of the currencies as
            its quote currency to be included.
          schema:
            type: string
        - name: exchange
          in: query
          description: A comma separated list of Nomics Exchange IDs. A market must be on one of the exchanges to be
            included.
          schema:
            type: string
          example: binance,gdax
        - name: market
          in: query
          description: A comma separated list of Nomics Market IDs. A market's `market_id` must be one of the provided
            markets to be included.
          schema:
            type: string
        - name: convert
          in: query
          description: Nomics Currency ID to convert all financial data to
          default: USD
          schema:
            type: string
          example: BTC
      responses:
        "200":
          description: Metadata and interval data for individual markets on exchanges
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    exchange:
                      type: string
                      description: Nomics Exchange ID
                    market:
                      type: string
                      description: Nomics Market ID
                    type:
                      type: string
                      enum:
                        - spot
                        - derivative
                        - index
                      description: Market Type
                    aggregated:
                      type: boolean
                      description: Indicates if the market is used to price the base and quote currencies. See
                        [Nomics Pricing Methodology](https://blog.nomics.com/newsletter/nomics-pricing-methodology-explained/)
                        for more information.
                    price_exclude:
                      type: boolean
                      description: Indicates if the market has been excluded from pricing the base and quote currencies.
                    volume_exclude:
                      type: boolean
                      description: Indicates if the market has been excluded from counting towards volume for base and
                        quote currencies.
                    base:
                      type: string
                      description: Nomics Currency ID of the base of the market
                    quote:
                      type: string
                      description: Nomics Currency ID of the quote of the market
                    base_symbol:
                      type: string
                      description: Nomics display symbol of the base of the market
                    quote_symbol:
                      type: string
                      description: Nomics display symbol of the quote of the market
                    price:
                      type: string
                      description: Latest price of the market in USD
                    price_quote:
                      type: string
                      description: Latest price of the market in the quote currency
                    last_updated:
                      type: string
                      description: Timestamp of when the market was last updated
                    interval:
                      type: object
                      description: |
                        Interval-specific ticker attributes. The key will be the name of the interval
                        (IE: `1d` or `365d`) and will occur for every requested interval.
                      properties:
                        volume:
                          type: string
                          description: Volume in USD
                        volume_base:
                          type: string
                          description: Volume in the base currency
                        volume_change:
                          type: string
                          description: Change of the volume in USD
                        volume_base_change:
                          type: string
                          description: Change of the volume in the base currency
                        trades:
                          type: string
                          description: Number of trades
                        trades_change:
                          type: string
                          description: Change in the number of trades
                        price_change:
                          type: string
                          description: Change in the price in USD
                        price_quote_change:
                          type: string
                          description: Change in the price in the quote currency
                  example:
                    exchange: "binance"
                    market: "BTCUSDT"
                    type: "spot"
                    aggregated: false
                    price_exclude: false
                    volume_exclude: false
                    base: "BTC"
                    quote: "USDT"
                    base_symbol: "BTC"
                    quote_symbol: "USDT"
                    price: "7252.08623165"
                    price_quote: "7231.48000000"
                    last_updated: "2019-11-22T18:57:00Z"
                    1d:
                      volume: "811359239.06"
                      volume_base: "111495.36"
                      volume_base_change: "-56699.74"
                      volume_change: "367840228.36"
                      trades: "693395"
                      trades_change: "-381033"
                      price_change: "-343.64505167"
                      price_quote_change: "0.00000000"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /markets/prices:
    get:
      deprecated: true
      tags:
        - Deprecated
      summary: Market Prices
      operationId: getMarketPrices
      x-code-samples:
        $ref: './samples/getMarketPrices.json'
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The market prices endpoint returns prices in USD for the last trade in each market with the given base
        currency. These prices only include markets with quote currencies that are used as part of our
        [Pricing Methodology](https://blog.nomics.com/nomics-newsletter/nomics-pricing-methodology-explained/)
        (fiat, BTC, and ETH) to convert to USD.
      parameters:
        - name: currency
          in: query
          description: Nomics Currency ID of the desired base currency
          required: true
          schema:
            type: string
          example: BTC
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: A list of markets with their price
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    exchange:
                      type: string
                      description: Nomics ID of the exchange
                    quote:
                      type: string
                      description: Nomics ID of the quote currency
                    price:
                      type: string
                      description: Price in USD of the most recent trade
                    timestamp:
                      type: string
                      description: RFC3339 Timestamp of the most recent trade
                  example:
                    exchange: "bitfinex"
                    quote: "USD"
                    price: "7419.69255"
                    timestamp: "2018-06-05T13:23:18.345Z"
            text/csv:
              schema:
                type: string
              example: "bitfinex,USD,7419.69255,06/05/2018 13:23:18"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /markets/interval:
    get:
      deprecated: true
      tags:
        - Deprecated
      summary: Market Interval
      operationId: getMarketInterval
      x-code-samples:
        $ref: './samples/getMarketInterval.json'
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The market interval endpoint returns a summary of information about all markets based in a given currency over
        a configurable time interval.
      parameters:
        - name: currency
          in: query
          description: Nomics Currency ID to query information for
          required: true
          schema:
            type: string
          example: BTC
        - name: hours
          in: query
          description: Number of hours back to calculate data
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 8760
            default: 1
        - name: start
          in: query
          description: |
            Start time of the interval in RFC3339 (URI escaped). If not provided, it is computed using the
            hours parameter.
          required: false
          schema:
            type: string
          example: "2018-04-14T00%3A00%3A00Z"
        - $ref: '#/components/parameters/interval-end'
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: A list of markets with price and volume information for a currency
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketInterval'
            text/csv:
              schema:
                type: string
              example: "bitfinex,EUR,5107055.26765,9484.34395,05/03/2018 15:00:00,9671.60953,05/03/2018 20:31:24"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /exchange-markets/prices:
    get:
      deprecated: true
      tags:
        - Deprecated
      summary: Exchange Market Prices
      operationId: getExchangeMarketPrices
      x-code-samples:
        $ref: './samples/getExchangeMarketPrices.json'
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The exchange market prices endpoint returns prices for the last trade in each market
      parameters:
        - name: currency
          in: query
          description: Nomics Currency ID to filter by. If present, only markets with this currency as the base or quote will be returned.
          schema:
            type: string
          example: BTC
        - name: exchange
          in: query
          description: Nomics Exchange ID to filter by. If present, only markets on this exchange will be returned
          schema:
            type: string
          example: binance
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: A list of markets with their prices
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    exchange:
                      type: string
                      description: Nomics ID of the exchange
                    base:
                      type: string
                      description: Nomics ID of the base currency
                    quote:
                      type: string
                      description: Nomics ID of the quote currency
                    price_quote:
                      type: string
                      description: Price in the quote currency of the most recent trade
                    timestamp:
                      type: string
                      description: RFC3339 Timestamp of the most recent trade
                  example:
                    exchange: "binance"
                    base: "ADA"
                    quote: "BTC"
                    price_quote: "0.00002183"
                    timestamp: "2018-06-25T15:13:21.304Z"
            text/csv:
              schema:
                type: string
              example: "binance,ADA,BTC,0.00002181,06/25/2018 15:17:06"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /exchange-markets/interval:
    get:
      deprecated: true
      tags:
        - Deprecated
      summary: Exchange Market Interval
      operationId: getExchangeMarketInterval
      x-code-samples:
        $ref: './samples/getExchangeMarketInterval.json'
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The exchange market interval endpoint returns a summary of information about all markets over a configurable
        time interval in their native values.
      parameters:
        - name: currency
          in: query
          description: Nomics Currency ID to filter by. If present, only markets with this currency as the base or quote will be returned.
          schema:
            type: string
          example: BTC
        - name: exchange
          in: query
          description: Nomics Exchange ID to filter by. If present, only markets on this exchange will be returned
          schema:
            type: string
        - name: start
          in: query
          description: Start time of the interval in RFC3339 (URI escaped).
          required: true
          schema:
            type: string
          example: "2018-04-14T00%3A00%3A00Z"
        - $ref: '#/components/parameters/interval-end'
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: A list of markets with price and volume information for a currency
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    exchange:
                      type: string
                      description: Nomics Exchange ID
                    base:
                      type: string
                      description: Nomics Currency ID of the asset being traded
                    quote:
                      type: string
                      description: Nomics Currency ID of the asset used to quote a price
                    volume_base:
                      type: string
                      description: Total volume in the base currency
                    volume_usd:
                      type: string
                      description: Total volume in USD
                    open_quote:
                      type: string
                      description: Open price in the quote currency
                    open_timestamp:
                      type: string
                      description: Timestamp of the open price in RFC 3339
                    close_quote:
                      type: string
                      description: Close price in the quote currency
                    close_timestamp:
                      type: string
                      description: Timestamp of the close price in RFC 3339
                    num_trades:
                      type: string
                      description: Total number of trades
                  example:
                    exchange: "binance"
                    base: "ADA"
                    quote: "BTC"
                    volume_base: "4974200617.00000"
                    volume_usd: "1496075991.61416"
                    open_quote: "0.00002547"
                    open_timestamp: "2018-04-14T00:00:00Z"
                    close_quote: "0.00003071"
                    close_timestamp: "2018-05-14T00:00:00Z"
                    num_trades: "2456653"
            text/csv:
              schema:
                type: string
              example: "binance,ADA,BTC,4974200617.00000,1496075991.61416,0.00002547,04/14/2018 00:00:00,0.00003071,05/14/2018 00:00:00,2456653"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /market-cap/history:
    get:
      tags:
        - Markets
      summary: Market Cap History
      operationId: getMarketCapHistory
      x-code-samples:
        $ref: './samples/getMarketCapHistory.json'
      description: |
        MarketCap History is the total market cap for all cryptoassets at intervals between the requested time period.
      parameters:
        - $ref: '#/components/parameters/interval-start'
        - $ref: '#/components/parameters/interval-end'
        - $ref: '#/components/parameters/convert'
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: Performance over time for the entire market.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      description: RFC3339 timestamp
                      example: "2018-07-05T15:00:00Z"
                    market_cap:
                      type: string
                      description: Total market cap in USD
                      example: "269222501959"
            test/csv:
              schema:
                type: string
              example: "07/05/2018 15:00:00,269222501959"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /candles:
    get:
      tags:
        - Candles*
      summary: Aggregated OHLCV Candles
      operationId: getCandles
      x-code-samples:
        $ref: './samples/getCandles.json'
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The candles endpoint returns aggregated open, high, low, close, and volume information for Nomics currencies.
        When asking for candles, a currency is provided as a parameter. Nomics aggregates all markets where the given
        currency is the base currency and the quote currency is a fiat currency, BTC, or ETH and returns all values in
        USD.

        Candles are aggregated across all markets for the base currencies, which necessitates converting to a common
        quote currency. Nomics converts all markets into USD in order to aggregated candles.

        Candles have the following time range limits based on interval and time:

        * `1d`: Available from inception with no range limit
        * `1h`: Available from inception. Time range limits:
          * Past 30 days: accessible in a single request
          * Older than 30 days: 7 days at a time
      parameters:
        - $ref: '#/components/parameters/candle-interval'
        - $ref: '#/components/parameters/currency'
        - interval-start:
          name: start
          in: query
          description: |
            Start time of the interval in RFC3339 (URI escaped). If
            not provided, starts from the first candle for daily
            candles and from the current time minus 30 days for hourly
            candles.
          required: false
          schema:
            type: string
          example: "2018-04-14T00%3A00%3A00Z"
        - interval-end:
          name: end
          in: query
          description: |
            End time of the interval in RFC3339 (URI escaped). If not
            provided, the current time is used except for when hourly
            candles with a `start` time older than 30 days are
            requested.  In that case, the `end` time defaults to the
            `start` time plus 7 days.
          required: false
          schema:
            type: string
          example: "2018-05-14T00%3A00%3A00Z"
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: A list of candles
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      description: Start time of the candle in RFC3339
                    low:
                      type: string
                      description: Lowest price in USD
                    open:
                      type: string
                      description: First trade price in USD
                    close:
                      type: string
                      description: Last trade price in USD
                    high:
                      type: string
                      description: Highest price in USD
                    volume:
                      type: string
                      description: Volume in USD
                  example:
                    timestamp: "2018-04-14T00:00:00Z"
                    low: "6737.42284"
                    open: "7876.07784"
                    close: "7992.22799"
                    high: "8226.35323"
                    volume: "1977895013"
            text/csv:
              schema:
                type: string
              example: "2018-03-19T10:00:00Z,7024.32225,8276.19407,8281.17307,8566.43000,59624801"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /volume/history:
    get:
      tags:
        - Volume
      summary: Global Volume History
      operationId: getVolumeHistory
      x-code-samples:
        $ref: './samples/getVolumeHistory.json'
      description: |
        Volume History is the total volume for all cryptoassets in USD at intervals between the requested time period.
      parameters:
        - start:
          name: start
          in: query
          description: Start time of the interval in RFC3339 (URI escaped)
          schema:
            type: string
          example: "2018-04-14T00%3A00%3A00Z"
        - end:
          name: end
          in: query
          description: |
            End time of the interval in RFC3339 (URI escaped). If not provided,
            the current time is used.
          schema:
            type: string
          example: "2018-05-14T00%3A00%3A00Z"
        - convert:
          name: convert
          in: query
          description: Currency to quote volume values. May be a Fiat Currency or Cryptocurrency. Default is `USD`.
          required: false
          schema:
            type: string
          example: EUR
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: Volume over time for all currencies
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      description: RFC3339 timestamp
                      example: "2018-04-14T00:00:00Z"
                    volume:
                      type: string
                      description: Total volume in USD
                      example: "5209035491"
            test/csv:
              schema:
                type: string
              example: "04/14/2018 00:00:00,5209035491"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /exchange-rates:
    get:
      tags:
        - Exchange Rates
      summary: Exchange Rates
      operationId: getExchangeRates
      x-code-samples:
        $ref: './samples/getExchangeRates.json'
      description: |
        The exchange rates endpoint returns the current exchange rates used by Nomics to convert prices from markets
        into USD. This contains Fiat currencies as well as a BTC and ETH quote prices. This endpoint helps normalize
        data across markets as well as to provide localization for users.

        Currently, this endpoint does not support historical data, but this feature is planned.
      parameters:
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: List of exchange rates into USD
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExchangeRate"
            text/csv:
              schema:
                type: string
              example: "AUD,0.76953,2018-04-04T00:00:00Z"

        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /exchange-rates/history:
    get:
      tags:
        - Exchange Rates
      summary: Exchange Rates History
      operationId: getExchangeRatesHistory
      x-code-samples:
        $ref: './samples/getExchangeRatesHistory.json'
      description: |
        Exchange rates for every point in a time range. This endpoint can be used with other history endpoints
        to convert values into a desired quote currency.

        The currency parameter must be a Nomics Quote Currency, to get all Nomics Quote Currencies, use the
        `/exchange-rates` endpoint for all current rates.
      parameters:
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/interval-start'
        - $ref: '#/components/parameters/interval-end'
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: Exchange rates for every point in a time range
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      description: RFC3999 timestamp of the rate
                    rate:
                      type: string
                      description: Rate of exchange to USD
                  example:
                    timestamp: "2018-05-01T00:00:00Z"
                    rate: "1.2079045272261680"
            text/csv:
              schema:
                type: string
              example: "05/01/2018 00:00:00,1.2079045272261680"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /trades:
    get:
      tags:
        - Trades*
      summary: Trades
      operationId: getTrades
      x-code-samples:
        $ref: './samples/getTrades.json'
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The trades endpoint returns individual trades in a normalized format for an individual
        exchange market.

        ### Getting the most recent trades

        By default, the trades endpoint returns the 100 most recent trades in descending order.
        You only need to provide the required parameters.

        ### Sequential ingestion

        If you want to page through trades sequentially for ingestion, follow these steps:

        1. Get the first page of trades `order=asc`
        2. Get the timestamp of the last trade in the page, let's call it `last`
        3. Get the next page of trades `order=asc&from=<last>`
        4. Repeat 2 and 3

        To reverse chronologically ingest, make a request for the most recent trades, and
        proceed as above but with `order=desc`.

        ### Building your own candles

        If you want to build your own candles, follow the steps for sequential ingestion, but start
        with `from=<start>` in step 1, where `start` is the start of your candle.

        Then, stop when you see a trade past your candle's `end` timestamp, discard trades past
        `end` and perform your aggregation.
      parameters:
        - $ref: '#/components/parameters/exchange'
        - $ref: '#/components/parameters/market'
        - name: limit
          in: query
          description: Maximum number of trades returned
          schema:
            type: integer
            minimum: 1
            maximum: 2500
            default: 100
          example: 100
        - name: order
          in: query
          description: >
            Defines the sort order of returned trades and the direction from `from`.
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          example: asc
        - name: from
          in: query
          description: >
            Timestamp from which results should start in RFC3339. Please ensure you URI encode the timestamp.
            From is inclusive.
          schema:
            type: string
          example: "1970-01-01T00%3A00%3A00Z"
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: List of trades
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Trade"
            text/csv:
              schema:
                type: string
              example: "1,12/01/2014 05:33:56,300.00000000,0.01000000"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /orders/snapshot:
    get:
      tags:
        - Orders*
      summary: Order Book Snapshot
      operationId: getOrderBookSnapshot
      x-code-samples:
        $ref: './samples/getOrderBookSnapshot.json'
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The most recent order book snapshot for the given exchange and market.

        CSV format is: `timestamp,bidPrice,bidAmount,askPrice,askAmount`
      parameters:
        - $ref: '#/components/parameters/exchange'
        - $ref: '#/components/parameters/market'
        - at:
          name: at
          in: query
          description: The newest order book *before* this timestamp will be returned. Timestamp should be in RFC3339 (URI escaped).
          schema:
            type: string
          example: "2019-04-01T12%3A00%3A00Z"
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: Order book snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    description: RFC3339 timestamp of the order book snapshot
                    example: "2018-05-14T00:04:31Z"
                  bids:
                    description: Tuples of bids in descending order (first entry is best bid). First entry is price in the quote currency. Second entry is volume of the base currency.
                    type: array
                    items:
                      type: array
                      items:
                        type: double
                    example: [[7017.98,0.18376],[7017.97,0.094285],[7017.95,2],[7017.87,0.214651],[7017.38,2]]
                  asks:
                    description: Tuples of asks in ascending order (first entry is best ask). First entry is price in the quote currency. Second entry is volume of the base currency.
                    type: array
                    items:
                      type: array
                      items:
                        type: double
                    example: [[7020,4.77738],[7020.03,0.864663],[7020.26,2.856361],[7020.27,0.031258],[7021,3.076297]]
            text/csv:
              schema:
                type: string
              example: "08/29/2018 20:14:04,7014.31,0.178164,7015.99,0.000044"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /exchange_candles:
    get:
      tags:
        - Candles*
      summary: Exchange OHLCV Candles
      operationId: getExchangeCandles
      x-code-samples:
        $ref: './samples/getExchangeCandles.json'
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The exchange candles endpoint returns raw open, close, high, low, and volume information for Nomics Markets.
        The data is not aggregated, therefore prices are in the quote currency of the market and volume is in the base
        currency of the market.

        History is available for all candle sizes from inception, but
        there are limits on the length of the date range you can
        request at a time:

        | interval | limit per request |
        |----------|-------------------|
        | `1d`     | no limit          |
        | `4h`     | 120 days          |
        | `1h`     | 30 days           |
        | `30m`    | 14 days           |
        | `5m`     | 3 days            |
        | `1m`     | 1 day             |

        If the difference between your `end` and `start` parameters
        for the `interval` you're requesting exceeds the limit, then
        you'll receive an error.
      parameters:
        - $ref: '#/components/parameters/exchange-candle-interval'
        - $ref: '#/components/parameters/exchange'
        - $ref: '#/components/parameters/market'
        - interval-start:
          name: start
          in: query
          description: |
            Start time of the interval in RFC3339 (URI escaped).  If
            not provided, then candles will be returned starting from
            the current time minus the date range limit for the
            requested interval.  For example, if you request hourly
            candles without specifying a start time, then candles
            spanning the last 30 days will be returned.
          required: false
          schema:
            type: string
          example: "2018-04-14T00%3A00%3A00Z"
        - $ref: '#/components/parameters/interval-end'
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: A list of candles
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      description: Start time of the candle in RFC3339
                    low:
                      type: string
                      description: Lowest price in quote currency
                    open:
                      type: string
                      description: First trade price in quote currency
                    close:
                      type: string
                      description: Last trade price in quote currency
                    high:
                      type: string
                      description: Highest price in quote currency
                    volume:
                      type: string
                      description: Volume in base currency
                    num_trades:
                      type: string
                      description: Number of trades
                  example:
                    timestamp: "2018-04-14T00:00:00Z"
                    low: "7810.00000000"
                    open: "7877.48000000"
                    close: "7999.01000000"
                    high: "8186.00000000"
                    volume: "31621.28635700"
                    num_trades: "168756"
            text/csv:
              schema:
                type: string
              example: "04/14/2018 00:00:00,7810.00000000,7877.48000000,7999.01000000,8186.00000000,31621.28635700,168756"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /markets/candles:
    get:
      tags:
        - Candles*
      summary: Aggregated Pair OHLCV Candles
      operationId: getMarketCandles
      x-code-samples:
        $ref: './samples/getMarketCandles.json'
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The Aggregated Pair Candles endpoint returns aggregated open, close, high, low, and volume information for an
        Aggregated Pair of base and quote currencies. Open and Close are volume weighted averages across markets, while
        High and Low are the max and min prices across markets. Volume is the total volume.

        This is equivalent to getting Exchange Market OHLCV Candles across all exchanges with the given base and quote
        and merging them together. This is different from Aggregated OHLCV Candles because those convert to USD and
        merge candles across the base currency only.

        The data is aggregated but not converted to USD, so OHLC values are in the quote currency unit and Volume
        is in the base currency unit.

        History is available for all candle sizes from inception, but
        there are limits on the length of the date range you can
        request at a time:

        | interval | limit    |
        |----------|----------|
        | `1d`     | no limit |
        | `4h`     | 120 days |
        | `1h`     | 30 days  |
        | `30m`    | 14 days  |
        | `5m`     | 3 days   |
        | `1m`     | 1 day    |

        If the difference between your `end` and `start` parameters
        for the `interval` you're requesting exceeds the limit, then
        you'll receive an error.
      parameters:
        - $ref: '#/components/parameters/exchange-candle-interval'
        - name: base
          in: query
          required: true
          description: Base currency of the pair
          schema:
            type: string
          example: ETH
        - name: quote
          in: query
          required: true
          description: Quote currency of the pair
          schema:
            type: string
          example: BTC
        - interval-start:
          name: start
          in: query
          description: |
            Start time of the interval in RFC3339 (URI escaped).  If
            not provided, then candles will be returned starting from
            the current time minus the date range limit for the
            requested interval.  For example, if you request hourly
            candles without specifying a start time, then candles
            spanning the last 30 days will be returned.
          required: false
          schema:
            type: string
          example: "2018-04-14T00%3A00%3A00Z"
        - $ref: '#/components/parameters/interval-end'
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: A list of candles
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      description: Start time of the candle in RFC3339
                    low:
                      type: string
                      description: Lowest price in quote currency
                    open:
                      type: string
                      description: Volume weighted average of first trade prices in quote currency
                    close:
                      type: string
                      description: Volume weighted average of last trade prices in quote currency
                    high:
                      type: string
                      description: Highest price in quote currency
                    volume:
                      type: string
                      description: Volume in base currency
                    num_trades:
                      type: string
                      description: Total number of trades across all markets
                  example:
                    timestamp: "2018-04-14T00:00:00Z"
                    low: "0.06101"
                    open: "0.06267940"
                    close: "0.06282333"
                    high: "0.066667"
                    volume: "193325.66033455"
                    num_trades: "185948"
            text/csv:
              schema:
                type: string
              example: "04/14/2018 00:00:00,0.06101,0.06267940,0.06282333,0.066667,193325.66033455,185948"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /prices:
    get:
      deprecated: true
      tags:
        - Deprecated
      summary: Prices
      operationId: getPrices
      x-code-samples:
        $ref: './samples/getPrices.json'
      description: |
        The prices endpoint returns current prices for all currencies. Prices are updated every 10 seconds.
      parameters:
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: A list of currencies with their price
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Price'
            text/csv:
              schema:
                type: string
              example: "BTC,10000.00000"
        '401':
            $ref: '#/components/responses/UnauthorizedError'
  /dashboard:
    get:
      deprecated: true
      tags:
        - Deprecated
      summary: Dashboard
      operationId: getDashboard
      x-code-samples:
        $ref: './samples/getDashboard.json'
      description: |
        The dashboard endpoint is a high level view of the current state of the market. It contains a wide
        variety of information and is updated every 10 seconds.
      parameters:
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: A list of currency summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Dashboard"
            text/csv:
              schema:
                type: string
              example: "BTC,7436.82313,1017039454.62165,1013499101.75834,7123.20591,7856259697.70049,7139283718.53940,10769.08245,41483988434.15605,50120582053.23234,1144.85801,385101925394.80138,16773015388.14144,6888.45685,24436.29525,2018-01-05T00:00:00Z,bithumb,KRW,16957550.0,21000000.0"
        '401':
            $ref: '#/components/responses/UnauthorizedError'
  /currencies/interval:
    get:
      deprecated: true
      tags:
        - Deprecated
      summary: Currencies Interval
      operationId: getCurrenciesInterval
      x-code-samples:
        $ref: './samples/getCurrenciesInterval.json'
      description: |
        Open and close prices and volume for all currencies between a customizable time range.
      parameters:
        - $ref: '#/components/parameters/interval-start'
        - $ref: '#/components/parameters/interval-end'
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: Open, close, and volume for all currencies in a time range
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    currency:
                      type: string
                      description: Nomics ID of the currency
                    volume:
                      type: string
                      description: Total volume in USD over the time range
                    open:
                      type: string
                      description: Open price in USD
                    open_timestamp:
                      type: string
                      description: RFC3999 timestamp of the open price
                    close:
                      type: string
                      description: Close price in USD
                    close_timestamp:
                      type: string
                      description: RFC3999 timestamp of the open price
                  example:
                    currency: "BTC"
                    volume: "7039575495.41955"
                    open: "8746.03472"
                    open_timestamp: "2018-05-14T00:00:00Z"
                    close: "7509.12469"
                    close_timestamp: "2018-05-24T00:00:00Z"
            text/csv:
              schema:
                type: string
              example: "BTC,7042240511.06433,8746.03472,05/14/2018 00:00:00,7498.07225,05/24/2018 00:00:00"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /currencies/highs:
    get:
      deprecated: true
      tags:
        - Deprecated
      summary: All Time Highs
      operationId: getCurrencyHighs
      x-code-samples:
        $ref: './samples/getCurrencyHighs.json'
      description: |
        Returns all time high information for all currencies.
      parameters:
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: All time highs for all currencies
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    currency:
                      type: string
                      description: Nomics ID of the currency
                    price:
                      type: string
                      description: Highest price of the currency in USD
                    timestamp:
                      type: string
                      description: Timestamp of the high price in RFC3339
                    exchange:
                      type: string
                      description: Exchange ID on which the high occurred
                    quote:
                      type: string
                      description: Quote currency against which the high occurred
                  example:
                    currency: "BTC"
                    price: "24436.29525"
                    timestamp: "2018-01-05T00:00:00Z"
                    exchange: "bithumb"
                    quote: "KRW"
            test/csv:
              schema:
                type: string
              example: "BTC,24436.29525,01/05/2018 00:00:00,bithumb,KRW"
        '401':
            $ref: '#/components/responses/UnauthorizedError'
  /sparkline:
    get:
      tags:
        - Deprecated
      summary: Sparkline
      deprecated: true
      operationId: getSparkline
      x-code-samples:
        $ref: './samples/getSparkline.json'
      description: |
        **Deprecated in favor of [Currencies Sparkline](#operation/getCurrenciesSparkline)**

        The sparkline endpoint is a high level view of currency performance over a variety of intervals.
      responses:
        '200':
          description: Currency performance over time for all currencies over day, week, month, and year periods.
          content:
            application/json:
              schema:
                type: object
                properties:
                  day:
                    type: array
                    description: Currency performance over the past 24 hours
                    items:
                      $ref: "#/components/schemas/SparklineRow"
                  week:
                    type: array
                    description: Currency performance over the past 7 days
                    items:
                      $ref: "#/components/schemas/SparklineRow"
                  month:
                    type: array
                    description: Currency performance over the past 30 days
                    items:
                      $ref: "#/components/schemas/SparklineRow"
                  year:
                    type: array
                    description: Currency performance over the past 365 days
                    items:
                      $ref: "#/components/schemas/SparklineRow"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /market-cap/sparkline:
    get:
      deprecated: true
      tags:
        - Deprecated
      summary: Market Cap Sparkline
      operationId: getMarketCapSparkline
      x-code-samples:
        $ref: './samples/getMarketCapSparkline.json'
      description: |
        **Deprecated in favor of [Market Cap History](#operation/getMarketCapHistory)**

        The Market Cap Sparkline is a high level history of the market cap for all assets.
      responses:
        '200':
          description: Performance over time for the entire market over day, week, month, and year periods.
          content:
            application/json:
              schema:
                type: object
                properties:
                  day:
                    type: array
                    description: Market performance over the past 24 hours
                    items:
                      $ref: "#/components/schemas/MarketCapSparklineRow"
                  week:
                    type: array
                    description: Market performance over the past 7 days
                    items:
                      $ref: "#/components/schemas/MarketCapSparklineRow"
                  month:
                    type: array
                    description: Market performance over the past 30 days
                    items:
                      $ref: "#/components/schemas/MarketCapSparklineRow"
                  year:
                    type: array
                    description: Market performance over the past 365 days
                    items:
                      $ref: "#/components/schemas/MarketCapSparklineRow"
        '401':
           $ref: '#/components/responses/UnauthorizedError'
  /exchange-rates/interval:
    get:
      deprecated: true
      tags:
        - Deprecated
      summary: Exchange Rates Interval
      operationId: getExchangeRatesInterval
      x-code-samples:
        $ref: './samples/getExchangeRatesInterval.json'
      description: |
        Exchange rates to convert from USD over a time interval. This endpoint can be used with other interval endpoints
        to convert values into a desired quote currency.
      parameters:
        - $ref: '#/components/parameters/interval-start'
        - $ref: '#/components/parameters/interval-end'
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: List of exchange rates open and close information
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    currency:
                      type: string
                      description: Nomics ID of the currency
                    open:
                      type: string
                      description: Open rate of exchange
                    open_timestamp:
                      type: string
                      description: RFC3999 timestamp of the open rate
                    close:
                      type: string
                      description: Close rate of exchange
                    close_timestamp:
                      type: string
                      description: RFC3999 timestamp of the open rate
                  example:
                    currency: "EUR"
                    open: "1.1934028689404969"
                    open_timestamp: "2018-05-14T00:00:00Z"
                    close: "1.1707956727391936"
                    close_timestamp: "2018-05-24T00:00:00Z"
            text/csv:
              schema:
                type: string
              example: "EUR,1.1934028689404969,05/14/2018 00:00:00,1.1707956727391936,05/24/2018 00:00:00"
        '401':
          $ref: '#/components/responses/UnauthorizedError'

components:
  securitySchemes:
    Key:
      type: apiKey
      in: query
      name: key
      description: |
        **You must include your API Key as a query parameter in every request you make.**

        For example:

        https://api.nomics.com/v1/markets?key=your-api-key-goes-here

        **The key used in the examples on this page is changed regularly** and is intended only as a demo.
        [Get your free Nomics API key here](https://p.nomics.com/cryptocurrency-bitcoin-api/)
  schemas:
    MarketInterval:
      type: object
      properties:
        exchange:
          type: string
          description: Nomics Exchange ID
        quote:
          type: string
          description: Nomics Currency ID of the asset used to quote a price
        volume:
          type: string
          description: Total volume in USD
        open:
          type: string
          description: Open price in USD
        open_timestamp:
          type: string
          description: Timestamp of the open price in RFC 3339
        close:
          type: string
          description: Close price in USD
        close_timestamp:
          type: string
          description: Timestamp of the close price in RFC 3339
      example:
        exchange: "bitfinex"
        quote: "EUR"
        volume: "4986395.59716"
        open: "9484.34395"
        open_timestamp: "2018-05-03T15:00:00Z"
        close: "9671.60953"
        close_timestamp: "2018-05-03T20:31:24.737Z"
    Price:
      type: object
      properties:
        currency:
          type: string
          description: Currency ID
        price:
          type: string
          description: Price
      example:
        currency: BTC
        price: "10000.00000"
    Dashboard:
      type: object
      properties:
        currency:
          type: string
          description: Currency ID
        dayOpen:
          type: string
          description: Price one day ago
        dayVolume:
          type: string
          description: Volume over the past day
        dayOpenVolume:
          type: string
          description: Volume over the previous day
        weekOpen:
          type: string
          description: Price one week ago
        weekVolume:
          type: string
          description: Volume over the past week
        weekOpenVolume:
          type: string
          description: Volume over the previous week
        monthOpen:
          type: string
          description: Price one month ago
        monthVolume:
          type: string
          description: Volume over the past 30 days
        monthOpenVolume:
          type: string
          description: Volume over the previous 30 days
        yearOpen:
          type: string
          description: Price one year ago
        yearVolume:
          type: string
          description: Volume over the past year
        yearOpenVolume:
          type: string
          description: Volume over the previous year
        close:
          type: string
          description: Current price
        high:
          type: string
          description: Highest price
        highTimestamp:
          type: string
          description: Timestamp of the highest price in RFC3339
        highExchange:
          type: string
          description: Exchange on which the highest price occurred
        highQuoteCurrency:
          type: string
          description: Quote currency against which highest price was recorded
        availableSupply:
          type: string
          description: Circulating supply
        maxSupply:
          type: string
          description: Maximum supply
      example:
        currency: "BTC"
        dayOpen: "7436.82313"
        dayVolume: "1017039454.62165"
        dayOpenVolume: "1013499101.75834"
        weekOpen: "7123.20591"
        weekVolume: "7856259697.70049"
        weekOpenVolume: "7139283718.53940"
        monthOpen: "10769.08245"
        monthVolume: "41483988434.15605"
        monthOpenVolume: "50120582053.23234"
        yearOpen: "1144.85801"
        yearVolume: "385101925394.80138"
        yearOpenVolume: "16773015388.14144"
        close: "6888.45685"
        high: "24436.29525"
        highTimestamp: "2018-01-05T00:00:00Z"
        highExchange: "bithumb"
        highQuoteCurrency: "KRW"
        availableSupply: "16957550.0"
        maxSupply: "21000000.0"
    SparklineRow:
      type: object
      properties:
        currency:
          type: string
          description: Currency ID
          example: BTC
        timestamps:
          type: array
          description: Time values matching the close values
          items:
            type: string
            description: Timestamp of the start of the candle in RFC3339
            example: "2018-04-03T16:00:00Z"
        closes:
          type: array
          description: Closing price in USD corresponding to timestamp value
          items:
            type: string
            description: Price in USD
            example: "7436.82313"
    MarketCapSparklineRow:
      type: object
      properties:
        currency:
          type: string
          description: Currency ID
          example: MarketCap
        timestamps:
          type: array
          description: Time values matching the close values
          items:
            type: string
            description: Timestamp of the start of the candle in RFC3339
            example: "2018-04-03T16:00:00Z"
        closes:
          type: array
          description: Closing market cap in USD corresponding to timestamp value
          items:
[...]
