<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>API Documentation | Nomics</title>
    <description></description>
    <link rel="icon" type="image/png" href="https://nomics.com/static/favicon/0.00.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://p.nomics.com/wp-content/themes/authority-pro/nomics.css">
    <link rel="stylesheet" href="https://p.nomics.com/wp-content/themes/authority-pro/header.css">
    <link rel="stylesheet" href="https://p.nomics.com/wp-content/themes/authority-pro/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KT7G7NM');</script>
    <!-- End Google Tag Manager -->

    <style>
        /* Global */
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            overflow-x: hidden;
            margin: 0;
            padding: 0;
        }
        #redoc mark {
            background-color: #ffd700;
        }
        /* Menu Content */
        #redoc .menu-content,
        #redoc .kdBGp {
            background-color: #f5f7fa;
        }
        #redoc .eqJaZf {
            background-color: #edeff2;
        }
        #redoc .menu-content label {
            font-family: 'Roboto', sans-serif;
        }
        #redoc .menu-content .search-input {
            border-bottom-color: rgba(147,151,158,0.25);
            color: #777a80;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            padding: 24px;
        }
        #redoc .menu-content .search-input:focus {
            color: black;
        }
        #redoc .menu-content .kTrdQW {
            top: 23px;
        }
        #redoc .menu-content .search-icon {
            fill: black;
            top: 23px;
        }
        #redoc .menu-content .hdqEfs,
        #redoc .menu-content .hjRNaf,
        #redoc .menu-content .hRqESd {
            opacity: 0.15;
            opacity: 0;
            transform: rotateZ(0deg);
        }
        #redoc .menu-content .iAfZCr {
            opacity: 0.5;
            opacity: 0;
            transform: rotateZ(180deg);
        }
        #redoc label[role="menuitem"] {
            border-left: 5px solid transparent;
            color: #777a80;
            padding: 6px 16px;
            transition: 0.15s ease;
        }
        #redoc label[role="menuitem"].hXQhys,
        #redoc label[role="menuitem"].hXQhys:hover,
        #redoc label[role="menuitem"].lgiBxe,
        #redoc label[role="menuitem"].lgiBxe:hover {
            color: #aa00ff;
            font-size: 0.88rem;
            font-weight: 500;
            margin-top: 10px;
            opacity: 1;
        }
        #redoc label[role='menuitem'].-depth1 {
            font-size: 15px;
        }
        #redoc label[role='menuitem'].-depth1:hover {
            background: #f5f7fa;
        }
        #redoc label[role='menuitem'].-depth2 {
            background-color: #edeff2;
            font-size: 13px;
            padding: 7px 16px;
        }
        #redoc label[role="menuitem"].active,
        #redoc label[role="menuitem"].active:hover {
            border-color: #aa00ff;
            color: black;
            font-weight: 500;
        }
        #redoc label[role="menuitem"].active:hover {
            color: black;
            font-weight: 500;
        }
        #redoc label[role="menuitem"]:hover {
            color: black;
        }
        #redoc .fKfDiw,
        #redoc .cFwMcp {
            font-family: 'Roboto', sans-serif;
        }
        #redoc .fKfDiw.get,
        #redoc .cFwMcp.get {
            background-color: rgb(0,222,141);
            color: hsl(158, 100%, 20%);
            font-size: 10px;
        }
        #redoc .kLCglf,
        #redoc .nGwee {
            display: none;
        }
        /* API Content */
        #redoc .api-content .cjtbAK {
            padding: 0 40px;
        }
        #redoc .api-content .bOgKnn,
        #redoc .api-content .dluJDj {
            padding: 20px 0;
        }
        #redoc .api-content h1, h2, h3, h4, h5 {
            color: #18191a;
            font-family: 'Roboto', sans-serif;
        }
        #redoc .api-content h1 {
            font-size: 2.5rem;
            font-weight: 100;
            line-height: 1.2;
            margin: 0;
        }
        #redoc .api-content h2 {
            font-size: 2rem;
            font-weight: 100;
            line-height: 1.2;
            margin: 0;
        }
        #redoc .api-content h3 {
            font-size: 1.25rem;
            font-weight: 400;
        }
        #redoc .api-content p {
            color: #777a80;
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 24px;
        }
        #redoc .api-content li {
            color: #777a80;
            font-size: 1rem;
            line-height: 1.5;
        }
        #redoc .api-content .kqCzMB,
        #redoc .api-content .gbsZqp {
            font-size: 14px;
        }
        #redoc .api-content .redoc-json li {
            font-size: 14px;
            line-height: 1.5;
        }
        #redoc .api-content strong {
            color: black;
            font-weight: 500;
        }
        #redoc .api-content h3 a,
        #redoc .api-content h3 a:visited,
        #redoc .api-content p a,
        #redoc .api-content p a:visited,
        #redoc .api-content span a,
        #redoc .api-content span a:visited {
            border-bottom: 1px solid #a0f;
            color: black;
            text-decoration: none;
        }
        #redoc .api-content h3 a:hover,
        #redoc .api-content p a:hover,
        #redoc .api-content span a:hover {
            border-bottom: 0;
        }
        #redoc .api-content a.ijUIjB,
        #redoc .api-content a.jIdpVJ {
            background-color: transparent;
            border: 1px solid #aa00ff!important;
            border-radius: 5px;
            color: black;
            display: inline-block;
            font-size: 0.88rem;
            padding: 4px 9px;
            text-align: center;
            text-decoration: none;            
            transition: 0.3s ease;
        }
        #redoc .api-content a.ijUIjB:hover,
        #redoc .api-content a.jIdpVJ:hover {
            background: #aa00ff;
            color: white;
        }
        #redoc .api-content .hcEfdz .Dropdown-arrow, {
            border-color: black transparent transparent;
        }
        #redoc .api-content .hcEfdz .Dropdown-control:hover {
            color: black;
            border-color: black;
        }
        /* Code */
        #redoc .api-content .MQtoQ,
        #redoc .api-content .jYthGi,
        #redoc .api-content .bwgXFh {
            color: rgba(51, 51, 51, 0.9);
        }
        #redoc .api-content td p {
            font-size: 0.88rem;
            line-height: 1.5;
        }
        #redoc .api-content .react-tabs__tab-list li {
            background-color: transparent;
            border-color: transparent;
            border-style: solid;
            border-width: 0 0 2px 0;
            border-radius: 0;
            color: #93979e;
            font-size: 14px;
            margin-bottom: 0;
        }
        #redoc .api-content .react-tabs__tab-list li:hover {
            color: white;
        }
        #redoc .api-content .gTicaw > ul > li.react-tabs__tab--selected,
        #redoc .api-content .irpqyy > ul > li.react-tabs__tab--selected {
            border-color: rgb(0, 222, 141);
            color: white;
        }
        #redoc .api-content .eCptzz,
        #redoc .api-content .jBjYbV {
            background-color: rgb(0, 222, 141);
            color: black;
        }
        #redoc .api-content .kqCzMB .token.atrule,
        #redoc .api-content .kqCzMB .token.attr-value,
        #redoc .api-content .kqCzMB .token.keyword,
        #redoc .api-content .gbsZqp .token.atrule,
        #redoc .api-content .gbsZqp .token.attr-value,
        #redoc .api-content .gbsZqp .token.keyword {
            color: hsl(280, 100%, 65%);
        }
        #redoc .api-content .kqCzMB .token.property,
        #redoc .api-content .kqCzMB .token.tag,
        #redoc .api-content .kqCzMB .token.number,
        #redoc .api-content .kqCzMB .token.constant,
        #redoc .api-content .kqCzMB .token.symbol,
        #redoc .api-content .gbsZqp .token.property,
        #redoc .api-content .gbsZqp .token.tag,
        #redoc .api-content .gbsZqp .token.number,
        #redoc .api-content .gbsZqp .token.constant,
        #redoc .api-content .gbsZqp .token.symbol {
            color: hsl(207, 100%, 65%);
        }
        #redoc .api-content .kqCzMB .token.operator,
        #redoc .api-content .kqCzMB .token.entity,
        #redoc .api-content .kqCzMB .token.url,
        #redoc .api-content .kqCzMB .token.variable,
        #redoc .api-content .gbsZqp .token.operator,
        #redoc .api-content .gbsZqp .token.entity,
        #redoc .api-content .gbsZqp .token.url,
        #redoc .api-content .gbsZqp .token.variable  {
            color: #ffd700;
        }
        #redoc .api-content .kqCzMB .token.selector, 
        #redoc .api-content .kqCzMB .token.attr-name, 
        #redoc .api-content .kqCzMB .token.string,
        #redoc .api-content .kqCzMB .token.char,
        #redoc .api-content .kqCzMB .token.builtin,
        #redoc .api-content .kqCzMB .token.inserted,
        #redoc .api-content .fFilVq .token.selector,
        #redoc .api-content .fFilVq .token.attr-name,
        #redoc .api-content .fFilVq .token.string,
        #redoc .api-content .fFilVq .token.char,
        #redoc .api-content .fFilVq .token.builtin,
        #redoc .api-content .fFilVq .token.inserted,
        #redoc .api-content .gbsZqp .token.selector,
        #redoc .api-content .gbsZqp .token.attr-name,
        #redoc .api-content .gbsZqp .token.string,
        #redoc .api-content .gbsZqp .token.char,
        #redoc .api-content .gbsZqp .token.builtin,
        #redoc .api-content .gbsZqp .token.inserted,
        #redoc .api-content .kZHJcC .token.selector,
        #redoc .api-content .kZHJcC .token.attr-name,
        #redoc .api-content .kZHJcC .token.string,
        #redoc .api-content .kZHJcC .token.char,
        #redoc .api-content .kZHJcC .token.builtin,
        #redoc .api-content .kZHJcC .token.inserted
         {
            font-family: 'Roboto Mono', sans-serif;
            color: rgb(0, 222, 141);
        }
        #redoc .api-content .hHEKqn
        #redoc .api-content .fDvFMp {
            background-color: rgba(0, 222, 141, 0.1);
            color: rgb(0, 222, 141);
        }
        #redoc .api-content .hHEKqn .kqkvgN p,
        #redoc .api-content .fDvFMp .evvbxn p {
            color: hsl(158, 100%, 25%);
            font-size: 1rem;
        }
        #redoc .api-content .hHEKqn .kzAVwM polygon,
        #redoc .api-content .hHEKqn .jMXIoZ polygon,
        #redoc .api-content .fDvFMp .TRaEN polygon {
            fill: rgb(0, 222, 141);
        }
        #redoc .api-content .ksPCLY,
        #redoc .api-content .jsTAxL {
            color: rgb(255, 0, 21);
        }
        #redoc .api-content .gTpeqQ,
        #redoc .api-content .iquxJz {
            background-color: rgba(255, 0, 21, 0.1);
            color: rgb(255, 0, 21);
        }
        #redoc .api-content .gTpeqQ .kqkvgN p,
        #redoc .api-content .iquxJz .evvbxn p {
            color: hsl(355, 100%, 40%);
            font-size: 1rem;
        }
        #redoc .api-content .gTpeqQ .kzAVwM polygon,
        #redoc .api-content .gTpeqQ .jMXIoZ polygon,
        #redoc .api-content .iquxJz .TRaEN polygon {
            fill: rgb(255, 0, 21);
        }
        #redoc .api-content code{
            color: black;
            font-family: 'Roboto Mono', sans-serif;
            font-size: 14px;
        }
        #redoc .api-content .kTVySD {
            color: black;
            font-family: 'Roboto Mono', sans-serif;
            font-size: 13px;
        }
        #redoc .api-content .hxaCuh,
        #redoc .api-content .dtUibw,
        #redoc .huXmSx,
        #redoc .fLUKgj {
            background-color: #18191a;
        }
        #redoc .api-content .react-tabs__tab-panel, .cuCCSZ, .dhhPGc, .fVaxnA, .dHLKeu, .fSxrIb, .gzAoUb {
            background-color: #232628!important;
        }
        /* put mobile menu button higher to not conflict with intercom */
        #redoc .redoc-wrap .menu-content+div {
            bottom: 100px;
        }
        /* Footer */
        .n-accordion-item ul.active {
            max-height: 300px;
        }
        .n-chevron-down.active {
            transform: rotate(180deg);
            color: #fff;
        }
        /* Media Queries */
        @media screen and (max-width: 64em) {
            #redoc .api-content .hxaCuh,
            #redoc .api-content .dtUibw {
                margin: 0 40px;
                width: calc(100% - 80px);
            }
        }
        @media screen and (min-width: 64em) {
            #redoc .api-content .fMRrIL,
            #redoc .api-content .hiuczA {
                margin-bottom: 20px;
            }
            #redoc .api-content .fFLSgh,
            #redoc .api-content .cjtbAK,
            #redoc .api-content .kFNigF {
                padding-left: 60px!important;
                padding-right: 60px!important;
            }
            #redoc .api-content .bOgKnn:first-of-type,
            #redoc .api-content .dluJDj:first-of-type {
                padding-top: 80px!important;
            }
            #redoc .api-content h1 {
                font-size: 3rem;
            }
            #redoc .api-content h2 {
                font-size: 2.25rem;
            }
            #redoc .api-content h3 {
                font-size: 1.5rem;
            }
            #redoc .api-content p {
                line-height: 1.67rem;
            }
        }
        @media screen and (min-width: 64em) and (max-width: 85rem) {
            #redoc .api-content .hxaCuh,
            #redoc .api-content .dtUibw {
                margin: 0 60px;
                width: calc(100% - 120px);
            }
        }
        @media print, screen and (max-width: 85rem) {
            #redoc .api-content .dluJDj {
                padding: 20px 0;
            }
            #redoc .api-content .hiuczA {
                padding: 40px 0;
            }
        }
    </style>
    {{{redocHead}}}

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT7G7NM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="nomics-shared-header nsh">
        <script type="application/javascript">
            function toggleHeaderMenu (event) {
            var bd = window.document.body;
            var mm = document.getElementById('nomicsHeaderMenu');
            mm.classList.toggle('open');
            var isOpen = mm.classList.contains('open');
            if (isOpen) {
                bd.classList.add('nsh-modal-lock');
            } else {
                bd.classList.remove('nsh-modal-lock');
            }
            }
        </script>
        <div class="nsh-menu-bar" id="nomicsHeaderMenu">
            <div class="nsh-menu-items">
            <a class="nomics-header-logo" href="https://nomics.com">
                <div class="nsh-logo-container">
                <div class="nsh-logo-n">
                    <svg viewBox="0 0 60 60"><g fill-rule="nonzero" fill="none"><path style="transition: fill 0.3s ease-in-out;" d="M13.487964.025067 C6.015456.130506.010218 6.212755 0 13.686 v32.628 c-.00225 5.535029 3.331107 10.525988 8.44479 12.644192 5.113684 2.118204 10.999884.946194 14.91221-2.969192 l9.287-9.289c.22107 7.469981 6.395528 13.380372 13.868036 13.274933 C53.984544 59.869494 59.989782 53.787245 60 46.314 V13.686c.00225-5.535028-3.331107-10.525988-8.44479-12.644192 C46.441525-1.076396 40.555325.095614 36.643 4.011 L27.356 13.3C27.13493 5.830018 20.960472-.080372 13.487964.025067z" fill="hsla(280, 100%, 50%, 1)"></path><ellipse style="transition: cx 0.3s ease-in-out, cy 0.3s ease-in-out;" fill="#FFFFFF" rx="13.686" ry="13.686" cx="29.75" cy="30.25"></ellipse></g></svg>
                </div>
                <div class="nsh-logo-text dib n-ml18 n-pt3 relative">
                    <svg style="width: 120px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 52"><path d="M10.833 49.792H0V2.002h10.833v7.005C14.748 3.829 20.664 1 27.495 1c10.914 0 17.34 7.338 17.34 18.681v30.111H33.993V21.778c0-7.257-3.834-11.1-9.735-11.1-8.082 0-13.413 7.257-13.413 18.183l-.012 20.931zM51.9 25.936C51.9 11.014 61.5 1 75.732 1c14.232 0 23.826 10.008 23.826 24.936 0 14.844-9.582 24.855-23.826 24.855S51.9 40.786 51.9 25.936zm36.576 0c0-9.174-5.247-15.348-12.747-15.348S63 16.762 63 25.936c0 9.09 5.247 15.261 12.747 15.261S88.5 35.023 88.5 25.936h-.024zM117.9 49.792h-10.854V2.002h10.833v7.005C121.293 3.754 126.3 1 132.042 1c6.333 0 11.916 3.351 14.499 9.426C150.453 4.252 156.705 1 163.2 1c9.165 0 15.582 6.507 15.582 17.598v31.2h-10.824V21.184c0-6.921-3-10.593-8.499-10.593-7.248 0-11.331 6.6-11.331 18.27v20.931h-10.83V21.184c0-7.173-3.168-10.593-8.25-10.593-6.993.009-11.148 6.756-11.148 18.27v20.931zm70.884-47.79h10.833v47.79h-10.833V2.002zm18.339 23.853C207.123 11.008 216.957 1 230.868 1c10.665 0 18.414 5.67 21.663 15.096l-10.08 4.173c-1.332-6.258-5.334-9.669-11.331-9.669-7.833 0-12.9 6-12.9 15.261-.015 9.339 5.07 15.339 12.981 15.339 5.916 0 9.918-3.42 11.256-9.675l9.993 4.173c-3.498 9.84-10.998 15.102-21.414 15.102-14.088 0-23.913-10.014-23.913-24.945zm51.228 11.343l9.831-4.5c.666 5.256 6.084 9 12.333 9 4.83 0 8.58-2.25 8.58-5.253 0-8.1-28.743-4.671-28.743-21 0-9 7.908-14.178 18.747-14.178 10.665 0 18.579 5.1 20.496 11.841l-10.344 4.5c-.336-3.918-4.5-7.257-10.416-7.257-4.332 0-7.665 1.827-7.665 4.422 0 7.755 28.827 4.17 28.827 21.267 0 8.676-7.665 14.763-19.746 14.763-11.901-.003-20.067-5.349-21.9-13.605z" fill="#FFF" fillrule="nonzero"></path></svg>
                    <span>transparent crypto data</span>
                </div>
                </div>
            </a>
            <div class="nsh-menu-nav">
                <nav class="nsh-menu-group group-a">
                <ul>
                    <li><a class="nsh-menu-item" href="https://nomics.com">Assets</a></li>
                    <li><a class="nsh-menu-item" href="https://nomics.com/exchanges">Exchanges</a></li>
                    <li><a class="nsh-menu-item" href="https://nomics.com/markets/btc-bitcoin/usd-united-states-dollar">Currency Converter</a></li>
                    <li><a class="nsh-menu-item" href="#footer">More...</a></li>
                </ul>
                </nav>
                <nav class="nsh-menu-group group-b">
                <ul>
                    <li>
                    <div class="nsh-menu-section">
                        <a class="nsh-menu-item nsh-menu-toggle">
                        Guides
                        <svg class="nsh-menu-caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        <span class="menu-tag">New</span>
                        </a>
                        <ul class="nsh-menu-dropdown nsh-menu-guide-dropdown">
                        <li>
                            <ul class="nsh-menu-guide-list-primary">
                            <li>
                                <a class="nsh-menu-item" href="https://nomics.com/guides">
                                <svg width="42" height="42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 .497a.5.5 0 00-.5.5v40a.5.5 0 00.5.5h40a.5.5 0 00.5-.5v-40a.5.5 0 00-.5-.5H1z" stroke="#00DE8D" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 29.497a.5.5 0 00-.5.5v5a.5.5 0 00.5.5h28a.5.5 0 00.5-.5v-5a.5.5 0 00-.5-.5H7z" stroke="#fff" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M15 6.997h20m-20 4h20m-20 7h20m-20 4h14.767M11 9.497a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zm0 11a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0z" stroke="#00DE8D" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                <span>All Products</span>
                                </a>
                            </li>
                            <li>
                                <a class="nsh-menu-item" href="https://nomics.com/guides/cryptocurrency-credit-lines">
                                <svg width="52" height="42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.5 3.56v34.88c0 1.712 1.331 3.06 3.04 3.06h44.92c1.709 0 3.04-1.348 3.04-3.06V3.56C51.5 1.848 50.169.5 48.46.5H3.54C1.83.5.5 1.848.5 3.56z" stroke="#008CFF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M51 13.5a.5.5 0 00.5-.5V8a.5.5 0 00-.5-.5H1a.5.5 0 00-.5.5v5a.5.5 0 00.5.5h50zM42.54 29.08l3.52 3.2m0 0l-3.52 3.2m3.52-3.2H23.34" stroke="#fff" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                <span>Credit Lines</span>
                                </a>
                            </li>
                            <li>
                                <a class="nsh-menu-item" href="https://nomics.com/guides/cryptocurrency-tax-services">
                                <svg width="42" height="42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 .5a.5.5 0 00-.5.5v40a.5.5 0 00.5.5h40a.5.5 0 00.5-.5V1a.5.5 0 00-.5-.5H1z" stroke="#A0F" stroke-miterlimit="10" stroke-linejoin="round"/><path d="M7 18.5a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5H7zm11 0a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5h-6zm11 0a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5h-6zm-22 9a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5H7zm11 0a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5h-6zm11 0a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5h-6zm-22 9a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5H7zm11 0a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5h-6zm11 0a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5h-6z" stroke="#A0F" stroke-miterlimit="10" stroke-linejoin="round"/><path d="M7 6.5a.5.5 0 00-.5.5v5a.5.5 0 00.5.5h28a.5.5 0 00.5-.5V7a.5.5 0 00-.5-.5H7z" stroke="#fff" stroke-miterlimit="10" stroke-linejoin="round"/></svg>
                                <span>Tax Services</span>
                                </a>
                            </li>
                            <li>
                                <a class="nsh-menu-item" href="https://nomics.com/guides/cryptocurrency-wallets">
                                <svg width="52" height="42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.498 41H51V1H1v40h19.262M5.309 8.38v3.652m4.604-5.397h-3.73m3.73 12.54h-3.73m-.874-5.318v3.651m5.477-9.127v3.65m0 1.826v3.651M18.88 6.635h-3.65m3.65 6.27h-3.65m3.65 6.27h-3.65m-.874-5.318v3.651m5.397-9.127v3.65m3.65-3.65v3.65m4.524-5.396h-3.65m3.65 6.27h-3.65m3.65 6.27h-3.65m4.524-5.318v3.651m8.174-10.873h-3.65m3.65 6.27h-3.65m3.65 6.27h-3.65M37.849 8.38v3.65m0 1.826v3.651M41.5 8.381v3.65m4.524-5.396h-3.65m3.65 12.54h-3.65m-.874-5.318v3.651m5.397-9.127v3.65m0 1.826v3.651m-17.54 20.08L26.183 41m0 0l-3.175-3.413M26.183 41V22.826" stroke="#D60065" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M30 32h15v-6H30m-7.298 0H7v6h15.702" stroke="#fff" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                <span>Wallets</span>
                                </a>
                            </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="nsh-menu-guide-list-secondary">
                            <li><a class="nsh-menu-item" href="https://nomics.com/guides/cryptocurrency-custody-solutions">Custody</a></li>
                            <li><a class="nsh-menu-item" href="https://nomics.com/guides/cryptocurrency-otc-desks">OTC Desks</a></li>
                            <li><a class="nsh-menu-item yellow" href="https://nomics.com/guides">View More →</a></li>
                            </ul>
                        </li>
                        </ul>
                    </div>
                    </li>
                    <li>
                    <div class="nsh-menu-section">
                        <a class="nsh-menu-item nsh-menu-toggle">
                        Products
                        <svg class="nsh-menu-caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </a>
                        <dl class="nsh-menu-dropdown">
                        <dt><a class="nsh-menu-item" href="https://p.nomics.com/pricing">Pricing</a></dt>
                        <dt><a class="nsh-menu-item" href="https://p.nomics.com/cryptocurrency-bitcoin-api">Market Data API</a></dt>
                        <dt><a class="nsh-menu-item" href="https://p.nomics.com/white-label-api">White Label API for Exchanges</a></dt>
                        <dt><a class="nsh-menu-item" href="https://p.nomics.com/services">Services</a></dt>
                        <dt><a class="nsh-menu-item" href="https://p.nomics.com/contact-sales">Contact Sales</a></dt>
                        </dl>
                    </div>
                    </li>
                    <li><a class="nsh-menu-item" href="https://p.nomics.com/advertising">Advertise</a></li>
                    <li><a class="nsh-free-key-menu-item" href="https://p.nomics.com/cryptocurrency-bitcoin-api">Free API Key</a></li>
                </ul>
                </nav>
            </div>
            <div class="nsh-menu-divider"></div>
            <a class="nsh-free-key" href="https://p.nomics.com/cryptocurrency-bitcoin-api">API Key</a>
            <div class="nsh-menu-controls">
                <button class="nsh-menu-burger" onClick="toggleHeaderMenu(event)">
                menu
                <div class="nsh-menu-line-1"></div>
                <div class="nsh-menu-line-2"></div>
                <div class="nsh-menu-line-3"></div>
                </button>
            </div>
            </div>
            <script type="application/javascript">
            function toggleHeaderItem (event) {
                event.currentTarget.parentNode.classList.toggle('active');
                event.preventDefault();
                return false;
            }
            var el = document.getElementsByClassName('nsh-menu-toggle');
            for (var i = 0; i < el.length; i++) {
                if (el[i].addEventListener) {
                el[i].addEventListener('click', toggleHeaderItem, false);
                } else {
                el[i].attachEvent('onclick', toggleHeaderItem);
                }
            }
            </script>
        </div>
    </header>

    {{{redocHTML}}}

    <footer class="nomics-shared-footer nsf" id="footer">
        <div class="nsf-row">
            <div class="nsf-container nsf-center">
            <div class="nsf-logo">
                <div class="nsf-logo-container">
                <a href="https://nomics.com/">
                    <div class="nsf-logo-elements">
                    <div class="nsf-logo-n">
                        <svg style="width:100%" viewBox="0 0 60 60"><g fill-rule="nonzero" fill="none"><path style="transition:fill 0.3s ease-in-out" d="M13.487964.025067 C6.015456.130506.010218 6.212755 0 13.686 v32.628 c-.00225 5.535029 3.331107 10.525988 8.44479 12.644192 5.113684 2.118204 10.999884.946194 14.91221-2.969192 l9.287-9.289c.22107 7.469981 6.395528 13.380372 13.868036 13.274933 C53.984544 59.869494 59.989782 53.787245 60 46.314 V13.686c.00225-5.535028-3.331107-10.525988-8.44479-12.644192 C46.441525-1.076396 40.555325.095614 36.643 4.011 L27.356 13.3C27.13493 5.830018 20.960472-.080372 13.487964.025067z" fill="#9d00ff"></path> <ellipse style="transition:cx 0.3s ease-in-out, cy 0.3s ease-in-out" fill="#FFFFFF" rx="13.686" ry="13.686" cx="30" cy="30"></ellipse></g></svg>
                    </div>
                    <div class="nsf-logo-text">
                        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 52"><path d="M10.833 49.792H0V2.002h10.833v7.005C14.748 3.829 20.664 1 27.495 1c10.914 0 17.34 7.338 17.34 18.681v30.111H33.993V21.778c0-7.257-3.834-11.1-9.735-11.1-8.082 0-13.413 7.257-13.413 18.183l-.012 20.931zM51.9 25.936C51.9 11.014 61.5 1 75.732 1c14.232 0 23.826 10.008 23.826 24.936 0 14.844-9.582 24.855-23.826 24.855S51.9 40.786 51.9 25.936zm36.576 0c0-9.174-5.247-15.348-12.747-15.348S63 16.762 63 25.936c0 9.09 5.247 15.261 12.747 15.261S88.5 35.023 88.5 25.936h-.024zM117.9 49.792h-10.854V2.002h10.833v7.005C121.293 3.754 126.3 1 132.042 1c6.333 0 11.916 3.351 14.499 9.426C150.453 4.252 156.705 1 163.2 1c9.165 0 15.582 6.507 15.582 17.598v31.2h-10.824V21.184c0-6.921-3-10.593-8.499-10.593-7.248 0-11.331 6.6-11.331 18.27v20.931h-10.83V21.184c0-7.173-3.168-10.593-8.25-10.593-6.993.009-11.148 6.756-11.148 18.27v20.931zm70.884-47.79h10.833v47.79h-10.833V2.002zm18.339 23.853C207.123 11.008 216.957 1 230.868 1c10.665 0 18.414 5.67 21.663 15.096l-10.08 4.173c-1.332-6.258-5.334-9.669-11.331-9.669-7.833 0-12.9 6-12.9 15.261-.015 9.339 5.07 15.339 12.981 15.339 5.916 0 9.918-3.42 11.256-9.675l9.993 4.173c-3.498 9.84-10.998 15.102-21.414 15.102-14.088 0-23.913-10.014-23.913-24.945zm51.228 11.343l9.831-4.5c.666 5.256 6.084 9 12.333 9 4.83 0 8.58-2.25 8.58-5.253 0-8.1-28.743-4.671-28.743-21 0-9 7.908-14.178 18.747-14.178 10.665 0 18.579 5.1 20.496 11.841l-10.344 4.5c-.336-3.918-4.5-7.257-10.416-7.257-4.332 0-7.665 1.827-7.665 4.422 0 7.755 28.827 4.17 28.827 21.267 0 8.676-7.665 14.763-19.746 14.763-11.901-.003-20.067-5.349-21.9-13.605z" fill="#FFF" fill-rule="nonzero"></path></svg>
                    </div>
                    </div>
                </a>
                </div>
                <div class="nsf-made">
                <span>
                    Made with <span class="nsf-heart">&#10084;</span> in Minnesota<br> and Massachusetts
                </span>
                <img class="nsf-mnma" src="https://nomics-com.s3.us-east-2.amazonaws.com/assets/mnma.png" alt="Minnesota and Massachusetts">
                </div>
            </div>
            <div class="nsf-lists">
                <ul>
                <li>
                    <h5 class="footer-toggle">
                    Market Activity
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                    <li><a href="https://nomics.com/">Assets</a></li>
                    <li><a href="https://nomics.com/exchanges">Exchanges</a></li>
                    <li><a href="https://nomics.com/markets/btc-bitcoin/usd-united-states-dollar">Currency Converter</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Guides
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    <span class="menu-tag">New</span>
                    </h5>
                    <ul>
                    <li><a href="https://nomics.com/guides/cryptocurrency-credit-lines">Credit Lines</a></li>
                    <li><a href="https://nomics.com/guides/cryptocurrency-tax-services">Tax Services</a></li>
                    <li><a href="https://nomics.com/guides/cryptocurrency-wallets">Wallets</a></li>
                    <li><a href="https://nomics.com/guides/cryptocurrency-custody-solutions">Custody</a></li>
                    <li><a href="https://nomics.com/guides/cryptocurrency-otc-desks">OTC Desks</a></li>
                    <li><a href="https://nomics.com/guides">More...</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Products
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                    <li><a href="https://p.nomics.com/advertising">Advertise</a></li>
                    <li><a href="https://p.nomics.com/pricing">Pricing</a></li>
                    <li><a href="https://p.nomics.com/cryptocurrency-bitcoin-api">Market Data API</a></li>
                    <li><a href="https://p.nomics.com/white-label-api">White Label API for Exchanges</a></li>
                    <li><a href="https://p.nomics.com/services">Services</a></li>
                    <li><a href="https://p.nomics.com/contact-sales">Contact Sales</a></li>
                    <li><a href="https://requests.nomics.com">Feature Request</a></li>
                    <li><a href="https://status.nomics.com">Status Page</a></li>
                    <li><a href="https://updates.nomics.com">Product Updates</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Resources
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                    <li><a href="https://docs.nomics.com">API Docs</a></li>
                    <li><a href="https://blog.nomics.com">Blog</a></li>
                    <li><a href="https://news.nomics.com/">Newsletter</a></li>
                    <li><a href="https://p.nomics.com/podcast">Podcast</a></li>
                    <li><a href="https://forums.nomics.com">Forums</a></li>
                    <li><a href="https://blog.nomics.com/announcements/exchange-integration/">Exchange Integration</a></li>
                    <li><a href="https://blog.nomics.com/announcements/verified/">Verified Exchange Program</a></li>
                    <li><a href="https://lp.nomics.com/quiz/">Market Data Quiz</a></li>
                    <li><a href="https://webinar.nomics.com">Nomics' Webinar</a></li>
                    <li><a href="https://webinars.nomics.com">Webinar Archive</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Company
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                    <li><a href="https://p.nomics.com/about">About</a></li>
                    <li><a href="https://blog.nomics.com/essays/manifesto/">Manifesto</a></li>
                    <li><a href="https://nomics.breezy.hr" target="_blank" rel="nofollow noopener noreferrer">Careers</a></li>
                    <li><a href="https://p.nomics.com/contact">Contact Us</a></li>
                    <li><a href="https://p.nomics.com/contact">Press Inquiries</a></li>
                    <li><a href="https://p.nomics.com/donate">Donate</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Contact
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                    <li><a href="mailto:contact@nomics.com">contact@nomics.com</a></li>
                    <li><a href="tel:6125049929">612-504-9929</a></li>
                    <li class="extra-top">
                        <a href="https://www.facebook.com/nomicsfinance" target="_blank" rel="nofollow noopener noreferrer" class="nsf-soc">
                        <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="M25.638355 48H2.649232C1.185673 48 0 46.813592 0 45.350603V2.649211C0 1.18585 1.185859 0 2.649232 0h42.701723C46.813955 0 48 1.18585 48 2.649211v42.701392C48 46.813778 46.813769 48 45.350955 48h-12.23165V29.411755h6.239216l.934234-7.244169h-7.17345v-4.624945c0-2.097354.582407-3.526631 3.589985-3.526631l3.836021-.001677V7.535091c-.663425-.088283-2.940527-.285521-5.589759-.285521-5.530718 0-9.317197 3.375956-9.317197 9.575639v5.342377h-6.255233v7.244169h6.255233V48z" fill-rule="evenodd"></path></svg>
                        </a>
                        <a href="https://twitter.com/nomicsfinance" target="_blank" rel="nofollow noopener noreferrer" class="nsf-soc">
                        <svg viewBox="0 0 48 40" xmlns="http://www.w3.org/2000/svg"><path d="M48 4.735283c-1.763691.803179-3.662617 1.346335-5.654517 1.589022 2.034161-1.248104 3.594999-3.227158 4.33034-5.584688-1.90456 1.155652-4.009156 1.996389-6.257439 2.447093C38.626519 1.224991 36.065504 0 33.231203 0c-5.43476 0-9.843987 4.521488-9.843987 10.097508 0 .791622.084522 1.56013.253566 2.299747-8.18454-.421813-15.439338-4.437703-20.299349-10.55399-.848036 1.496569-1.332629 3.232936-1.332629 5.081979 0 3.501625 1.738335 6.592994 4.381053 8.404478-1.611551-.049115-3.132946-.508487-4.462757-1.259661v.124233c0 4.894186 3.394964 8.976526 7.9028 9.901047-.825498.236909-1.696074.355363-2.594823.355363-.633915 0-1.253742-.060671-1.853848-.179126 1.253742 4.010112 4.888185 6.931022 9.198803 7.009029-3.369608 2.710003-7.618243 4.325027-12.230323 4.325027-.794506 0-1.58056-.046226-2.349709-.138678C4.358514 38.327194 9.53689 40 15.095615 40c18.115866 0 28.019018-15.384615 28.019018-28.729505 0-.439148-.008452-.878296-.025357-1.308776C45.013559 8.537378 46.684275 6.760563 48 4.735283" fill-rule="evenodd"></path></svg>
                        </a>
                        <a href="https://www.linkedin.com/company/nomicsfinance" target="_blank" rel="nofollow noopener noreferrer" class="nsf-soc">
                        <svg viewBox="0 0 44 40" xmlns="http://www.w3.org/2000/svg"><path d="M44 40h-9.7246V25.9384c0-3.680604-1.521167-6.19325-4.866181-6.19325-2.55856 0-3.98142 1.695588-4.643697 3.329704-.248354.586541-.209548 1.403599-.209548 2.220657V40h-9.634055s.124177-24.908753 0-27.172953h9.634055v4.264584c.569144-1.864635 3.647695-4.525837 8.560442-4.525837C39.21143 12.565794 44 16.474355 44 24.890824V40zM5.17921 9.428187h-.062089C2.0127 9.428187 0 7.350964 0 4.717936 0 2.033681 2.072201 0 5.238711 0c3.163923 0 5.10936 2.028559 5.171449 4.710252 0 2.633028-2.007526 4.717935-5.23095 4.717935zm-4.069379 3.39886h8.575964V40H1.109831V12.827047z" fill-rule="evenodd"></path></svg>
                        </a>
                    </li>
                    </ul>
                    <a href="https://p.nomics.com/cryptocurrency-bitcoin-api" class="nsf-key">Free API Key</a>
                    <ul class="nsf-app-badges">
                    <li><a href="https://apps.apple.com/us/app/nomics-crypto/id1483651054" target="_blank"><svg data-name="app-store" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.88 22.59"><path d="M15.39 12.04a5.16 5.16 0 012.45-4.32 5.25 5.25 0 00-4.15-2.24c-1.75-.19-3.44 1-4.33 1s-2.28-1-3.75-1A5.55 5.55 0 00.95 8.31c-2 3.49-.51 8.6 1.42 11.42 1 1.38 2.09 2.91 3.56 2.86s2-.92 3.73-.92 2.23.92 3.73.89 2.52-1.39 3.45-2.78a11.39 11.39 0 001.55-3.17 5 5 0 01-3-4.57zM12.55 3.63A5.15 5.15 0 0013.71 0a5.16 5.16 0 00-3.32 1.72 4.86 4.86 0 00-1.19 3.5 4.31 4.31 0 003.35-1.59zM32.69 13.61h-4.73l-1.14 3.35h-2L29.3 4.55h2.09l4.49 12.41h-2zm-4.24-1.55h3.75l-1.81-5.45zM45.55 12.44c0 2.81-1.51 4.62-3.78 4.62a3.08 3.08 0 01-2.85-1.58v4.48h-1.9v-12h1.8v1.51a3.24 3.24 0 012.89-1.6c2.32-.05 3.84 1.76 3.84 4.57zm-1.91 0c0-1.83-1-3-2.39-3s-2.38 1.23-2.38 3 1 3 2.38 3 2.39-1.15 2.39-3zM55.51 12.44c0 2.81-1.5 4.62-3.77 4.62a3.08 3.08 0 01-2.85-1.58v4.48h-1.9v-12h1.79v1.51a3.21 3.21 0 012.88-1.6c2.34-.05 3.85 1.76 3.85 4.57zm-1.91 0c0-1.83-.94-3-2.39-3s-2.37 1.23-2.37 3 .95 3 2.37 3 2.39-1.15 2.39-3zM62.1 13.5c.14 1.24 1.33 2 3 2s2.69-.81 2.69-1.92-.68-1.54-2.29-1.94l-1.61-.39c-2.28-.55-3.34-1.62-3.34-3.35 0-2.14 1.87-3.61 4.52-3.61s4.43 1.47 4.49 3.61h-1.91c-.11-1.24-1.14-2-2.63-2s-2.52.75-2.52 1.86c0 .87.65 1.39 2.25 1.79l1.37.33c2.55.6 3.6 1.63 3.6 3.44 0 2.33-1.85 3.78-4.79 3.78-2.75 0-4.61-1.42-4.73-3.67zM73.74 5.77v2.14h1.72v1.47h-1.72v5c0 .78.34 1.14 1.1 1.14h.61v1.46a5.55 5.55 0 01-1 .09c-1.84 0-2.55-.69-2.55-2.45V9.38h-1.35V7.91h1.32V5.77zM76.45 12.44c0-2.85 1.68-4.64 4.3-4.64s4.29 1.79 4.29 4.64-1.65 4.64-4.29 4.64-4.3-1.78-4.3-4.64zm6.7 0c0-2-.9-3.11-2.4-3.11s-2.36 1.16-2.36 3.11.89 3.11 2.4 3.11 2.36-1.15 2.36-3.11zM86.58 7.91h1.81v1.54a2.16 2.16 0 012.18-1.63 2.7 2.7 0 01.63.07v1.73a2.6 2.6 0 00-.83-.11 1.87 1.87 0 00-2 1.74 1.9 1.9 0 000 .34v5.37h-1.79zM99.77 14.31c-.25 1.64-1.85 2.77-3.9 2.77-2.63 0-4.26-1.77-4.26-4.6S93.25 7.8 95.8 7.8s4.08 1.72 4.08 4.47v.63h-6.4v.11a2.35 2.35 0 002.14 2.56h.3a2.05 2.05 0 002.09-1.27zm-6.28-2.71h4.53a2.18 2.18 0 00-2.07-2.29h-.15a2.3 2.3 0 00-2.31 2.27z"/></svg></a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.nomicsmobile" target="_blank"><svg data-name="google-play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.34 24.41"><path d="M.11.6a2 2 0 00-.11.69v21.82a2 2 0 00.12.69l11.6-11.6zM21.29 11.34l-4.65-2.65-3.51 3.51 3.51 3.51 4.65-2.65a1.47 1.47 0 00.78-.86 1.47 1.47 0 00-.78-.86zM.89 24.41a1.74 1.74 0 00.86-.27l14-7.92-3.32-3.31zM15.74 8.2L1.79.26A1.68 1.68 0 00.89 0l11.53 11.49zM54.66 8.39a4.26 4.26 0 104.23 4.29 4.2 4.2 0 00-4.13-4.25zm0 6.83a2.46 2.46 0 01-2.4-2.52v-.06a2.41 2.41 0 114.8-.44 3.23 3.23 0 010 .44 2.46 2.46 0 01-2.36 2.56zm-9.31-6.83a4.26 4.26 0 104.27 4.25 4.19 4.19 0 00-4.13-4.25zm0 6.83a2.46 2.46 0 01-2.4-2.52v-.06a2.41 2.41 0 114.8-.44 3.23 3.23 0 010 .44 2.46 2.46 0 01-2.36 2.56zM34.27 9.69v1.81h4.32a3.77 3.77 0 01-1 2.27 4.41 4.41 0 01-3.33 1.32 4.8 4.8 0 110-9.6 4.58 4.58 0 013.25 1.29l1.27-1.27a6.27 6.27 0 00-4.52-1.82 6.61 6.61 0 100 13.21 6.05 6.05 0 004.63-1.86 6 6 0 001.56-4.22 5.34 5.34 0 00-.1-1.13zm45.31 1.41a3.92 3.92 0 00-7.69 1.28 2.26 2.26 0 000 .26 4.17 4.17 0 004.08 4.26h.14a4.22 4.22 0 003.55-1.89l-1.45-1a2.42 2.42 0 01-2.07 1.19 2.17 2.17 0 01-2.06-1.29l5.69-2.35zm-5.8 1.41a2.34 2.34 0 012.17-2.48 1.64 1.64 0 011.58.91zm-4.63 4.13h1.87V4.14h-1.87zm-3.06-7.3h-.06a3 3 0 00-2.24-.95 4.26 4.26 0 000 8.51 2.9 2.9 0 002.24-1h.06v.61c0 1.63-.87 2.5-2.27 2.5a2.35 2.35 0 01-2.14-1.52l-1.63.71a4 4 0 003.77 2.51c2.19 0 4-1.28 4-4.43V8.65h-1.73zm-2.14 5.86a2.44 2.44 0 01-2.37-2.51 2.46 2.46 0 012.31-2.64 2.39 2.39 0 012.28 2.5.28.28 0 000 .09 2.39 2.39 0 01-2.14 2.56zM88.33 4.14h-4.44v12.5h1.86V11.9h2.61a3.89 3.89 0 10.53-7.76h-.59zm0 6h-2.61V5.88h2.66a2.14 2.14 0 110 4.28zm11.56-1.77a3.51 3.51 0 00-3.33 1.91l1.66.69a2.05 2.05 0 013.69.63.13.13 0 010 .06v.13a4.1 4.1 0 00-1.94-.48c-1.79 0-3.6 1-3.6 2.81a2.89 2.89 0 003 2.76h.1a2.63 2.63 0 002.42-1.23v1h1.81v-4.8c.01-2.24-1.65-3.48-3.81-3.48zm-.21 6.83c-.61 0-1.46-.31-1.46-1.06 0-1 1.06-1.34 2-1.34a3.25 3.25 0 011.67.4 2.26 2.26 0 01-2.21 2zm10.59-6.58l-2.14 5.42h-.07l-2.17-5.4h-2l3.27 7.56-1.89 4.21h1.94l5.13-11.79zm-16.81 8h1.87V4.14h-1.87z"/></svg></a></li>
                    </ul>
                </li>
                </ul>
            </div>
            <script type="application/javascript">
                function toggleFooterItem (event) {
                event.currentTarget.parentNode.classList.toggle('active');
                }
                var el = document.getElementsByClassName('footer-toggle');
                for (var i = 0; i < el.length; i++) {
                if (el[i].addEventListener) {
                    el[i].addEventListener('click', toggleFooterItem, false);
                } else {
                    el[i].attachEvent('onclick', toggleFooterItem);
                }
                }
            </script>
            </div>
        </div>
        <div class="nsf-bottom">
            <div class="nsf-center">
            <span class="nsf-left">
                &copy;
                <span id="yearCopy"></span>
                Nomics&trade; | All Rights Reserved
            </span>
            <script type="application/javascript">
                document.getElementById('yearCopy').textContent = new Date().getFullYear()
            </script>
            <span class="nsf-right">
                <a href="https://p.nomics.com/terms-and-conditions">Terms</a>
                |
                <a href="https://p.nomics.com/privacy-policy">Privacy</a>
            </span>
            </div>
        </div>
    </footer>

</body>

</html>