<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>API Documentation | Nomics</title>
    <description></description>
    <link rel="icon" type="image/png" href="https://nomics.com/static/favicon/0.00.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://p.nomics.com/wp-content/themes/authority-pro/nomics.css">
    <link rel="stylesheet" href="https://p.nomics.com/wp-content/themes/authority-pro/header.css">
    <link rel="stylesheet" href="https://p.nomics.com/wp-content/themes/authority-pro/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KT7G7NM');</script>
    <!-- End Google Tag Manager -->

    <style>
        /* Global */
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            overflow-x: hidden;
            margin: 0;
            padding: 0;
        }
        #redoc mark {
            background-color: #ffd700;
        }
        /* Menu Content */
        #redoc .menu-content,
        #redoc .kdBGp {
            background-color: #f5f7fa;
        }
        #redoc .eqJaZf {
            background-color: #edeff2;
        }
        #redoc .menu-content label {
            font-family: 'Roboto', sans-serif;
        }
        #redoc .menu-content .search-input {
            border-bottom-color: rgba(147,151,158,0.25);
            color: #777a80;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            padding: 24px;
        }
        #redoc .menu-content .search-input:focus {
            color: black;
        }
        #redoc .menu-content .kTrdQW {
            top: 23px;
        }
        #redoc .menu-content .search-icon {
            fill: black;
            top: 23px;
        }
        #redoc .menu-content .hdqEfs,
        #redoc .menu-content .hjRNaf,
        #redoc .menu-content .hRqESd {
            opacity: 0.15;
            opacity: 0;
            transform: rotateZ(0deg);
        }
        #redoc .menu-content .iAfZCr {
            opacity: 0.5;
            opacity: 0;
            transform: rotateZ(180deg);
        }
        #redoc label[role="menuitem"] {
            border-left: 5px solid transparent;
            color: #777a80;
            padding: 6px 16px;
            transition: 0.15s ease;
        }
        #redoc label[role="menuitem"].hXQhys,
        #redoc label[role="menuitem"].hXQhys:hover,
        #redoc label[role="menuitem"].lgiBxe,
        #redoc label[role="menuitem"].lgiBxe:hover {
            color: #aa00ff;
            font-size: 0.88rem;
            font-weight: 500;
            margin-top: 10px;
            opacity: 1;
        }
        #redoc label[role='menuitem'].-depth1 {
            font-size: 15px;
        }
        #redoc label[role='menuitem'].-depth1:hover {
            background: #f5f7fa;
        }
        #redoc label[role='menuitem'].-depth2 {
            background-color: #edeff2;
            font-size: 13px;
            padding: 7px 16px;
        }
        #redoc label[role="menuitem"].active,
        #redoc label[role="menuitem"].active:hover {
            border-color: #aa00ff;
            color: black;
            font-weight: 500;
        }
        #redoc label[role="menuitem"].active:hover {
            color: black;
            font-weight: 500;
        }
        #redoc label[role="menuitem"]:hover {
            color: black;
        }
        #redoc .fKfDiw,
        #redoc .cFwMcp {
            font-family: 'Roboto', sans-serif;
        }
        #redoc .fKfDiw.get,
        #redoc .cFwMcp.get {
            background-color: rgb(0,222,141);
            color: hsl(158, 100%, 20%);
            font-size: 10px;
        }
        #redoc .kLCglf,
        #redoc .nGwee {
            display: none;
        }
        /* API Content */
        #redoc .api-content .cjtbAK {
            padding: 0 40px;
        }
        #redoc .api-content .bOgKnn,
        #redoc .api-content .dluJDj {
            padding: 20px 0;
        }
        #redoc .api-content h1, h2, h3, h4, h5 {
            color: #18191a;
            font-family: 'Roboto', sans-serif;
        }
        #redoc .api-content h1 {
            font-size: 2.5rem;
            font-weight: 100;
            line-height: 1.2;
            margin: 0;
        }
        #redoc .api-content h2 {
            font-size: 2rem;
            font-weight: 100;
            line-height: 1.2;
            margin: 0;
        }
        #redoc .api-content h3 {
            font-size: 1.25rem;
            font-weight: 400;
        }
        #redoc .api-content p {
            color: #777a80;
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 24px;
        }
        #redoc .api-content li {
            color: #777a80;
            font-size: 1rem;
            line-height: 1.5;
        }
        #redoc .api-content .kqCzMB,
        #redoc .api-content .gbsZqp {
            font-size: 14px;
        }
        #redoc .api-content .redoc-json li {
            font-size: 14px;
            line-height: 1.5;
        }
        #redoc .api-content strong {
            color: black;
            font-weight: 500;
        }
        #redoc .api-content h3 a,
        #redoc .api-content h3 a:visited,
        #redoc .api-content p a,
        #redoc .api-content p a:visited,
        #redoc .api-content span a,
        #redoc .api-content span a:visited {
            border-bottom: 1px solid #a0f;
            color: black;
            text-decoration: none;
        }
        #redoc .api-content h3 a:hover,
        #redoc .api-content p a:hover,
        #redoc .api-content span a:hover {
            border-bottom: 0;
        }
        #redoc .api-content a.ijUIjB,
        #redoc .api-content a.jIdpVJ {
            background-color: transparent;
            border: 1px solid #aa00ff!important;
            border-radius: 5px;
            color: black;
            display: inline-block;
            font-size: 0.88rem;
            padding: 4px 9px;
            text-align: center;
            text-decoration: none;            
            transition: 0.3s ease;
        }
        #redoc .api-content a.ijUIjB:hover,
        #redoc .api-content a.jIdpVJ:hover {
            background: #aa00ff;
            color: white;
        }
        #redoc .api-content .hcEfdz .Dropdown-arrow, {
            border-color: black transparent transparent;
        }
        #redoc .api-content .hcEfdz .Dropdown-control:hover {
            color: black;
            border-color: black;
        }
        /* Code */
        #redoc .api-content .MQtoQ,
        #redoc .api-content .jYthGi,
        #redoc .api-content .bwgXFh {
            color: rgba(51, 51, 51, 0.9);
        }
        #redoc .api-content td p {
            font-size: 0.88rem;
            line-height: 1.5;
        }
        #redoc .api-content .react-tabs__tab-list li {
            background-color: transparent;
            border-color: transparent;
            border-style: solid;
            border-width: 0 0 2px 0;
            border-radius: 0;
            color: #93979e;
            font-size: 14px;
            margin-bottom: 0;
        }
        #redoc .api-content .react-tabs__tab-list li:hover {
            color: white;
        }
        #redoc .api-content .gTicaw > ul > li.react-tabs__tab--selected,
        #redoc .api-content .irpqyy > ul > li.react-tabs__tab--selected {
            border-color: rgb(0, 222, 141);
            color: white;
        }
        #redoc .api-content .eCptzz,
        #redoc .api-content .jBjYbV {
            background-color: rgb(0, 222, 141);
            color: black;
        }
        #redoc .api-content .kqCzMB .token.atrule,
        #redoc .api-content .kqCzMB .token.attr-value,
        #redoc .api-content .kqCzMB .token.keyword,
        #redoc .api-content .gbsZqp .token.atrule,
        #redoc .api-content .gbsZqp .token.attr-value,
        #redoc .api-content .gbsZqp .token.keyword {
            color: hsl(280, 100%, 65%);
        }
        #redoc .api-content .kqCzMB .token.property,
        #redoc .api-content .kqCzMB .token.tag,
        #redoc .api-content .kqCzMB .token.number,
        #redoc .api-content .kqCzMB .token.constant,
        #redoc .api-content .kqCzMB .token.symbol,
        #redoc .api-content .gbsZqp .token.property,
        #redoc .api-content .gbsZqp .token.tag,
        #redoc .api-content .gbsZqp .token.number,
        #redoc .api-content .gbsZqp .token.constant,
        #redoc .api-content .gbsZqp .token.symbol {
            color: hsl(207, 100%, 65%);
        }
        #redoc .api-content .kqCzMB .token.operator,
        #redoc .api-content .kqCzMB .token.entity,
        #redoc .api-content .kqCzMB .token.url,
        #redoc .api-content .kqCzMB .token.variable,
        #redoc .api-content .gbsZqp .token.operator,
        #redoc .api-content .gbsZqp .token.entity,
        #redoc .api-content .gbsZqp .token.url,
        #redoc .api-content .gbsZqp .token.variable  {
            color: #ffd700;
        }
        #redoc .api-content .kqCzMB .token.selector, 
        #redoc .api-content .kqCzMB .token.attr-name, 
        #redoc .api-content .kqCzMB .token.string,
        #redoc .api-content .kqCzMB .token.char,
        #redoc .api-content .kqCzMB .token.builtin,
        #redoc .api-content .kqCzMB .token.inserted,
        #redoc .api-content .fFilVq .token.selector,
        #redoc .api-content .fFilVq .token.attr-name,
        #redoc .api-content .fFilVq .token.string,
        #redoc .api-content .fFilVq .token.char,
        #redoc .api-content .fFilVq .token.builtin,
        #redoc .api-content .fFilVq .token.inserted,
        #redoc .api-content .gbsZqp .token.selector,
        #redoc .api-content .gbsZqp .token.attr-name,
        #redoc .api-content .gbsZqp .token.string,
        #redoc .api-content .gbsZqp .token.char,
        #redoc .api-content .gbsZqp .token.builtin,
        #redoc .api-content .gbsZqp .token.inserted,
        #redoc .api-content .kZHJcC .token.selector,
        #redoc .api-content .kZHJcC .token.attr-name,
        #redoc .api-content .kZHJcC .token.string,
        #redoc .api-content .kZHJcC .token.char,
        #redoc .api-content .kZHJcC .token.builtin,
        #redoc .api-content .kZHJcC .token.inserted
         {
            font-family: 'Roboto Mono', sans-serif;
            color: rgb(0, 222, 141);
        }
        #redoc .api-content .hHEKqn
        #redoc .api-content .fDvFMp {
            background-color: rgba(0, 222, 141, 0.1);
            color: rgb(0, 222, 141);
        }
        #redoc .api-content .hHEKqn .kqkvgN p,
        #redoc .api-content .fDvFMp .evvbxn p {
            color: hsl(158, 100%, 25%);
            font-size: 1rem;
        }
        #redoc .api-content .hHEKqn .kzAVwM polygon,
        #redoc .api-content .hHEKqn .jMXIoZ polygon,
        #redoc .api-content .fDvFMp .TRaEN polygon {
            fill: rgb(0, 222, 141);
        }
        #redoc .api-content .ksPCLY,
        #redoc .api-content .jsTAxL {
            color: rgb(255, 0, 21);
        }
        #redoc .api-content .gTpeqQ,
        #redoc .api-content .iquxJz {
            background-color: rgba(255, 0, 21, 0.1);
            color: rgb(255, 0, 21);
        }
        #redoc .api-content .gTpeqQ .kqkvgN p,
        #redoc .api-content .iquxJz .evvbxn p {
            color: hsl(355, 100%, 40%);
            font-size: 1rem;
        }
        #redoc .api-content .gTpeqQ .kzAVwM polygon,
        #redoc .api-content .gTpeqQ .jMXIoZ polygon,
        #redoc .api-content .iquxJz .TRaEN polygon {
            fill: rgb(255, 0, 21);
        }
        #redoc .api-content code{
            color: black;
            font-family: 'Roboto Mono', sans-serif;
            font-size: 14px;
        }
        #redoc .api-content .kTVySD {
            color: black;
            font-family: 'Roboto Mono', sans-serif;
            font-size: 13px;
        }
        #redoc .api-content .hxaCuh,
        #redoc .api-content .dtUibw,
        #redoc .huXmSx,
        #redoc .fLUKgj {
            background-color: #18191a;
        }
        #redoc .api-content .react-tabs__tab-panel, .cuCCSZ, .dhhPGc, .fVaxnA, .dHLKeu, .fSxrIb, .gzAoUb {
            background-color: #232628!important;
        }
        /* put mobile menu button higher to not conflict with intercom */
        #redoc .redoc-wrap .menu-content+div {
            bottom: 100px;
        }
        /* Footer */
        .n-accordion-item ul.active {
            max-height: 300px;
        }
        .n-chevron-down.active {
            transform: rotate(180deg);
            color: #fff;
        }
        /* Media Queries */
        @media screen and (max-width: 64em) {
            #redoc .api-content .hxaCuh,
            #redoc .api-content .dtUibw {
                margin: 0 40px;
                width: calc(100% - 80px);
            }
        }
        @media screen and (min-width: 64em) {
            #redoc .api-content .fMRrIL,
            #redoc .api-content .hiuczA {
                margin-bottom: 20px;
            }
            #redoc .api-content .fFLSgh,
            #redoc .api-content .cjtbAK,
            #redoc .api-content .kFNigF {
                padding-left: 60px!important;
                padding-right: 60px!important;
            }
            #redoc .api-content .bOgKnn:first-of-type,
            #redoc .api-content .dluJDj:first-of-type {
                padding-top: 80px!important;
            }
            #redoc .api-content h1 {
                font-size: 3rem;
            }
            #redoc .api-content h2 {
                font-size: 2.25rem;
            }
            #redoc .api-content h3 {
                font-size: 1.5rem;
            }
            #redoc .api-content p {
                line-height: 1.67rem;
            }
        }
        @media screen and (min-width: 64em) and (max-width: 85rem) {
            #redoc .api-content .hxaCuh,
            #redoc .api-content .dtUibw {
                margin: 0 60px;
                width: calc(100% - 120px);
            }
        }
        @media print, screen and (max-width: 85rem) {
            #redoc .api-content .dluJDj {
                padding: 20px 0;
            }
            #redoc .api-content .hiuczA {
                padding: 40px 0;
            }
        }
    </style>
    {{{redocHead}}}

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT7G7NM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="nomics-shared-header nsh">
        <script type="application/javascript">
            function toggleHeaderMenu (event) {
            var bd = window.document.body;
            var mm = document.getElementById('nomicsHeaderMenu');
            mm.classList.toggle('open');
            var isOpen = mm.classList.contains('open');
            if (isOpen) {
                bd.classList.add('nsh-modal-lock');
            } else {
                bd.classList.remove('nsh-modal-lock');
            }
            }
        </script>
        <div class="nsh-menu-bar" id="nomicsHeaderMenu">
            <div class="nsh-menu-items">
            <a class="nomics-header-logo" href="https://nomics.com">
                <div class="nsh-logo-container">
                <div class="nsh-logo-n">
                    <svg viewBox="0 0 60 60"><g fill-rule="nonzero" fill="none"><path style="transition: fill 0.3s ease-in-out;" d="M13.487964.025067 C6.015456.130506.010218 6.212755 0 13.686 v32.628 c-.00225 5.535029 3.331107 10.525988 8.44479 12.644192 5.113684 2.118204 10.999884.946194 14.91221-2.969192 l9.287-9.289c.22107 7.469981 6.395528 13.380372 13.868036 13.274933 C53.984544 59.869494 59.989782 53.787245 60 46.314 V13.686c.00225-5.535028-3.331107-10.525988-8.44479-12.644192 C46.441525-1.076396 40.555325.095614 36.643 4.011 L27.356 13.3C27.13493 5.830018 20.960472-.080372 13.487964.025067z" fill="hsla(280, 100%, 50%, 1)"></path><ellipse style="transition: cx 0.3s ease-in-out, cy 0.3s ease-in-out;" fill="#FFFFFF" rx="13.686" ry="13.686" cx="29.75" cy="30.25"></ellipse></g></svg>
                </div>
                <div class="nsh-logo-text dib n-ml18 n-pt3 relative">
                    <svg style="width: 120px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 52"><path d="M10.833 49.792H0V2.002h10.833v7.005C14.748 3.829 20.664 1 27.495 1c10.914 0 17.34 7.338 17.34 18.681v30.111H33.993V21.778c0-7.257-3.834-11.1-9.735-11.1-8.082 0-13.413 7.257-13.413 18.183l-.012 20.931zM51.9 25.936C51.9 11.014 61.5 1 75.732 1c14.232 0 23.826 10.008 23.826 24.936 0 14.844-9.582 24.855-23.826 24.855S51.9 40.786 51.9 25.936zm36.576 0c0-9.174-5.247-15.348-12.747-15.348S63 16.762 63 25.936c0 9.09 5.247 15.261 12.747 15.261S88.5 35.023 88.5 25.936h-.024zM117.9 49.792h-10.854V2.002h10.833v7.005C121.293 3.754 126.3 1 132.042 1c6.333 0 11.916 3.351 14.499 9.426C150.453 4.252 156.705 1 163.2 1c9.165 0 15.582 6.507 15.582 17.598v31.2h-10.824V21.184c0-6.921-3-10.593-8.499-10.593-7.248 0-11.331 6.6-11.331 18.27v20.931h-10.83V21.184c0-7.173-3.168-10.593-8.25-10.593-6.993.009-11.148 6.756-11.148 18.27v20.931zm70.884-47.79h10.833v47.79h-10.833V2.002zm18.339 23.853C207.123 11.008 216.957 1 230.868 1c10.665 0 18.414 5.67 21.663 15.096l-10.08 4.173c-1.332-6.258-5.334-9.669-11.331-9.669-7.833 0-12.9 6-12.9 15.261-.015 9.339 5.07 15.339 12.981 15.339 5.916 0 9.918-3.42 11.256-9.675l9.993 4.173c-3.498 9.84-10.998 15.102-21.414 15.102-14.088 0-23.913-10.014-23.913-24.945zm51.228 11.343l9.831-4.5c.666 5.256 6.084 9 12.333 9 4.83 0 8.58-2.25 8.58-5.253 0-8.1-28.743-4.671-28.743-21 0-9 7.908-14.178 18.747-14.178 10.665 0 18.579 5.1 20.496 11.841l-10.344 4.5c-.336-3.918-4.5-7.257-10.416-7.257-4.332 0-7.665 1.827-7.665 4.422 0 7.755 28.827 4.17 28.827 21.267 0 8.676-7.665 14.763-19.746 14.763-11.901-.003-20.067-5.349-21.9-13.605z" fill="#FFF" fillrule="nonzero"></path></svg>
                    <span>transparent crypto data</span>
                </div>
                </div>
            </a>
            <div class="nsh-menu-nav">
                <nav class="nsh-menu-group group-a">
                <ul>
                    <li><a class="nsh-menu-item" href="https://nomics.com">Assets</a></li>
                    <li><a class="nsh-menu-item" href="https://nomics.com/exchanges">Exchanges</a></li>
                    <li><a class="nsh-menu-item" href="https://nomics.com/markets/btc-bitcoin/usd-united-states-dollar">Currency Converter</a></li>
                    <li><a class="nsh-menu-item" href="#footer">More...</a></li>
                </ul>
                </nav>
                <nav class="nsh-menu-group group-b">
                <ul>
                    <li>
                    <div class="nsh-menu-section">
                        <a class="nsh-menu-item nsh-menu-toggle">
                        Guides
                        <svg class="nsh-menu-caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        <span class="menu-tag">New</span>
                        </a>
                        <ul class="nsh-menu-dropdown nsh-menu-guide-dropdown">
                        <li>
                            <ul class="nsh-menu-guide-list-primary">
                                <li>
                                    <a class="nsh-menu-item" href="https://nomics.com/guides">
                                    <svg width="42" height="42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 .497a.5.5 0 00-.5.5v40a.5.5 0 00.5.5h40a.5.5 0 00.5-.5v-40a.5.5 0 00-.5-.5H1z" stroke="#00DE8D" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 29.497a.5.5 0 00-.5.5v5a.5.5 0 00.5.5h28a.5.5 0 00.5-.5v-5a.5.5 0 00-.5-.5H7z" stroke="#fff" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M15 6.997h20m-20 4h20m-20 7h20m-20 4h14.767M11 9.497a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zm0 11a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0z" stroke="#00DE8D" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    <span>All Products</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nsh-menu-item" href="https://nomics.com/guides/cryptocurrency-credit-lines">
                                    <svg width="52" height="42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.5 3.56v34.88c0 1.712 1.331 3.06 3.04 3.06h44.92c1.709 0 3.04-1.348 3.04-3.06V3.56C51.5 1.848 50.169.5 48.46.5H3.54C1.83.5.5 1.848.5 3.56z" stroke="#008CFF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M51 13.5a.5.5 0 00.5-.5V8a.5.5 0 00-.5-.5H1a.5.5 0 00-.5.5v5a.5.5 0 00.5.5h50zM42.54 29.08l3.52 3.2m0 0l-3.52 3.2m3.52-3.2H23.34" stroke="#fff" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    <span>Credit Lines</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nsh-menu-item" href="https://nomics.com/guides/cryptocurrency-tax-services">
                                    <svg width="42" height="42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 .5a.5.5 0 00-.5.5v40a.5.5 0 00.5.5h40a.5.5 0 00.5-.5V1a.5.5 0 00-.5-.5H1z" stroke="#A0F" stroke-miterlimit="10" stroke-linejoin="round"/><path d="M7 18.5a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5H7zm11 0a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5h-6zm11 0a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5h-6zm-22 9a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5H7zm11 0a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5h-6zm11 0a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5h-6zm-22 9a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5H7zm11 0a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5h-6zm11 0a.5.5 0 00-.5.5v4a.5.5 0 00.5.5h6a.5.5 0 00.5-.5v-4a.5.5 0 00-.5-.5h-6z" stroke="#A0F" stroke-miterlimit="10" stroke-linejoin="round"/><path d="M7 6.5a.5.5 0 00-.5.5v5a.5.5 0 00.5.5h28a.5.5 0 00.5-.5V7a.5.5 0 00-.5-.5H7z" stroke="#fff" stroke-miterlimit="10" stroke-linejoin="round"/></svg>
                                    <span>Tax Services</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nsh-menu-item" href="https://nomics.com/guides/cryptocurrency-wallets">
                                    <svg width="52" height="42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.498 41H51V1H1v40h19.262M5.309 8.38v3.652m4.604-5.397h-3.73m3.73 12.54h-3.73m-.874-5.318v3.651m5.477-9.127v3.65m0 1.826v3.651M18.88 6.635h-3.65m3.65 6.27h-3.65m3.65 6.27h-3.65m-.874-5.318v3.651m5.397-9.127v3.65m3.65-3.65v3.65m4.524-5.396h-3.65m3.65 6.27h-3.65m3.65 6.27h-3.65m4.524-5.318v3.651m8.174-10.873h-3.65m3.65 6.27h-3.65m3.65 6.27h-3.65M37.849 8.38v3.65m0 1.826v3.651M41.5 8.381v3.65m4.524-5.396h-3.65m3.65 12.54h-3.65m-.874-5.318v3.651m5.397-9.127v3.65m0 1.826v3.651m-17.54 20.08L26.183 41m0 0l-3.175-3.413M26.183 41V22.826" stroke="#D60065" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M30 32h15v-6H30m-7.298 0H7v6h15.702" stroke="#fff" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    <span>Wallets</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nsh-menu-item" href="https://nexo.io/">
                                    <svg width="41" height="50" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#nexo-clip)"><path d="M10.551.229l19.936 11.453v11.682L0 5.84 9.77.229a.825.825 0 01.781 0z" fill="#D9EEFF"/><path d="M30.487 0L20.322 5.841l10.165 5.84V0z" fill="#BDF"/><path d="M30.487 0l9.779 5.612a.82.82 0 01.394.679v22.906l-10.173-5.833V0z" fill="#A0CCFF"/><path d="M40.652 29.205l-9.77 5.612a.824.824 0 01-.822 0L10.132 23.364V11.665l30.52 17.54z" fill="#BDF"/><path d="M0 5.84v22.907a.815.815 0 00.394.703l9.771 5.612V11.666L0 5.84z" fill="#fff"/><path d="M10.165 35.046l10.157-5.841-10.157-5.841v11.682z" fill="#D9EEFF"/><path d="M20.125 44.625a4.761 4.761 0 00-1.514-3.086 4.802 4.802 0 00-3.203-1.274h-.222a4.645 4.645 0 00-1.643.376l-.107.05h-.05a4.719 4.719 0 00-2.02 1.766 4.688 4.688 0 00-.724 2.577v.09a4.898 4.898 0 001.52 3.33 4.942 4.942 0 003.41 1.358h2.712a.265.265 0 00.25-.16.26.26 0 00.021-.102v-1.554a.269.269 0 00-.271-.262h-2.876a2.81 2.81 0 01-1.581-.562 2.79 2.79 0 01-.975-1.36h6.96a.322.322 0 00.337-.311v-.819a.203.203 0 00-.024-.057zm-2.235-.499h-5.03a2.729 2.729 0 011.39-1.538l.106-.049c.398-.163.83-.224 1.257-.18.509.05.992.243 1.395.556.403.313.709.733.882 1.211zM4.602 40.265c-.9.03-1.772.313-2.515.818v-.532a.163.163 0 00-.164-.163H.164A.165.165 0 000 40.55v4.311c-.004.071-.004.142 0 .213v4.459a.26.26 0 00.13.345c.041.019.087.027.133.023h1.561a.264.264 0 00.263-.262v-4.647a2.68 2.68 0 01.886-1.987 2.706 2.706 0 012.073-.688 2.757 2.757 0 011.768.904c.456.51.705 1.17.697 1.853v4.491a.26.26 0 00.168.245.263.263 0 00.103.017h1.553a.264.264 0 00.263-.262v-4.573a4.75 4.75 0 00-1.49-3.42 4.794 4.794 0 00-3.506-1.308zM29.27 40.322a.132.132 0 00-.18 0l-3.336 3.313-3.287-3.272a.132.132 0 00-.181 0l-1.331 1.358a.13.13 0 000 .18l3.287 3.272-3.337 3.314a.13.13 0 000 .18l1.315 1.308a.157.157 0 00.23 0l3.287-3.272 3.287 3.272a.132.132 0 00.181 0l1.331-1.333a.115.115 0 000-.18L27.25 45.19l3.328-3.322a.114.114 0 000-.18l-1.306-1.366zM35.943 40.232a4.946 4.946 0 00-2.754.8 4.914 4.914 0 00-1.842 2.19 4.887 4.887 0 001.032 5.369 4.95 4.95 0 005.38 1.09 4.925 4.925 0 002.222-1.807 4.892 4.892 0 00-.588-6.184 4.941 4.941 0 00-3.45-1.458zm0 7.706a2.852 2.852 0 01-1.588-.46 2.819 2.819 0 01-.467-4.36 2.847 2.847 0 013.103-.628 2.84 2.84 0 011.281 1.042 2.82 2.82 0 01-.34 3.566 2.85 2.85 0 01-1.989.84z" fill="#fff"/></g><defs><clipPath id="nexo-clip"><path fill="#fff" d="M0 0h40.816v50H0z"/></clipPath></defs></svg>
                                    <span>Crypto Banking</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="nsh-menu-guide-list-secondary">
                            <li><a class="nsh-menu-item" href="https://nomics.com/guides/cryptocurrency-custody-solutions">Custody</a></li>
                            <li><a class="nsh-menu-item" href="https://nomics.com/guides/cryptocurrency-otc-desks">OTC Desks</a></li>
                            <li><a class="nsh-menu-item yellow" href="https://nomics.com/guides">View More →</a></li>
                            </ul>
                        </li>
                        </ul>
                    </div>
                    </li>
                    <li>
                    <div class="nsh-menu-section">
                        <a class="nsh-menu-item nsh-menu-toggle">
                        Products
                        <svg class="nsh-menu-caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </a>
                        <dl class="nsh-menu-dropdown">
                        <dt><a class="nsh-menu-item" href="https://p.nomics.com/pricing">Pricing</a></dt>
                        <dt><a class="nsh-menu-item" href="https://p.nomics.com/cryptocurrency-bitcoin-api">Market Data API</a></dt>
                        <dt><a class="nsh-menu-item" href="https://p.nomics.com/white-label-api">White Label API for Exchanges</a></dt>
                        <dt><a class="nsh-menu-item" href="https://p.nomics.com/services">Services</a></dt>
                        <dt><a class="nsh-menu-item" href="https://p.nomics.com/contact-sales">Contact Sales</a></dt>
                        </dl>
                    </div>
                    </li>
                    <li><a class="nsh-menu-item" href="https://p.nomics.com/advertising">Advertise</a></li>
                    <li><a class="nsh-free-key-menu-item" href="https://p.nomics.com/cryptocurrency-bitcoin-api">Free API Key</a></li>
                </ul>
                </nav>
            </div>
            <div class="nsh-menu-divider"></div>
            <a class="nsh-free-key" href="https://p.nomics.com/cryptocurrency-bitcoin-api">API Key</a>
            <div class="nsh-menu-controls">
                <button class="nsh-menu-burger" onClick="toggleHeaderMenu(event)">
                menu
                <div class="nsh-menu-line-1"></div>
                <div class="nsh-menu-line-2"></div>
                <div class="nsh-menu-line-3"></div>
                </button>
            </div>
            </div>
            <script type="application/javascript">
            function toggleHeaderItem (event) {
                event.currentTarget.parentNode.classList.toggle('active');
                event.preventDefault();
                return false;
            }
            var el = document.getElementsByClassName('nsh-menu-toggle');
            for (var i = 0; i < el.length; i++) {
                if (el[i].addEventListener) {
                el[i].addEventListener('click', toggleHeaderItem, false);
                } else {
                el[i].attachEvent('onclick', toggleHeaderItem);
                }
            }
            </script>
        </div>
    </header>

    {{{redocHTML}}}

    <footer class="nomics-shared-footer nsf" id="footer">
        <div class="nsf-row">
            <div class="nsf-container nsf-center">
            <div class="nsf-logo">
                <div class="nsf-logo-container">
                <a href="https://nomics.com/">
                    <div class="nsf-logo-elements">
                    <div class="nsf-logo-n">
                        <svg style="width:100%" viewBox="0 0 60 60"><g fill-rule="nonzero" fill="none"><path style="transition:fill 0.3s ease-in-out" d="M13.487964.025067 C6.015456.130506.010218 6.212755 0 13.686 v32.628 c-.00225 5.535029 3.331107 10.525988 8.44479 12.644192 5.113684 2.118204 10.999884.946194 14.91221-2.969192 l9.287-9.289c.22107 7.469981 6.395528 13.380372 13.868036 13.274933 C53.984544 59.869494 59.989782 53.787245 60 46.314 V13.686c.00225-5.535028-3.331107-10.525988-8.44479-12.644192 C46.441525-1.076396 40.555325.095614 36.643 4.011 L27.356 13.3C27.13493 5.830018 20.960472-.080372 13.487964.025067z" fill="#9d00ff"></path> <ellipse style="transition:cx 0.3s ease-in-out, cy 0.3s ease-in-out" fill="#FFFFFF" rx="13.686" ry="13.686" cx="30" cy="30"></ellipse></g></svg>
                    </div>
                    <div class="nsf-logo-text">
                        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 52"><path d="M10.833 49.792H0V2.002h10.833v7.005C14.748 3.829 20.664 1 27.495 1c10.914 0 17.34 7.338 17.34 18.681v30.111H33.993V21.778c0-7.257-3.834-11.1-9.735-11.1-8.082 0-13.413 7.257-13.413 18.183l-.012 20.931zM51.9 25.936C51.9 11.014 61.5 1 75.732 1c14.232 0 23.826 10.008 23.826 24.936 0 14.844-9.582 24.855-23.826 24.855S51.9 40.786 51.9 25.936zm36.576 0c0-9.174-5.247-15.348-12.747-15.348S63 16.762 63 25.936c0 9.09 5.247 15.261 12.747 15.261S88.5 35.023 88.5 25.936h-.024zM117.9 49.792h-10.854V2.002h10.833v7.005C121.293 3.754 126.3 1 132.042 1c6.333 0 11.916 3.351 14.499 9.426C150.453 4.252 156.705 1 163.2 1c9.165 0 15.582 6.507 15.582 17.598v31.2h-10.824V21.184c0-6.921-3-10.593-8.499-10.593-7.248 0-11.331 6.6-11.331 18.27v20.931h-10.83V21.184c0-7.173-3.168-10.593-8.25-10.593-6.993.009-11.148 6.756-11.148 18.27v20.931zm70.884-47.79h10.833v47.79h-10.833V2.002zm18.339 23.853C207.123 11.008 216.957 1 230.868 1c10.665 0 18.414 5.67 21.663 15.096l-10.08 4.173c-1.332-6.258-5.334-9.669-11.331-9.669-7.833 0-12.9 6-12.9 15.261-.015 9.339 5.07 15.339 12.981 15.339 5.916 0 9.918-3.42 11.256-9.675l9.993 4.173c-3.498 9.84-10.998 15.102-21.414 15.102-14.088 0-23.913-10.014-23.913-24.945zm51.228 11.343l9.831-4.5c.666 5.256 6.084 9 12.333 9 4.83 0 8.58-2.25 8.58-5.253 0-8.1-28.743-4.671-28.743-21 0-9 7.908-14.178 18.747-14.178 10.665 0 18.579 5.1 20.496 11.841l-10.344 4.5c-.336-3.918-4.5-7.257-10.416-7.257-4.332 0-7.665 1.827-7.665 4.422 0 7.755 28.827 4.17 28.827 21.267 0 8.676-7.665 14.763-19.746 14.763-11.901-.003-20.067-5.349-21.9-13.605z" fill="#FFF" fill-rule="nonzero"></path></svg>
                    </div>
                    </div>
                </a>
                </div>
                <div class="nsf-made">
                <span>
                    Made with <span class="nsf-heart">&#10084;</span> in Minnesota<br> and Massachusetts
                </span>
                <img class="nsf-mnma" src="https://nomics-com.s3.us-east-2.amazonaws.com/assets/mnma.png" alt="Minnesota and Massachusetts">
                </div>
            </div>
            <div class="nsf-lists">
                <ul>
                <li>
                    <h5 class="footer-toggle">
                    Market Activity
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                    <li><a href="https://nomics.com/">Assets</a></li>
                    <li><a href="https://nomics.com/exchanges">Exchanges</a></li>
                    <li><a href="https://nomics.com/markets/btc-bitcoin/usd-united-states-dollar">Currency Converter</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Guides
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    <span class="menu-tag">New</span>
                    </h5>
                    <ul>
                    <li><a href="https://nomics.com/guides/cryptocurrency-credit-lines">Credit Lines</a></li>
                    <li><a href="https://nomics.com/guides/cryptocurrency-tax-services">Tax Services</a></li>
                    <li><a href="https://nomics.com/guides/cryptocurrency-wallets">Wallets</a></li>
                    <li><a href="https://nomics.com/guides/cryptocurrency-custody-solutions">Custody</a></li>
                    <li><a href="https://nomics.com/guides/cryptocurrency-otc-desks">OTC Desks</a></li>
                    <li><a href="https://nomics.com/guides">More...</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Products
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                    <li><a href="https://p.nomics.com/advertising">Advertise</a></li>
                    <li><a href="https://p.nomics.com/pricing">Pricing</a></li>
                    <li><a href="https://p.nomics.com/cryptocurrency-bitcoin-api">Market Data API</a></li>
                    <li><a href="https://p.nomics.com/white-label-api">White Label API for Exchanges</a></li>
                    <li><a href="https://p.nomics.com/services">Services</a></li>
                    <li><a href="https://p.nomics.com/contact-sales">Contact Sales</a></li>
                    <li><a href="https://requests.nomics.com">Feature Request</a></li>
                    <li><a href="https://status.nomics.com">Status Page</a></li>
                    <li><a href="https://updates.nomics.com">Product Updates</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Resources
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                    <li><a href="https://docs.nomics.com">API Docs</a></li>
                    <li><a href="https://blog.nomics.com">Blog</a></li>
                    <li><a href="https://news.nomics.com/">Newsletter</a></li>
                    <li><a href="https://p.nomics.com/podcast">Podcast</a></li>
                    <li><a href="https://forums.nomics.com">Forums</a></li>
                    <li><a href="https://blog.nomics.com/announcements/exchange-integration/">Exchange Integration</a></li>
                    <li><a href="https://blog.nomics.com/announcements/verified/">Verified Exchange Program</a></li>
                    <li><a href="https://lp.nomics.com/quiz/">Market Data Quiz</a></li>
                    <li><a href="https://webinar.nomics.com">Nomics' Webinar</a></li>
                    <li><a href="https://webinars.nomics.com">Webinar Archive</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Company
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                    <li><a href="https://p.nomics.com/about">About</a></li>
                    <li><a href="https://blog.nomics.com/essays/manifesto/">Manifesto</a></li>
                    <li><a href="https://nomics.breezy.hr" target="_blank" rel="nofollow noopener noreferrer">Careers</a></li>
                    <li><a href="https://p.nomics.com/contact">Contact Us</a></li>
                    <li><a href="https://p.nomics.com/contact">Press Inquiries</a></li>
                    <li><a href="https://p.nomics.com/donate">Donate</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Contact
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                    <li><a href="mailto:contact@nomics.com">contact@nomics.com</a></li>
                    <li><a href="tel:6125049929">612-504-9929</a></li>
                    <li class="extra-top">
                        <a href="https://www.facebook.com/nomicsfinance" target="_blank" rel="nofollow noopener noreferrer" class="nsf-soc">
                        <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="M25.638355 48H2.649232C1.185673 48 0 46.813592 0 45.350603V2.649211C0 1.18585 1.185859 0 2.649232 0h42.701723C46.813955 0 48 1.18585 48 2.649211v42.701392C48 46.813778 46.813769 48 45.350955 48h-12.23165V29.411755h6.239216l.934234-7.244169h-7.17345v-4.624945c0-2.097354.582407-3.526631 3.589985-3.526631l3.836021-.001677V7.535091c-.663425-.088283-2.940527-.285521-5.589759-.285521-5.530718 0-9.317197 3.375956-9.317197 9.575639v5.342377h-6.255233v7.244169h6.255233V48z" fill-rule="evenodd"></path></svg>
                        </a>
                        <a href="https://twitter.com/nomicsfinance" target="_blank" rel="nofollow noopener noreferrer" class="nsf-soc">
                        <svg viewBox="0 0 48 40" xmlns="http://www.w3.org/2000/svg"><path d="M48 4.735283c-1.763691.803179-3.662617 1.346335-5.654517 1.589022 2.034161-1.248104 3.594999-3.227158 4.33034-5.584688-1.90456 1.155652-4.009156 1.996389-6.257439 2.447093C38.626519 1.224991 36.065504 0 33.231203 0c-5.43476 0-9.843987 4.521488-9.843987 10.097508 0 .791622.084522 1.56013.253566 2.299747-8.18454-.421813-15.439338-4.437703-20.299349-10.55399-.848036 1.496569-1.332629 3.232936-1.332629 5.081979 0 3.501625 1.738335 6.592994 4.381053 8.404478-1.611551-.049115-3.132946-.508487-4.462757-1.259661v.124233c0 4.894186 3.394964 8.976526 7.9028 9.901047-.825498.236909-1.696074.355363-2.594823.355363-.633915 0-1.253742-.060671-1.853848-.179126 1.253742 4.010112 4.888185 6.931022 9.198803 7.009029-3.369608 2.710003-7.618243 4.325027-12.230323 4.325027-.794506 0-1.58056-.046226-2.349709-.138678C4.358514 38.327194 9.53689 40 15.095615 40c18.115866 0 28.019018-15.384615 28.019018-28.729505 0-.439148-.008452-.878296-.025357-1.308776C45.013559 8.537378 46.684275 6.760563 48 4.735283" fill-rule="evenodd"></path></svg>
                        </a>
                        <a href="https://www.linkedin.com/company/nomicsfinance" target="_blank" rel="nofollow noopener noreferrer" class="nsf-soc">
                        <svg viewBox="0 0 44 40" xmlns="http://www.w3.org/2000/svg"><path d="M44 40h-9.7246V25.9384c0-3.680604-1.521167-6.19325-4.866181-6.19325-2.55856 0-3.98142 1.695588-4.643697 3.329704-.248354.586541-.209548 1.403599-.209548 2.220657V40h-9.634055s.124177-24.908753 0-27.172953h9.634055v4.264584c.569144-1.864635 3.647695-4.525837 8.560442-4.525837C39.21143 12.565794 44 16.474355 44 24.890824V40zM5.17921 9.428187h-.062089C2.0127 9.428187 0 7.350964 0 4.717936 0 2.033681 2.072201 0 5.238711 0c3.163923 0 5.10936 2.028559 5.171449 4.710252 0 2.633028-2.007526 4.717935-5.23095 4.717935zm-4.069379 3.39886h8.575964V40H1.109831V12.827047z" fill-rule="evenodd"></path></svg>
                        </a>
                    </li>
                    </ul>
                    <a href="https://p.nomics.com/cryptocurrency-bitcoin-api" class="nsf-key">Free API Key</a>
                    <ul class="nsf-app-badges">
                        <li><a href="https://play.google.com/store/apps/details?id=com.nomicsmobile" target="_blank"><svg data-name="google-play" width="119" height="35" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M113.75 0H4.375A4.375 4.375 0 000 4.375v26.25A4.375 4.375 0 004.375 35H113.75a4.375 4.375 0 004.375-4.375V4.375A4.375 4.375 0 00113.75 0z" fill="#000"/><path d="M113.75.7a3.677 3.677 0 013.675 3.675v26.25a3.675 3.675 0 01-3.675 3.675H4.375A3.675 3.675 0 01.7 30.625V4.375A3.675 3.675 0 014.375.7H113.75zm0-.7H4.375A4.375 4.375 0 000 4.375v26.25A4.375 4.375 0 004.375 35H113.75a4.377 4.377 0 004.375-4.375V4.375A4.377 4.377 0 00113.75 0z" fill="#A6A6A6"/><path d="M41.492 8.96a2.379 2.379 0 01-.656 1.75 2.539 2.539 0 01-1.925.77 2.626 2.626 0 01-1.934-.787 2.626 2.626 0 01-.796-1.943 2.624 2.624 0 01.797-1.951 2.765 2.765 0 013.01-.569c.315.13.596.33.822.586l-.464.464a1.75 1.75 0 00-1.435-.63 2.03 2.03 0 00-2.038 2.1 2.065 2.065 0 003.5 1.514c.273-.29.431-.67.446-1.068H38.91v-.63h2.547c.02.13.03.262.035.394zM45.5 6.772h-2.362v1.663h2.152v.63h-2.152v1.662H45.5v.648h-3.045v-5.25H45.5v.647zM48.37 11.375h-.674V6.772h-1.47v-.647h3.649v.647H48.37v4.603zM52.447 11.375v-5.25h.674v5.25h-.674zM56.114 11.375h-.674V6.772h-1.47v-.647h3.605v.647h-1.461v4.603zM64.409 10.693a2.723 2.723 0 01-3.85 0 2.626 2.626 0 01-.77-1.943 2.625 2.625 0 01.77-1.942 2.563 2.563 0 011.925-.797 2.625 2.625 0 011.925.796 2.687 2.687 0 01.77 1.943 2.627 2.627 0 01-.77 1.943v0zm-3.352-.438a2.005 2.005 0 003.3-.693c.1-.258.148-.535.14-.812a2.066 2.066 0 00-.622-1.505 2.004 2.004 0 00-2.852 0 2.066 2.066 0 00-.552 1.505 2.064 2.064 0 00.587 1.505v0zM66.132 11.375v-5.25h.814l2.555 4.086V6.125h.674v5.25h-.7l-2.669-4.279v4.279h-.674z" fill="#fff" stroke="#fff" stroke-width=".2" stroke-miterlimit="10"/><path d="M59.623 19.031a3.728 3.728 0 103.736 3.719 3.667 3.667 0 00-3.736-3.719zm0 5.977a2.258 2.258 0 112.1-2.258 2.152 2.152 0 01-2.1 2.258zm-8.155-5.977a3.728 3.728 0 103.736 3.719 3.667 3.667 0 00-3.736-3.719zm0 5.977a2.258 2.258 0 112.1-2.258 2.152 2.152 0 01-2.1 2.258zm-9.696-4.83v1.575h3.78a3.298 3.298 0 01-.874 1.986 3.866 3.866 0 01-2.923 1.155 4.2 4.2 0 110-8.4 4.06 4.06 0 012.87 1.128l1.111-1.11a5.513 5.513 0 00-3.963-1.593 5.785 5.785 0 100 11.558 5.311 5.311 0 004.033-1.618 5.25 5.25 0 001.365-3.702 5.482 5.482 0 00-.078-.98h-5.32zm39.647 1.224a3.5 3.5 0 00-3.185-2.37 3.5 3.5 0 00-3.5 3.718 3.701 3.701 0 006.79 2.074l-1.269-.875a2.108 2.108 0 01-1.829 1.023 1.881 1.881 0 01-1.802-1.128l4.979-2.056-.184-.386zm-5.075 1.243a2.047 2.047 0 011.951-2.179 1.435 1.435 0 011.374.796l-3.325 1.383zM72.3 26.25h1.636V15.312h-1.636V26.25zm-2.677-6.387h-.061a2.573 2.573 0 00-1.96-.832 3.728 3.728 0 000 7.447 2.52 2.52 0 001.96-.876h.06v.534c0 1.427-.76 2.188-1.986 2.188a2.064 2.064 0 01-1.88-1.322l-1.418.587a3.5 3.5 0 003.299 2.205c1.916 0 3.5-1.129 3.5-3.877V19.25h-1.514v.613zm-1.881 5.145a2.258 2.258 0 010-4.507 2.092 2.092 0 011.995 2.249 2.083 2.083 0 01-1.995 2.258zm21.34-9.695h-3.92V26.25H86.8v-4.148h2.284a3.403 3.403 0 100-6.79zm0 5.25H86.8v-3.728h2.319a1.873 1.873 0 010 3.745l-.035-.017zm10.098-1.567a3.053 3.053 0 00-2.913 1.672l1.443.603a1.558 1.558 0 011.496-.796 1.575 1.575 0 011.751 1.409v.105a3.663 3.663 0 00-1.707-.42c-1.557 0-3.15.875-3.15 2.467a2.528 2.528 0 002.722 2.406 2.317 2.317 0 002.082-1.067h.053v.875h1.575v-4.209c0-1.916-1.453-3.027-3.317-3.027l-.035-.018zm-.201 5.994c-.534 0-1.278-.271-1.278-.927 0-.875.928-1.173 1.75-1.173a2.905 2.905 0 011.488.367 1.977 1.977 0 01-1.925 1.75l-.035-.017zm9.293-5.74l-1.873 4.742h-.052l-1.943-4.742h-1.75l2.914 6.633-1.663 3.683h1.75l4.437-10.316h-1.82zm-14.7 7H95.2V15.312h-1.627V26.25z" fill="#fff"/><path d="M9.135 6.598a1.75 1.75 0 00-.385 1.224v19.355c-.03.447.118.887.411 1.226l.062.07L20.038 17.63v-.262L9.196 6.536l-.061.062z" fill="url(#paint0_linear)"/><path d="M23.625 21.245l-3.587-3.614v-.262l3.587-3.614.079.052L28 16.24c1.225.691 1.225 1.829 0 2.529L23.721 21.2l-.096.044z" fill="url(#paint1_linear)"/><path d="M23.73 21.192L20.038 17.5 9.135 28.402a1.418 1.418 0 001.811.062l12.784-7.271" fill="url(#paint2_linear)"/><path d="M23.73 13.807L10.946 6.545a1.409 1.409 0 00-1.811.053L20.038 17.5l3.692-3.693z" fill="url(#paint3_linear)"/><path opacity=".2" d="M23.625 21.114l-12.679 7.218a1.453 1.453 0 01-1.75 0l-.061.062.061.07a1.453 1.453 0 001.75 0l12.784-7.271-.105-.08z" fill="#000"/><path opacity=".12" d="M9.135 28.28a1.75 1.75 0 01-.385-1.234v.131c-.03.447.118.887.411 1.226l.062-.062-.088-.061zM28 18.637l-4.375 2.477.079.078L28 18.76a1.531 1.531 0 00.927-1.26A1.627 1.627 0 0128 18.637z" fill="#000"/><path opacity=".25" d="M10.946 6.667L28 16.362a1.628 1.628 0 01.927 1.138A1.531 1.531 0 0028 16.24L10.946 6.545c-1.216-.7-2.196-.123-2.196 1.277v.132c0-1.4.98-1.978 2.196-1.287z" fill="#fff"/></g><defs><linearGradient id="paint0_linear" x1="19.075" y1="7.621" x2="4.393" y2="22.304" gradientUnits="userSpaceOnUse"><stop stop-color="#00A0FF"/><stop offset=".01" stop-color="#00A1FF"/><stop offset=".26" stop-color="#00BEFF"/><stop offset=".51" stop-color="#00D2FF"/><stop offset=".76" stop-color="#00DFFF"/><stop offset="1" stop-color="#00E3FF"/></linearGradient><linearGradient id="paint1_linear" x1="29.601" y1="17.5" x2="8.435" y2="17.5" gradientUnits="userSpaceOnUse"><stop stop-color="#FFE000"/><stop offset=".41" stop-color="#FFBD00"/><stop offset=".78" stop-color="orange"/><stop offset="1" stop-color="#FF9C00"/></linearGradient><linearGradient id="paint2_linear" x1="21.726" y1="19.512" x2="1.811" y2="39.419" gradientUnits="userSpaceOnUse"><stop stop-color="#FF3A44"/><stop offset="1" stop-color="#C31162"/></linearGradient><linearGradient id="paint3_linear" x1="6.388" y1=".158" x2="15.277" y2="9.048" gradientUnits="userSpaceOnUse"><stop stop-color="#32A071"/><stop offset=".07" stop-color="#2DA771"/><stop offset=".48" stop-color="#15CF74"/><stop offset=".8" stop-color="#06E775"/><stop offset="1" stop-color="#00F076"/></linearGradient><clipPath id="clip0"><path fill="#fff" d="M0 0h118.125v35H0z"/></clipPath></defs></svg></a></li>
                        <li><a href="https://apps.apple.com/us/app/nomics-crypto/id1483651054" target="_blank"><svg data-name="app-store" width="104" height="35" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M95.506 0h-89C5.899 0 5.378.087 4.77.175A6.01 6.01 0 003.123.7c-.52.263-.954.613-1.388 1.05-.434.438-.78.875-1.041 1.4a6.138 6.138 0 00-.52 1.663C.086 5.425 0 6.037 0 6.563V28.35c0 .612.087 1.137.173 1.75.087.612.26 1.137.521 1.662.26.613.607 1.05 1.04 1.488.435.438.868.788 1.389 1.05a5.2 5.2 0 001.648.525c.607.087 1.128.175 1.735.175H97.24c.608 0 1.128-.087 1.736-.175a5.207 5.207 0 001.648-.525c.52-.262.954-.612 1.388-1.05.433-.438.78-.875 1.041-1.4.26-.525.433-1.05.52-1.663.087-.612.174-1.137.174-1.75v-.787V8.313 7.35v-.787c0-.613-.087-1.138-.174-1.75A5.508 5.508 0 00100.624.7a5.207 5.207 0 00-1.648-.525C98.368.088 97.848 0 97.24 0H95.506z" fill="#A6A6A6"/><path d="M7.287 34.212h-.781c-.52 0-1.128-.087-1.648-.175-.52-.087-.954-.262-1.475-.437-.434-.263-.867-.525-1.214-.875s-.694-.788-.868-1.225c-.26-.438-.347-.962-.434-1.488-.086-.524-.173-1.05-.173-1.662v-21-.788c0-.525.087-1.137.173-1.662a4.6 4.6 0 01.52-1.4c.261-.438.521-.875.868-1.225.347-.35.781-.613 1.215-.875.434-.263.954-.35 1.474-.438.52-.087 1.041-.175 1.649-.175H97.327c.521 0 1.041.088 1.649.175.52.088.954.263 1.474.438a4.846 4.846 0 012.082 2.1c.26.437.347.962.434 1.4.087.525.173 1.137.173 1.662V28.35c0 .525-.086 1.05-.173 1.662-.087.526-.26.963-.434 1.488-.26.438-.52.875-.867 1.225-.347.35-.781.7-1.215.875-.433.262-.954.438-1.474.438-.52.087-1.041.175-1.648.175H7.287z" fill="#000"/><path d="M21.513 17.763c0-1.488.78-2.888 2.081-3.675-.78-1.138-2.081-1.838-3.47-1.925-1.474-.175-2.862.875-3.642.875-.781 0-1.909-.875-3.123-.875-1.649.087-3.123.962-3.904 2.362-1.648 2.888-.434 7.263 1.215 9.625.78 1.138 1.735 2.45 2.949 2.45 1.214-.087 1.648-.787 3.123-.787 1.474 0 1.821.787 3.122.787 1.302 0 2.082-1.137 2.863-2.362.607-.788 1.041-1.75 1.301-2.713-1.561-.525-2.515-2.1-2.515-3.762zM19.084 10.675c.694-.875 1.04-1.925.954-3.062A4.013 4.013 0 0017.262 9.1c-.694.788-1.04 1.838-.954 2.975 1.128 0 2.082-.525 2.776-1.4zM36.693 23.713h-4.077l-.954 2.975h-1.735l3.903-10.85h1.735l3.904 10.85h-1.735l-1.041-2.975zM33.05 22.4h3.296l-1.648-4.812h-.087L33.05 22.4zM47.883 22.75c0 2.45-1.301 4.025-3.296 4.025-1.041.088-1.995-.525-2.43-1.4v3.938H40.51v-10.5h1.561v1.312c.52-.875 1.475-1.4 2.516-1.4 1.908-.087 3.296 1.575 3.296 4.025zm-1.735 0c0-1.575-.78-2.625-2.082-2.625-1.214 0-2.082 1.05-2.082 2.625s.868 2.625 2.082 2.625c1.301 0 2.082-1.05 2.082-2.625zM56.47 22.75c0 2.45-1.3 4.025-3.295 4.025-1.041.088-1.996-.525-2.43-1.4v3.938h-1.648v-10.5h1.562v1.312c.52-.875 1.474-1.4 2.516-1.4 1.995-.087 3.296 1.575 3.296 4.025zm-1.647 0c0-1.575-.781-2.625-2.082-2.625-1.215 0-2.082 1.05-2.082 2.625s.867 2.625 2.082 2.625c1.3 0 2.082-1.05 2.082-2.625zM62.196 23.625c.087 1.05 1.128 1.75 2.602 1.75 1.388 0 2.342-.7 2.342-1.662 0-.875-.607-1.313-1.995-1.663l-1.388-.35c-1.995-.525-2.862-1.4-2.862-2.887 0-1.838 1.648-3.15 3.903-3.15s3.817 1.312 3.904 3.15h-1.648c-.087-1.05-.955-1.75-2.256-1.75-1.301 0-2.168.7-2.168 1.662 0 .788.607 1.225 1.995 1.575l1.214.263c2.169.525 3.123 1.4 3.123 2.975 0 2.012-1.648 3.325-4.164 3.325-2.429 0-3.99-1.225-4.077-3.238h1.475zM72.258 16.888v1.837h1.475v1.313h-1.475v4.375c0 .7.26.962.954.962h.52v1.313c-.26.087-.606.087-.867.087-1.56 0-2.168-.612-2.168-2.1v-4.55h-1.128v-1.312h1.128v-1.838h1.561v-.087zM74.687 22.75c0-2.45 1.475-4.025 3.73-4.025s3.73 1.575 3.73 4.025c0 2.538-1.475 4.025-3.73 4.025-2.342 0-3.73-1.575-3.73-4.025zm5.812 0c0-1.75-.78-2.712-2.082-2.712-1.301 0-2.082.962-2.082 2.712 0 1.75.781 2.713 2.082 2.713 1.301 0 2.082-1.05 2.082-2.713zM83.448 18.725h1.562v1.4c.173-.875 1.04-1.487 1.908-1.4.174 0 .347 0 .52.088V20.3c-.26-.087-.52-.087-.693-.087-.868 0-1.648.7-1.648 1.575v4.987h-1.649v-8.05zM94.899 24.325c-.174 1.4-1.649 2.45-3.383 2.45-2.256 0-3.73-1.575-3.73-4.025s1.387-4.112 3.643-4.112c2.168 0 3.556 1.487 3.556 3.937v.525h-5.551v.088c-.087 1.137.694 2.1 1.821 2.275h.26c.781.087 1.562-.35 1.822-1.138H94.9zm-5.465-2.362h3.903c.087-1.05-.78-1.925-1.822-2.013h-.173c-1.04 0-1.908.875-1.908 2.013zM32.79 7.613a2.258 2.258 0 012.428 2.1v.437c0 1.662-.867 2.625-2.429 2.625h-1.908v-5.25h1.908v.088zm-1.041 4.55h.954c.867.087 1.648-.613 1.735-1.575v-.35c.086-.875-.52-1.75-1.388-1.838h-1.301v3.762zM36.172 10.85c-.086-1.05.608-1.925 1.649-2.013 1.04-.087 1.908.613 1.995 1.663v.35c.087 1.05-.607 1.925-1.648 2.012-1.041.088-1.909-.612-1.995-1.662v-.35zm2.863 0c0-.875-.347-1.313-1.04-1.313-.695 0-1.042.525-1.042 1.313 0 .875.347 1.4 1.041 1.4s1.041-.525 1.041-1.4zM44.76 12.862h-.78l-.781-2.887h-.087l-.78 2.887h-.781L40.51 8.925h.78l.694 2.975h.087l.78-2.975h.782l.78 2.975h.087l.694-2.975h.78l-1.214 3.937zM46.755 8.925h.781v.613h.087c.173-.438.694-.7 1.128-.7.694-.088 1.3.437 1.387 1.225v2.8h-.78V10.5c0-.612-.26-.962-.868-.962-.52 0-.954.35-.954.874V12.863h-.78V8.925zM51.266 7.35h.78v5.513h-.78V7.35zM53.088 10.85c-.087-1.05.607-1.925 1.648-2.013 1.04-.087 1.908.613 1.995 1.663v.35c.087 1.05-.607 1.925-1.648 2.012-1.041.088-1.908-.612-1.995-1.662v-.35zm2.95 0c0-.875-.348-1.313-1.042-1.313-.694 0-1.04.525-1.04 1.313 0 .875.346 1.4 1.04 1.4.607 0 1.041-.525 1.041-1.4zM57.599 11.725c0-.7.52-1.137 1.474-1.137l1.041-.088v-.35c0-.437-.26-.612-.78-.612-.434 0-.695.175-.781.437h-.781c.087-.7.694-1.137 1.561-1.137.955 0 1.562.525 1.562 1.312v2.713h-.78v-.525h-.088c-.26.437-.694.612-1.214.612-.607.088-1.215-.438-1.301-1.05.087-.088.087-.088.087-.175zm2.515-.35v-.35l-.954.088c-.52 0-.78.262-.78.524 0 .35.346.525.693.525.52.175.954-.175 1.041-.787 0 .088 0 .088 0 0zM61.849 10.85c0-1.225.607-2.013 1.648-2.013.52 0 .954.263 1.215.7h.086V7.35h.781v5.513h-.78v-.613h-.088c-.26.438-.694.7-1.214.7-.954 0-1.648-.787-1.648-2.1zm.867 0c0 .875.434 1.313 1.041 1.313.608 0 1.041-.526 1.041-1.313 0-.787-.433-1.313-1.04-1.313-.695 0-1.042.525-1.042 1.313zM68.702 10.85c-.087-1.05.607-1.925 1.648-2.013 1.04-.087 1.908.613 1.995 1.663v.35c.087 1.05-.607 1.925-1.648 2.012-1.041.088-1.909-.612-1.995-1.662v-.35zm2.95 0c0-.875-.348-1.313-1.042-1.313-.694 0-1.04.525-1.04 1.313 0 .875.346 1.4 1.04 1.4.607 0 1.041-.525 1.041-1.4zM73.473 8.925h.78v.613h.087c.174-.438.694-.7 1.128-.7.694-.088 1.301.437 1.388 1.225v2.8h-.78V10.5c0-.612-.261-.962-.868-.962-.52 0-.955.35-.955.874V12.863h-.78V8.925zM81.106 7.963v.962h.868v.7h-.868v2.012c0 .438.174.613.52.613h.26v.613h-.433c-.867 0-1.214-.263-1.214-1.05V9.624h-.607v-.612h.607v-1.05h.867zM83.015 7.35h.78v2.187h.087c.174-.437.694-.787 1.215-.7.694 0 1.3.525 1.387 1.226v2.8h-.78V10.5c0-.613-.26-.963-.868-.963-.52 0-.954.35-.954.875V12.863h-.78l-.087-5.513zM90.908 11.812c-.173.7-.954 1.225-1.734 1.138-.955 0-1.822-.788-1.822-1.75v-.263a1.726 1.726 0 011.561-2.012h.26c1.128 0 1.735.787 1.735 2.012v.263h-2.775c-.087.612.347 1.05.954 1.137h.087c.346.088.78-.175.954-.437l.78-.088zM88.133 10.5h1.995c0-.525-.347-.963-.868-1.05h-.087c-.52.087-1.04.525-1.04 1.05z" fill="#fff"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h103.833v35H0z"/></clipPath></defs></svg></a></li>
                    </ul>
                </li>
                </ul>
            </div>
            <script type="application/javascript">
                function toggleFooterItem (event) {
                event.currentTarget.parentNode.classList.toggle('active');
                }
                var el = document.getElementsByClassName('footer-toggle');
                for (var i = 0; i < el.length; i++) {
                if (el[i].addEventListener) {
                    el[i].addEventListener('click', toggleFooterItem, false);
                } else {
                    el[i].attachEvent('onclick', toggleFooterItem);
                }
                }
            </script>
            </div>
        </div>
        <div class="nsf-bottom">
            <div class="nsf-center">
            <span class="nsf-left">
                &copy;
                <span id="yearCopy"></span>
                Nomics&trade; | All Rights Reserved
            </span>
            <script type="application/javascript">
                document.getElementById('yearCopy').textContent = new Date().getFullYear()
            </script>
            <span class="nsf-right">
                <a href="https://p.nomics.com/terms-and-conditions">Terms</a>
                |
                <a href="https://p.nomics.com/privacy-policy">Privacy</a>
            </span>
            </div>
        </div>
    </footer>

</body>

</html>