<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>API Documentation | Nomics</title>
    <description></description>
    <link rel="icon" type="image/png" href="https://nomics.com/static/favicon/0.00.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://p.nomics.com/wp-content/themes/authority-pro/nomics.css?ver=1.0.85">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KT7G7NM');</script>
    <!-- End Google Tag Manager -->

    <style>
        /* Global */
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            overflow-x: hidden;
            margin: 0;
            padding: 0;
        }
        #redoc mark {
            background-color: #ffd700;
        }
        /* Menu Content */
        #redoc .menu-content,
        #redoc .kdBGp {
            background-color: #f5f7fa;
        }
        #redoc .eqJaZf {
            background-color: #edeff2;
        }
        #redoc .menu-content label {
            font-family: 'Roboto', sans-serif;
        }
        #redoc .menu-content .search-input {
            border-bottom-color: rgba(147,151,158,0.25);
            color: #777a80;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            padding: 24px;
        }
        #redoc .menu-content .search-input:focus {
            color: black;
        }
        #redoc .menu-content .kTrdQW {
            top: 23px;
        }
        #redoc .menu-content .search-icon {
            fill: black;
            top: 23px;
        }
        #redoc .menu-content .hdqEfs,
        #redoc .menu-content .hjRNaf,
        #redoc .menu-content .hRqESd {
            opacity: 0.15;
            opacity: 0;
            transform: rotateZ(0deg);
        }
        #redoc .menu-content .iAfZCr {
            opacity: 0.5;
            opacity: 0;
            transform: rotateZ(180deg);
        }
        #redoc label[role="menuitem"] {
            border-left: 5px solid transparent;
            color: #777a80;
            padding: 6px 16px;
            transition: 0.15s ease;
        }
        #redoc label[role="menuitem"].hXQhys,
        #redoc label[role="menuitem"].hXQhys:hover,
        #redoc label[role="menuitem"].lgiBxe,
        #redoc label[role="menuitem"].lgiBxe:hover {
            color: #aa00ff;
            font-size: 0.88rem;
            font-weight: 500;
            margin-top: 10px;
            opacity: 1;
        }
        #redoc label[role='menuitem'].-depth1 {
            font-size: 15px;
        }
        #redoc label[role='menuitem'].-depth1:hover {
            background: #f5f7fa;
        }
        #redoc label[role='menuitem'].-depth2 {
            background-color: #edeff2;
            font-size: 13px;
            padding: 7px 16px;
        }
        #redoc label[role="menuitem"].active,
        #redoc label[role="menuitem"].active:hover {
            border-color: #aa00ff;
            color: black;
            font-weight: 500;
        }
        #redoc label[role="menuitem"].active:hover {
            color: black;
            font-weight: 500;
        }
        #redoc label[role="menuitem"]:hover {
            color: black;
        }
        #redoc .fKfDiw,
        #redoc .cFwMcp {
            font-family: 'Roboto', sans-serif;
        }
        #redoc .fKfDiw.get,
        #redoc .cFwMcp.get {
            background-color: rgb(0,222,141);
            color: hsl(158, 100%, 20%);
            font-size: 10px;
        }
        #redoc .kLCglf,
        #redoc .nGwee {
            display: none;
        }
        /* API Content */
        #redoc .api-content .cjtbAK {
            padding: 0 40px;
        }
        #redoc .api-content .bOgKnn,
        #redoc .api-content .dluJDj {
            padding: 20px 0;
        }
        #redoc .api-content h1, h2, h3, h4, h5 {
            color: #18191a;
            font-family: 'Roboto', sans-serif;
        }
        #redoc .api-content h1 {
            font-size: 2.5rem;
            font-weight: 100;
            line-height: 1.2;
            margin: 0;
        }
        #redoc .api-content h2 {
            font-size: 2rem;
            font-weight: 100;
            line-height: 1.2;
            margin: 0;
        }
        #redoc .api-content h3 {
            font-size: 1.25rem;
            font-weight: 400;
        }
        #redoc .api-content p {
            color: #777a80;
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 24px;
        }
        #redoc .api-content li {
            color: #777a80;
            font-size: 1rem;
            line-height: 1.5;
        }
        #redoc .api-content .kqCzMB,
        #redoc .api-content .gbsZqp {
            font-size: 14px;
        }
        #redoc .api-content .redoc-json li {
            font-size: 14px;
            line-height: 1.5;
        }
        #redoc .api-content strong {
            color: black;
            font-weight: 500;
        }
        #redoc .api-content h3 a,
        #redoc .api-content h3 a:visited,
        #redoc .api-content p a,
        #redoc .api-content p a:visited,
        #redoc .api-content span a,
        #redoc .api-content span a:visited {
            border-bottom: 1px solid #a0f;
            color: black;
            text-decoration: none;
        }
        #redoc .api-content h3 a:hover,
        #redoc .api-content p a:hover,
        #redoc .api-content span a:hover {
            border-bottom: 0;
        }
        #redoc .api-content a.ijUIjB,
        #redoc .api-content a.jIdpVJ {
            background-color: transparent;
            border: 1px solid #aa00ff!important;
            border-radius: 5px;
            color: black;
            display: inline-block;
            font-size: 0.88rem;
            padding: 4px 9px;
            text-align: center;
            text-decoration: none;            
            transition: 0.3s ease;
        }
        #redoc .api-content a.ijUIjB:hover,
        #redoc .api-content a.jIdpVJ:hover {
            background: #aa00ff;
            color: white;
        }
        #redoc .api-content .hcEfdz .Dropdown-arrow, {
            border-color: black transparent transparent;
        }
        #redoc .api-content .hcEfdz .Dropdown-control:hover {
            color: black;
            border-color: black;
        }
        /* Code */
        #redoc .api-content .MQtoQ,
        #redoc .api-content .jYthGi,
        #redoc .api-content .bwgXFh {
            color: rgba(51, 51, 51, 0.9);
        }
        #redoc .api-content td p {
            font-size: 0.88rem;
            line-height: 1.5;
        }
        #redoc .api-content .react-tabs__tab-list li {
            background-color: transparent;
            border-color: transparent;
            border-style: solid;
            border-width: 0 0 2px 0;
            border-radius: 0;
            color: #93979e;
            font-size: 14px;
            margin-bottom: 0;
        }
        #redoc .api-content .react-tabs__tab-list li:hover {
            color: white;
        }
        #redoc .api-content .gTicaw > ul > li.react-tabs__tab--selected,
        #redoc .api-content .irpqyy > ul > li.react-tabs__tab--selected {
            border-color: rgb(0, 222, 141);
            color: white;
        }
        #redoc .api-content .eCptzz,
        #redoc .api-content .jBjYbV {
            background-color: rgb(0, 222, 141);
            color: black;
        }
        #redoc .api-content .kqCzMB .token.atrule,
        #redoc .api-content .kqCzMB .token.attr-value,
        #redoc .api-content .kqCzMB .token.keyword,
        #redoc .api-content .gbsZqp .token.atrule,
        #redoc .api-content .gbsZqp .token.attr-value,
        #redoc .api-content .gbsZqp .token.keyword {
            color: hsl(280, 100%, 65%);
        }
        #redoc .api-content .kqCzMB .token.property,
        #redoc .api-content .kqCzMB .token.tag,
        #redoc .api-content .kqCzMB .token.number,
        #redoc .api-content .kqCzMB .token.constant,
        #redoc .api-content .kqCzMB .token.symbol,
        #redoc .api-content .gbsZqp .token.property,
        #redoc .api-content .gbsZqp .token.tag,
        #redoc .api-content .gbsZqp .token.number,
        #redoc .api-content .gbsZqp .token.constant,
        #redoc .api-content .gbsZqp .token.symbol {
            color: hsl(207, 100%, 65%);
        }
        #redoc .api-content .kqCzMB .token.operator,
        #redoc .api-content .kqCzMB .token.entity,
        #redoc .api-content .kqCzMB .token.url,
        #redoc .api-content .kqCzMB .token.variable,
        #redoc .api-content .gbsZqp .token.operator,
        #redoc .api-content .gbsZqp .token.entity,
        #redoc .api-content .gbsZqp .token.url,
        #redoc .api-content .gbsZqp .token.variable  {
            color: #ffd700;
        }
        #redoc .api-content .kqCzMB .token.selector, 
        #redoc .api-content .kqCzMB .token.attr-name, 
        #redoc .api-content .kqCzMB .token.string,
        #redoc .api-content .kqCzMB .token.char,
        #redoc .api-content .kqCzMB .token.builtin,
        #redoc .api-content .kqCzMB .token.inserted,
        #redoc .api-content .fFilVq .token.selector,
        #redoc .api-content .fFilVq .token.attr-name,
        #redoc .api-content .fFilVq .token.string,
        #redoc .api-content .fFilVq .token.char,
        #redoc .api-content .fFilVq .token.builtin,
        #redoc .api-content .fFilVq .token.inserted,
        #redoc .api-content .gbsZqp .token.selector,
        #redoc .api-content .gbsZqp .token.attr-name,
        #redoc .api-content .gbsZqp .token.string,
        #redoc .api-content .gbsZqp .token.char,
        #redoc .api-content .gbsZqp .token.builtin,
        #redoc .api-content .gbsZqp .token.inserted,
        #redoc .api-content .kZHJcC .token.selector,
        #redoc .api-content .kZHJcC .token.attr-name,
        #redoc .api-content .kZHJcC .token.string,
        #redoc .api-content .kZHJcC .token.char,
        #redoc .api-content .kZHJcC .token.builtin,
        #redoc .api-content .kZHJcC .token.inserted
         {
            font-family: 'Roboto Mono', sans-serif;
            color: rgb(0, 222, 141);
        }
        #redoc .api-content .hHEKqn
        #redoc .api-content .fDvFMp {
            background-color: rgba(0, 222, 141, 0.1);
            color: rgb(0, 222, 141);
        }
        #redoc .api-content .hHEKqn .kqkvgN p,
        #redoc .api-content .fDvFMp .evvbxn p {
            color: hsl(158, 100%, 25%);
            font-size: 1rem;
        }
        #redoc .api-content .hHEKqn .kzAVwM polygon,
        #redoc .api-content .hHEKqn .jMXIoZ polygon,
        #redoc .api-content .fDvFMp .TRaEN polygon {
            fill: rgb(0, 222, 141);
        }
        #redoc .api-content .ksPCLY,
        #redoc .api-content .jsTAxL {
            color: rgb(255, 0, 21);
        }
        #redoc .api-content .gTpeqQ,
        #redoc .api-content .iquxJz {
            background-color: rgba(255, 0, 21, 0.1);
            color: rgb(255, 0, 21);
        }
        #redoc .api-content .gTpeqQ .kqkvgN p,
        #redoc .api-content .iquxJz .evvbxn p {
            color: hsl(355, 100%, 40%);
            font-size: 1rem;
        }
        #redoc .api-content .gTpeqQ .kzAVwM polygon,
        #redoc .api-content .gTpeqQ .jMXIoZ polygon,
        #redoc .api-content .iquxJz .TRaEN polygon {
            fill: rgb(255, 0, 21);
        }
        #redoc .api-content code{
            color: black;
            font-family: 'Roboto Mono', sans-serif;
            font-size: 14px;
        }
        #redoc .api-content .kTVySD {
            color: black;
            font-family: 'Roboto Mono', sans-serif;
            font-size: 13px;
        }
        #redoc .api-content .hxaCuh,
        #redoc .api-content .dtUibw,
        #redoc .huXmSx,
        #redoc .fLUKgj {
            background-color: #18191a;
        }
        #redoc .api-content .react-tabs__tab-panel, .cuCCSZ, .dhhPGc, .fVaxnA, .dHLKeu, .fSxrIb {
            background-color: #232628!important;
        }
        /* put mobile menu button higher to not conflict with intercom */
        #redoc .redoc-wrap .menu-content+div {
            bottom: 100px;
        }
        /* Footer */
        .n-accordion-item ul.active {
            max-height: 300px;
        }
        .n-chevron-down.active {
            transform: rotate(180deg);
            color: #fff;
        }
        /* Media Queries */
        @media screen and (max-width: 64em) {
            #redoc .api-content .hxaCuh,
            #redoc .api-content .dtUibw {
                margin: 0 40px;
                width: calc(100% - 80px);
            }
        }
        @media screen and (min-width: 64em) {
            #redoc .api-content .fMRrIL,
            #redoc .api-content .hiuczA {
                margin-bottom: 20px;
            }
            #redoc .api-content .fFLSgh,
            #redoc .api-content .cjtbAK,
            #redoc .api-content .kFNigF {
                padding-left: 60px!important;
                padding-right: 60px!important;
            }
            #redoc .api-content .bOgKnn:first-of-type,
            #redoc .api-content .dluJDj:first-of-type {
                padding-top: 80px!important;
            }
            #redoc .api-content h1 {
                font-size: 3rem;
            }
            #redoc .api-content h2 {
                font-size: 2.25rem;
            }
            #redoc .api-content h3 {
                font-size: 1.5rem;
            }
            #redoc .api-content p {
                line-height: 1.67rem;
            }
        }
        @media screen and (min-width: 64em) and (max-width: 85rem) {
            #redoc .api-content .hxaCuh,
            #redoc .api-content .dtUibw {
                margin: 0 60px;
                width: calc(100% - 120px);
            }
        }
        @media print, screen and (max-width: 85rem) {
            #redoc .api-content .dluJDj {
                padding: 20px 0;
            }
            #redoc .api-content .hiuczA {
                padding: 40px 0;
            }
        }
    </style>
    {{{redocHead}}}

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT7G7NM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <div class="relative top-0 w-100 z-999">
            <div id="mobileMenu_bar" class="z-5 n-bg-dark-gray-l n-pv15 relative ph3 ph4-l w-100 n-bg-dark-gray">
                <div class="n-mx-w1920 center relative flex flex-row items-center">
                    <a class="flex no-underline" href="https://nomics.com">
                        <div class="flex items-center justify-start">
                            <div class="flex n-w36 n-h36 n-w42-l n-h42-l">
                                <svg style="width: 100%;" viewBox="0 0 60 60">
                                    <g fill-rule="nonzero" fill="none">
                                        <path style="transition: fill 0.3s ease-in-out;" d="M13.487964.025067 C6.015456.130506.010218 6.212755 0 13.686 v32.628 c-.00225 5.535029 3.331107 10.525988 8.44479 12.644192 5.113684 2.118204 10.999884.946194 14.91221-2.969192 l9.287-9.289c.22107 7.469981 6.395528 13.380372 13.868036 13.274933 C53.984544 59.869494 59.989782 53.787245 60 46.314 V13.686c.00225-5.535028-3.331107-10.525988-8.44479-12.644192 C46.441525-1.076396 40.555325.095614 36.643 4.011 L27.356 13.3C27.13493 5.830018 20.960472-.080372 13.487964.025067z" fill="hsla(280, 100%, 50%, 1)"></path>
                                        <ellipse style="transition: cx 0.3s ease-in-out, cy 0.3s ease-in-out;" fill="#FFFFFF" rx="13.686" ry="13.686" cx="29.75" cy="30.25"></ellipse>
                                    </g>
                                </svg>
                            </div>
                            <div class="dn dib-ns n-ml18 n-pt3 relative">
                                <svg
                                    style="width: 120px"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 300 52"
                                >
                                    <path
                                    d="M10.833 49.792H0V2.002h10.833v7.005C14.748 3.829 20.664 1 27.495 1c10.914 0 17.34
                                        7.338 17.34 18.681v30.111H33.993V21.778c0-7.257-3.834-11.1-9.735-11.1-8.082 0-13.413
                                        7.257-13.413 18.183l-.012 20.931zM51.9 25.936C51.9 11.014 61.5 1 75.732 1c14.232 0
                                        23.826 10.008 23.826 24.936 0 14.844-9.582 24.855-23.826 24.855S51.9 40.786 51.9
                                        25.936zm36.576 0c0-9.174-5.247-15.348-12.747-15.348S63 16.762 63 25.936c0 9.09 5.247
                                        15.261 12.747 15.261S88.5 35.023 88.5 25.936h-.024zM117.9
                                        49.792h-10.854V2.002h10.833v7.005C121.293 3.754 126.3 1 132.042 1c6.333 0 11.916 3.351
                                        14.499 9.426C150.453 4.252 156.705 1 163.2 1c9.165 0 15.582 6.507 15.582
                                        17.598v31.2h-10.824V21.184c0-6.921-3-10.593-8.499-10.593-7.248 0-11.331 6.6-11.331
                                        18.27v20.931h-10.83V21.184c0-7.173-3.168-10.593-8.25-10.593-6.993.009-11.148
                                        6.756-11.148 18.27v20.931zm70.884-47.79h10.833v47.79h-10.833V2.002zm18.339
                                        23.853C207.123 11.008 216.957 1 230.868 1c10.665 0 18.414 5.67 21.663 15.096l-10.08
                                        4.173c-1.332-6.258-5.334-9.669-11.331-9.669-7.833 0-12.9 6-12.9 15.261-.015 9.339 5.07
                                        15.339 12.981 15.339 5.916 0 9.918-3.42 11.256-9.675l9.993 4.173c-3.498 9.84-10.998
                                        15.102-21.414 15.102-14.088 0-23.913-10.014-23.913-24.945zm51.228
                                        11.343l9.831-4.5c.666 5.256 6.084 9 12.333 9 4.83 0 8.58-2.25 8.58-5.253
                                        0-8.1-28.743-4.671-28.743-21 0-9 7.908-14.178 18.747-14.178 10.665 0 18.579 5.1 20.496
                                        11.841l-10.344 4.5c-.336-3.918-4.5-7.257-10.416-7.257-4.332 0-7.665 1.827-7.665 4.422
                                        0 7.755 28.827 4.17 28.827 21.267 0 8.676-7.665 14.763-19.746
                                        14.763-11.901-.003-20.067-5.349-21.9-13.605z"
                                    fill="#FFF"
                                    fillRule="nonzero"
                                    />
                                </svg>
                                <span class="dn db-l fw4 n-alt-gray absolute left-0 bottom-0" style="color: #93979e; font-size: 0.65rem; letter-spacing: 0.4px; margin-bottom: -12px;">transparent crypto data</span>
                            </div>
                        </div>
                    </a>
                    <div id="mobileMenu_navigation" class="n-translate-y-5-s n-translate-y-5-m o-0 n-visibility-hidden-s n-visibility-hidden-m absolute left-0 w-100 w-auto-l tp-n-all db flex-l v-mid fixed relative-l n-top66-s n-top66-m top-0-l bottom-0 h-auto pa0-l bg-transparent-l bt b--white-10 bn-l tp-o td-2 tp-n-l overflow-y-scroll overflow-x-hidden overflow-visible-l n-translate-y-0-l n-o-100-l n-visibility-visible-l">
                    <nav class="flex-l items-center pl3 ml3-l n-pl18-l pt3 pt0-l fw3 f4 f6-l b--white-10 bl-l">
                            <ul class="list pv0 ph0 n-mv9">
                                <li class="db dib-l n-mr24">
                                    <a class="db dib-l link mb3 mb0-l n-gray hover-white" href="https://nomics.com">Cryptocurrencies</a>
                                </li
                                ><li class="db dib-l n-mr24">
                                    <a class="db dib-l link mb3 mb0-l n-gray hover-white" href="https://nomics.com/exchanges">Exchanges</a>
                                </li
                                ><li class="db dib-l n-mr24">
                                    <a class="db dib-l link mb3 mb0-l n-gray hover-white" href="https://nomics.com/markets/eth-ethereum/btc-bitcoin">Markets</a>
                                </li
                                ><li class="dn n-dib-960 n-dn-1200 n-mr24-l">
                                    <a class="db dib-l link mb3 mb0-l n-gray hover-white" href="#footer" onClick={handleScrollTo}>More...</a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="db n-dn-960 n-flex-1200 items-center pl3 n-pl18-l pt0-l fw3 f4 f6-l b--white-10 bl-l">
                            <ul class="list pv0 ph0 n-mv9">
                                <li class="db dib-l n-mr24">
                                    <div class="relative dib mb3 mb0-l w-100 w-auto-l n-hide-child-l hover-white n-hover-link-child-white mobileMenu_header-toggle">
                                        <a href="javascript:void(0);" class="db flex-l items-center link n-gray hover-white z-5 relative td-1 pointer">Products
                                            <svg class="n-h15 n-w15 n-ml2 n-mt3 n-mt0-l fr tp-tr tp-n-l td-1 ttf-eio mobileMenu_header-caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                        </a>
                                        <dl class="o-0 n-visibility-hidden-s n-visibility-hidden-m n-mx-h0 absolute-l left--1-l right--1-l n-w150-l z-4 overflow-auto n-bg-near-black ph3 pb2-l ma0 n-mt9-l br1-l f5 f6-l tp-all td-2 ttf-eio n-shadow-3-l n-o-0-l n-mx-h900-l n-visibility-hidden-l n-translate-y--5-l n-child-l mobileMenu_header-dropdown">
                                            <dt class="pt3"><a href="https://p.nomics.com/pricing" class="db relative z-2 link n-gray hover-white pb3 pb2-l">Pricing</a></dt>    
                                            <dt><a href="https://p.nomics.com/cryptocurrency-bitcoin-api" class="db relative z-2 link n-gray hover-white pb3 pb2-l">Market Data API</a></dt>
                                            <dt><a href="https://p.nomics.com/white-label-api" class="db relative z-2 link n-gray hover-white pb3 pb2-l">White Label API for Exchanges</a></dt>
                                            <dt><a href="https://p.nomics.com/services" class="db relative z-2 link n-gray hover-white pb3 pb2-l">Services</a></dt>
                                            <dt><a href="https://p.nomics.com/contact-sales" class="db relative z-2 link n-gray hover-white pb1 pb2-l">Contact Sales</a></dt>
                                        </dl>
                                    </div>
                                </li
                                ><li class="db dib-l n-mr24">
                                    <div class="relative dib mb3 mb0-l w-100 w-auto-l n-hide-child-l hover-white n-hover-link-child-white mobileMenu_header-toggle">
                                        <a href="javascript:void(0);" class="db flex-l items-center link n-gray hover-white z-5 relative td-1 pointer">Resources
                                            <svg class="n-h15 n-w15 n-ml2 n-mt3 n-mt0-l fr tp-tr tp-n-l td-1 ttf-eio mobileMenu_header-caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                        </a>
                                        <dl class="o-0 n-visibility-hidden-s n-visibility-hidden-m n-mx-h0 absolute-l left--1-l right--1-l w4-l n-w150-l z-4 overflow-auto n-bg-near-black ph4 ph3-l pb2-l ma0 n-mt9-l br1-l f5 f6-l tp-all td-2 ttf-eio n-shadow-3-l n-o-0-l n-mx-h900-l n-visibility-hidden-l n-translate-y--5-l n-child-l mobileMenu_header-dropdown">
                                            <dt class="pt3"><a href="https://docs.nomics.com" class="db relative z-2 link n-gray hover-white pb3 pb2-l">API Docs</a></dt>
                                            <dt><a href="https://blog.nomics.com" class="db relative z-2 link n-gray hover-white pb3 pb2-l">Blog</a></dt>
                                            <dt><a href="https://lp.nomics.com/newsletter/" class="db relative z-2 link n-gray hover-white pb3 pb2-l">Newsletter</a></dt>
                                            <dt><a href="https://p.nomics.com/podcast" class="db relative z-2 link n-gray hover-white pb3 pb2-l">Podcast</a></dt>
                                            <dt><a href="https://forums.nomics.com" class="db relative z-2 link n-gray hover-white pb3 pb2-l">Forums</a></dt>
                                            <dt><a href="https://blog.nomics.com/announcements/exchange-integration/" class="db relative z-2 link n-gray hover-white pb3 pb2-l">Exchange Integration</a></dt>
                                            <dt><a href="https://blog.nomics.com/announcements/verified/" class="db relative z-2 link n-gray hover-white pb3 pb2-l">Verified Exchange Program</a></dt>
                                            <dt><a href="https://lp.nomics.com/quiz/" class="db relative z-2 link n-gray hover-white pb3 pb2-l">Market Data Quiz</a></dt>
                                            <dt><a href="https://webinar.nomics.com" class="db link n-gray hover-white fw3 pb1 pb2-l">Webinar</a></dt> 
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <a href="https://p.nomics.com/cryptocurrency-bitcoin-api" class="flex n-dn-1024 link yellow f5 fw5 items-center justify-center relative n-ph12 n-pv6 nowrap ba b--yellow bg-animate hover-bg-yellow bg-transparent hover-black n-mr18 n-mt30" style="border-radius: 3px; transition: all .15s ease-in-out;">Free API Key</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="n-pl18 n-flex-grow-1">
                    </div>
                    <a href="https://p.nomics.com/cryptocurrency-bitcoin-api" class="dn n-dib-1024 n-fr link yellow fw5 items-center justify-center relative n-ph12 n-pv6 nowrap ba b--yellow bg-animate hover-bg-yellow bg-transparent hover-black n-ml18" style="border-radius: 3px; transition: all .15s ease-in-out">Free API Key</a>
                    <div class="db dn-l w-100 flex justify-end z-5">
                        <button id="mobileMenu_hamburger" class="flex items-center justify-center relative mh1 bg-transparent bn pointer n-h9 n-w18 n-pv6 n-hover-pv8 outline-0 text-indent--9999 tp-all td-1 ttf-eio">menu
                            <div id="mobileMenu_line1" class="db absolute bg-white n-h2 w-100 br4 tp-all td-1 top-0 left-0 "></div>
                            <div id="mobileMenu_line2" class="bg-white db absolute n-h2 w-100 br4 tp-all td-1 n-v-center left-0"></div>
                            <div id="mobileMenu_line3" class="db absolute bg-white n-h2 w-100 br4 tp-all td-1 bottom-0 left-0"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{{redocHTML}}}

    <footer>
        <div class="n-bg-dark-gray" id="footer">
            <div class="n-mx-w1920 center flex flex-column ph4-l pv5-l flex-row-l justify-between-l w-100">
                <div class=" mh3 mv0 pv3 bn-l ma0-l pa0-l flex justify-between items-center flex-column-l n-justify-start-960 relative">
                    <div class="">
                        <a class="relative db dtc-l n-mn-w150 n-mx-w150 ph0-l pt0-l pb2-l z-5" href="https://nomics.com">
                            <div class="flex items-center flex-column-l">
                                <div class="dib n-w-22-s n-w-22-m n-mt-2-s n-mt-2-m db-l w-third-l mt0-l n-mb18-l">
                                    <div>
                                        <svg style="width: 100%;" viewBox="0 0 60 60">
                                            <g fill-rule="nonzero" fill="none">
                                                <path style="transition: fill 0.3s ease-in-out;" d="M13.487964.025067 C6.015456.130506.010218 6.212755 0 13.686 v32.628 c-.00225 5.535029 3.331107 10.525988 8.44479 12.644192 5.113684 2.118204 10.999884.946194 14.91221-2.969192 l9.287-9.289c.22107 7.469981 6.395528 13.380372 13.868036 13.274933 C53.984544 59.869494 59.989782 53.787245 60 46.314 V13.686c.00225-5.535028-3.331107-10.525988-8.44479-12.644192 C46.441525-1.076396 40.555325.095614 36.643 4.011 L27.356 13.3C27.13493 5.830018 20.960472-.080372 13.487964.025067z" fill="hsla(280, 100%, 50%, 1)"></path>
                                                <ellipse style="transition: cx 0.3s ease-in-out, cy 0.3s ease-in-out;" fill="#FFFFFF" rx="13.686" ry="13.686" cx="29.75" cy="30.25"></ellipse>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div class="dib w-two-thirds n-mt-3 n-ml-11-s  n-ml-11-m db-l w-100-l ma0-l">
                                    <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 52">
                                        <path d="M10.833 49.792H0V2.002h10.833v7.005C14.748 3.829 20.664 1 27.495 1c10.914 0 17.34 7.338 17.34 18.681v30.111H33.993V21.778c0-7.257-3.834-11.1-9.735-11.1-8.082 0-13.413 7.257-13.413 18.183l-.012 20.931zM51.9 25.936C51.9 11.014 61.5 1 75.732 1c14.232 0 23.826 10.008 23.826 24.936 0 14.844-9.582 24.855-23.826 24.855S51.9 40.786 51.9 25.936zm36.576 0c0-9.174-5.247-15.348-12.747-15.348S63 16.762 63 25.936c0 9.09 5.247 15.261 12.747 15.261S88.5 35.023 88.5 25.936h-.024zM117.9 49.792h-10.854V2.002h10.833v7.005C121.293 3.754 126.3 1 132.042 1c6.333 0 11.916 3.351 14.499 9.426C150.453 4.252 156.705 1 163.2 1c9.165 0 15.582 6.507 15.582 17.598v31.2h-10.824V21.184c0-6.921-3-10.593-8.499-10.593-7.248 0-11.331 6.6-11.331 18.27v20.931h-10.83V21.184c0-7.173-3.168-10.593-8.25-10.593-6.993.009-11.148 6.756-11.148 18.27v20.931zm70.884-47.79h10.833v47.79h-10.833V2.002zm18.339 23.853C207.123 11.008 216.957 1 230.868 1c10.665 0 18.414 5.67 21.663 15.096l-10.08 4.173c-1.332-6.258-5.334-9.669-11.331-9.669-7.833 0-12.9 6-12.9 15.261-.015 9.339 5.07 15.339 12.981 15.339 5.916 0 9.918-3.42 11.256-9.675l9.993 4.173c-3.498 9.84-10.998 15.102-21.414 15.102-14.088 0-23.913-10.014-23.913-24.945zm51.228 11.343l9.831-4.5c.666 5.256 6.084 9 12.333 9 4.83 0 8.58-2.25 8.58-5.253 0-8.1-28.743-4.671-28.743-21 0-9 7.908-14.178 18.747-14.178 10.665 0 18.579 5.1 20.496 11.841l-10.344 4.5c-.336-3.918-4.5-7.257-10.416-7.257-4.332 0-7.665 1.827-7.665 4.422 0 7.755 28.827 4.17 28.827 21.267 0 8.676-7.665 14.763-19.746 14.763-11.901-.003-20.067-5.349-21.9-13.605z" fill="#FFF" fill-rule="nonzero"></path>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="flex flex-column-l items-center justify-end justify-between-ns">
                        <p class="n-gray f7 pr3 tr tc-l pa0-l w-75 w-auto-ns" style="margin:12px 0;">Made with<!-- --> <span class="white"><span style="color: hsla(280, 100%, 50%, 1)">❤&#xFE0E;</span></span> <!-- -->in Minnesota<br class="dn db-ns"> and Massachusetts</p>
                        <img class="dn db-ns" src="https://p.nomics.com/wp-content/themes/authority-pro/img/mnma.png">
                    </div>
                </div>
                <div class="n-links-container flex-l justify-between-l w-100 w-two-thirds-l">
                    <ul class="list pa0 ma0 flex-l justify-between-l w-100">
                        <li class="n-accordion-item overflow-hidden overflow-visible-l mr3-l">
                            <h5 class="white f6 fw4 ph3 ph0-l n-pv18-s n-pv18-m pt0-l pb3-l mv0 pointer n-cursor-default-l bt b--white-10 bn-l tp-c td-2">Market Activity<svg class="n-chevron-down n-gray n-h15 n-w15 ml2 fr tp-tr  n-graytp-n-l td-1 ttf-eio dn-l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg></h5>
                            <ul class="n-mx-h0-s n-mx-h0-m list pa0 ph3 ph0-l tp-mh td-3 ttf-e tdl0">
                                <li><a href="https://nomics.com" class="db link n-gray hover-white fw3 pb1 pv1-l">Cryptocurrencies</a></li>
                                <li><a href="https://nomics.com/exchanges" class="db link n-gray hover-white fw3 pb1 pv1-l">Exchanges</a></li>
                                <li><a href="https://nomics.com/markets/eth-ethereum/btc-bitcoin" class="db link n-gray hover-white fw3 pb3 pv1-l">Markets</a></li>
                            </ul>
                        </li>
                        <li class="n-accordion-item overflow-hidden overflow-visible-l mr3-l">
                            <h5 class="white f6 fw4 ph3 ph0-l n-pv18-s n-pv18-m pt0-l pb3-l mv0 pointer n-cursor-default-l bt b--white-10 bn-l tp-c td-2">Products<svg class="n-chevron-down n-gray n-h15 n-w15 ml2 fr tp-tr  n-graytp-n-l td-1 ttf-eio dn-l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg></h5>
                            <ul class="n-mx-h0-s n-mx-h0-m list pa0 ph3 ph0-l tp-mh td-3 ttf-e tdl0">
                                <li><a href="https://p.nomics.com/pricing" class="db link n-gray hover-white fw3 pb1 pv1-l">Pricing</a></li>
                                <li><a href="https://p.nomics.com/cryptocurrency-bitcoin-api" class="db link n-gray hover-white fw3 pb1 pv1-l">Market Data API</a></li>
                                <li><a href="https://p.nomics.com/white-label-api" class="db link n-gray hover-white fw3 pb1 pv1-l">White Label API for Exchanges</a></li>
                                <li><a href="https://p.nomics.com/services" class="db link n-gray hover-white fw3 pb1 pv1-l">Services</a></li>
                                <li><a href="https://p.nomics.com/contact-sales" class="db link n-gray hover-white fw3 pb1 pv1-l">Contact Sales</a></li>
                                <li><a href="https://requests.nomics.com" target="_blank" class="db link n-gray hover-white fw3 pb1 pv1-l">Feature Request</a></li>
                                <li><a href="https://status.nomics.com" target="_blank" class="db link n-gray hover-white fw3 pb1 pv1-l">Status Page</a></li>
                                <li><a href="https://updates.nomics.com" target="_blank" class="db link n-gray hover-white fw3 pb3 pv1-l">Product Updates</a></li>
                            </ul>
                        </li>
                        <li class="n-accordion-item overflow-hidden overflow-visible-l mr3-l">
                            <h5 class="white f6 fw4 ph3 ph0-l n-pv18-s n-pv18-m pt0-l pb3-l mv0 pointer n-cursor-default-l bt b--white-10 bn-l tp-c td-2">Resources<svg class="n-chevron-down n-gray n-h15 n-w15 ml2 fr tp-tr tp-n-l td-1 ttf-e tdl0io dn-l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg></h5>
                            <ul class="n-mx-h0-s n-mx-h0-m list pa0 ph3 ph0-l tp-mh td-3 ttf-e tdl0">
                                <li><a href="https://docs.nomics.com" class="db link n-gray hover-white fw3 pb1 pv1-l">API Docs</a></li>
                                <li><a href="https://blog.nomics.com" class="db link n-gray hover-white fw3 pb1 pv1-l">Blog</a></li>
                                <li><a href="https://lp.nomics.com/newsletter/" class="db link n-gray hover-white fw3 pb1 pv1-l">Newsletter</a></li>
                                <li><a href="https://p.nomics.com/podcast" class="db link n-gray hover-white fw3 pb1 pv1-l">Podcast</a></li>
                                <li><a href="https://forums.nomics.com" class="db link n-gray hover-white fw3 pb1 pv1-l">Forums</a></li>
                                <li><a href="https://blog.nomics.com/announcements/exchange-integration/" class="db link n-gray hover-white fw3 pb1 pv1-l">Exchange Integration</a></li>
                                <li><a href="https://blog.nomics.com/announcements/verified/" class="db link n-gray hover-white fw3 pb1 pv1-l">Verified Exchange Program</a></li>
                                <li><a href="https://lp.nomics.com/quiz/" class="db link n-gray hover-white fw3 pb1 pv1-l">Market Data Quiz</a></li>
                                <li><a href="https://webinar.nomics.com" class="db link n-gray hover-white fw3 pb3 pv1-l">Webinar</a></li>
                            </ul>
                        </li>
                        <li class="n-accordion-item overflow-hidden overflow-visible-l mr3-l">
                            <h5 class="white f6 fw4 ph3 ph0-l n-pv18-s n-pv18-m pt0-l pb3-l mv0 pointer n-cursor-default-l bt b--white-10 bn-l tp-c td-2">Company<svg class="n-chevron-down n-gray n-h15 n-w15 ml2 fr tp-tr tp-n-l td-1 ttf-e tdl0io dn-l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg></h5>
                            <ul class="n-mx-h0-s n-mx-h0-m list pa0 ph3 ph0-l tp-mh td-3 ttf-e">
                                <li><a href="https://p.nomics.com/about" class="db link n-gray hover-white fw3 pb1 pv1-l">About</a></li>
                                <li><a href="https://blog.nomics.com/essays/manifesto/" class="db link n-gray hover-white fw3 pb1 pv1-l">Manifesto</a></li>
                                <li><a href="https://nomics.breezy.hr" target="_blank" class="db link n-gray hover-white fw3 pb1 pv1-l">Careers</a></li>
                                <li><a href="https://p.nomics.com/contact" class="db link n-gray hover-white fw3 pb1 pv1-l">Contact Us</a></li>
                                <li><a href="https://p.nomics.com/contact" class="db link n-gray hover-white fw3 pb1 pv1-l">Press Inquiries</a></li>
                                <li><a href="https://p.nomics.com/donate" class="db link n-gray hover-white fw3 pb3 pv1-l">Donate</a></li>
                            </ul>
                        </li>
                        <li class="n-accordion-item overflow-hidden overflow-visible-l">
                            <h5 class="white f6 fw4 ph3 ph0-l n-pv18-s n-pv18-m pt0-l pb3-l mv0 pointer n-cursor-default-l bt b--white-10 bn-l tp-c td-2">Contact<svg class="n-chevron-down n-gray n-h15 n-w15 ml2 fr tp-tr tp-n-l td-1 ttf-eio dn-l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg></h5>
                            <ul class="n-mx-h0-s n-mx-h0-m list pa0 ph3 ph0-l tp-mh td-3 ttf-e">
                                <li><a href="mailto:contact@nomics.com" class="db link n-gray hover-white fw3 pb1 pv1-l">contact@nomics.com</a></li>
                                <li><a href="tel:6125049929" class="db link n-gray hover-white fw3 pb3 pv1-l">612-504-9929</a></li>
                                <li class="mt1-l">
                                    <a href="https://www.facebook.com/nomicsfinance" target="_blank" class="dib link n-gray hover-white pt1 pb3 pv1-l"><svg class="n-chevron-down n-fill-gray n-hover-fill-white n-h15 tp-all td-2" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" style="margin-right:8px;"><path d="M25.638355 48H2.649232C1.185673 48 0 46.813592 0 45.350603V2.649211C0 1.18585 1.185859 0 2.649232 0h42.701723C46.813955 0 48 1.18585 48 2.649211v42.701392C48 46.813778 46.813769 48 45.350955 48h-12.23165V29.411755h6.239216l.934234-7.244169h-7.17345v-4.624945c0-2.097354.582407-3.526631 3.589985-3.526631l3.836021-.001677V7.535091c-.663425-.088283-2.940527-.285521-5.589759-.285521-5.530718 0-9.317197 3.375956-9.317197 9.575639v5.342377h-6.255233v7.244169h6.255233V48z" fill-rule="evenodd"></path></svg></a>
                                    <a href="https://twitter.com/nomicsfinance" target="_blank" class="dib link n-gray hover-white pt1 pb3 pv1-l"><svg class="n-chevron-down n-fill-gray n-hover-fill-white n-h15 tp-all td-2" viewBox="0 0 48 40" xmlns="http://www.w3.org/2000/svg" style="margin-right:8px;"><path d="M48 4.735283c-1.763691.803179-3.662617 1.346335-5.654517 1.589022 2.034161-1.248104 3.594999-3.227158 4.33034-5.584688-1.90456 1.155652-4.009156 1.996389-6.257439 2.447093C38.626519 1.224991 36.065504 0 33.231203 0c-5.43476 0-9.843987 4.521488-9.843987 10.097508 0 .791622.084522 1.56013.253566 2.299747-8.18454-.421813-15.439338-4.437703-20.299349-10.55399-.848036 1.496569-1.332629 3.232936-1.332629 5.081979 0 3.501625 1.738335 6.592994 4.381053 8.404478-1.611551-.049115-3.132946-.508487-4.462757-1.259661v.124233c0 4.894186 3.394964 8.976526 7.9028 9.901047-.825498.236909-1.696074.355363-2.594823.355363-.633915 0-1.253742-.060671-1.853848-.179126 1.253742 4.010112 4.888185 6.931022 9.198803 7.009029-3.369608 2.710003-7.618243 4.325027-12.230323 4.325027-.794506 0-1.58056-.046226-2.349709-.138678C4.358514 38.327194 9.53689 40 15.095615 40c18.115866 0 28.019018-15.384615 28.019018-28.729505 0-.439148-.008452-.878296-.025357-1.308776C45.013559 8.537378 46.684275 6.760563 48 4.735283" fill-rule="evenodd"></path></svg></a>
                                    <a href="https://www.linkedin.com/company/nomicsfinance" target="_blank" class="dib link n-gray hover-white pt1 pb3 pv1-l"><svg class="n-chevron-down n-fill-gray n-hover-fill-white n-h15 tp-all td-2" viewBox="0 0 44 40" xmlns="http://www.w3.org/2000/svg" style="margin-right:8px;"><path d="M44 40h-9.7246V25.9384c0-3.680604-1.521167-6.19325-4.866181-6.19325-2.55856 0-3.98142 1.695588-4.643697 3.329704-.248354.586541-.209548 1.403599-.209548 2.220657V40h-9.634055s.124177-24.908753 0-27.172953h9.634055v4.264584c.569144-1.864635 3.647695-4.525837 8.560442-4.525837C39.21143 12.565794 44 16.474355 44 24.890824V40zM5.17921 9.428187h-.062089C2.0127 9.428187 0 7.350964 0 4.717936 0 2.033681 2.072201 0 5.238711 0c3.163923 0 5.10936 2.028559 5.171449 4.710252 0 2.633028-2.007526 4.717935-5.23095 4.717935zm-4.069379 3.39886h8.575964V40H1.109831V12.827047z" fill-rule="evenodd"></path></svg></a>
                                </li>
                            </ul>
                            <a href="https://p.nomics.com/cryptocurrency-bitcoin-api" class="dn n-flex-960 link yellow fw5 items-center justify-center relative n-ph12 n-pv6 nowrap ba b--yellow bg-animate hover-bg-yellow bg-transparent hover-black n-mt30" style="align-self:flex-end;border-radius:3px;transition:all .15s ease-in-out">Free API Key</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="n-bg-near-black ph3 ph4-l pv2 cf">
                <div class="n-mx-w1920 center">
                    <p class=" db n-gray f7 tc fl-ns pv0 mv1">© 2019 Nomics™ | All Rights Reserved</p>
                    <p class=" db n-gray f7 tc fr-ns pv0 mv1"><a href="https://p.nomics.com/terms-and-conditions" class="link n-gray hover-white">Terms</a> | <a href="https://p.nomics.com/privacy-policy" class="link n-gray hover-white">Privacy</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script type='text/javascript' src='https://p.nomics.com/wp-content/themes/authority-pro/js/jquery-3.3.1.slim.min.js'></script>
    <script type='text/javascript' src='https://p.nomics.com/wp-content/themes/authority-pro/js/nomics.js?ver=1.0.82'></script>

</body>

</html>