<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <title>Nomics API Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KT7G7NM');</script>
    <!-- End Google Tag Manager -->

    <style>
      body {
        padding: 0;
        margin: 0;
      }
      /* put mobile menu button higher to not conflict with intercom */
      #redoc .redoc-wrap .menu-content + div {
        bottom: 100px;
      }
    </style>

    {{{redocHead}}}

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT7G7NM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{{redocHTML}}}
  </body>
</html>
