<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>API Documentation | Nomics</title>
    <description></description>
    <link rel="icon" type="image/png" href="https://nomics.com/static/favicon/0.00.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://p.nomics.com/wp-content/themes/authority-pro/nomics.css">
    <link rel="stylesheet" href="https://p.nomics.com/wp-content/themes/authority-pro/header.css">
    <link rel="stylesheet" href="https://p.nomics.com/wp-content/themes/authority-pro/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KT7G7NM');</script>
    <!-- End Google Tag Manager -->

    <style>
        /* Global */
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            overflow-x: hidden;
            margin: 0;
            padding: 0;
        }
        #redoc mark {
            background-color: #ffd700;
        }
        /* Menu Content */
        #redoc .menu-content,
        #redoc .kdBGp {
            background-color: #f5f7fa;
        }
        #redoc .eqJaZf {
            background-color: #edeff2;
        }
        #redoc .menu-content label {
            font-family: 'Roboto', sans-serif;
        }
        #redoc .menu-content .search-input {
            border-bottom-color: rgba(147,151,158,0.25);
            color: #777a80;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            padding: 24px;
        }
        #redoc .menu-content .search-input:focus {
            color: black;
        }
        #redoc .menu-content .kTrdQW {
            top: 23px;
        }
        #redoc .menu-content .search-icon {
            fill: black;
            top: 23px;
        }
        #redoc .menu-content .hdqEfs,
        #redoc .menu-content .hjRNaf,
        #redoc .menu-content .hRqESd {
            opacity: 0.15;
            opacity: 0;
            transform: rotateZ(0deg);
        }
        #redoc .menu-content .iAfZCr {
            opacity: 0.5;
            opacity: 0;
            transform: rotateZ(180deg);
        }
        #redoc label[role="menuitem"] {
            border-left: 5px solid transparent;
            color: #777a80;
            padding: 6px 16px;
            transition: 0.15s ease;
        }
        #redoc label[role="menuitem"].hXQhys,
        #redoc label[role="menuitem"].hXQhys:hover,
        #redoc label[role="menuitem"].lgiBxe,
        #redoc label[role="menuitem"].lgiBxe:hover {
            color: #aa00ff;
            font-size: 0.88rem;
            font-weight: 500;
            margin-top: 10px;
            opacity: 1;
        }
        #redoc label[role='menuitem'].-depth1 {
            font-size: 15px;
        }
        #redoc label[role='menuitem'].-depth1:hover {
            background: #f5f7fa;
        }
        #redoc label[role='menuitem'].-depth2 {
            background-color: #edeff2;
            font-size: 13px;
            padding: 7px 16px;
        }
        #redoc label[role="menuitem"].active,
        #redoc label[role="menuitem"].active:hover {
            border-color: #aa00ff;
            color: black;
            font-weight: 500;
        }
        #redoc label[role="menuitem"].active:hover {
            color: black;
            font-weight: 500;
        }
        #redoc label[role="menuitem"]:hover {
            color: black;
        }
        #redoc .fKfDiw,
        #redoc .cFwMcp {
            font-family: 'Roboto', sans-serif;
        }
        #redoc .fKfDiw.get,
        #redoc .cFwMcp.get {
            background-color: rgb(0,222,141);
            color: hsl(158, 100%, 20%);
            font-size: 10px;
        }
        #redoc .kLCglf,
        #redoc .nGwee {
            display: none;
        }
        /* API Content */
        #redoc .api-content .cjtbAK {
            padding: 0 40px;
        }
        #redoc .api-content .bOgKnn,
        #redoc .api-content .dluJDj {
            padding: 20px 0;
        }
        #redoc .api-content h1, h2, h3, h4, h5 {
            color: #18191a;
            font-family: 'Roboto', sans-serif;
        }
        #redoc .api-content h1 {
            font-size: 2.5rem;
            font-weight: 100;
            line-height: 1.2;
            margin: 0;
        }
        #redoc .api-content h2 {
            font-size: 2rem;
            font-weight: 100;
            line-height: 1.2;
            margin: 0;
        }
        #redoc .api-content h3 {
            font-size: 1.25rem;
            font-weight: 400;
        }
        #redoc .api-content p {
            color: #777a80;
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 24px;
        }
        #redoc .api-content li {
            color: #777a80;
            font-size: 1rem;
            line-height: 1.5;
        }
        #redoc .api-content .kqCzMB,
        #redoc .api-content .gbsZqp {
            font-size: 14px;
        }
        #redoc .api-content .redoc-json li {
            font-size: 14px;
            line-height: 1.5;
        }
        #redoc .api-content strong {
            color: black;
            font-weight: 500;
        }
        #redoc .api-content h3 a,
        #redoc .api-content h3 a:visited,
        #redoc .api-content p a,
        #redoc .api-content p a:visited,
        #redoc .api-content span a,
        #redoc .api-content span a:visited {
            border-bottom: 1px solid #a0f;
            color: black;
            text-decoration: none;
        }
        #redoc .api-content h3 a:hover,
        #redoc .api-content p a:hover,
        #redoc .api-content span a:hover {
            border-bottom: 0;
        }
        #redoc .api-content a.ijUIjB,
        #redoc .api-content a.jIdpVJ {
            background-color: transparent;
            border: 1px solid #aa00ff!important;
            border-radius: 5px;
            color: black;
            display: inline-block;
            font-size: 0.88rem;
            padding: 4px 9px;
            text-align: center;
            text-decoration: none;            
            transition: 0.3s ease;
        }
        #redoc .api-content a.ijUIjB:hover,
        #redoc .api-content a.jIdpVJ:hover {
            background: #aa00ff;
            color: white;
        }
        #redoc .api-content .hcEfdz .Dropdown-arrow, {
            border-color: black transparent transparent;
        }
        #redoc .api-content .hcEfdz .Dropdown-control:hover {
            color: black;
            border-color: black;
        }
        /* Code */
        #redoc .api-content .MQtoQ,
        #redoc .api-content .jYthGi,
        #redoc .api-content .bwgXFh {
            color: rgba(51, 51, 51, 0.9);
        }
        #redoc .api-content td p {
            font-size: 0.88rem;
            line-height: 1.5;
        }
        #redoc .api-content .react-tabs__tab-list li {
            background-color: transparent;
            border-color: transparent;
            border-style: solid;
            border-width: 0 0 2px 0;
            border-radius: 0;
            color: #93979e;
            font-size: 14px;
            margin-bottom: 0;
        }
        #redoc .api-content .react-tabs__tab-list li:hover {
            color: white;
        }
        #redoc .api-content .gTicaw > ul > li.react-tabs__tab--selected,
        #redoc .api-content .irpqyy > ul > li.react-tabs__tab--selected {
            border-color: rgb(0, 222, 141);
            color: white;
        }
        #redoc .api-content .eCptzz,
        #redoc .api-content .jBjYbV {
            background-color: rgb(0, 222, 141);
            color: black;
        }
        #redoc .api-content .kqCzMB .token.atrule,
        #redoc .api-content .kqCzMB .token.attr-value,
        #redoc .api-content .kqCzMB .token.keyword,
        #redoc .api-content .gbsZqp .token.atrule,
        #redoc .api-content .gbsZqp .token.attr-value,
        #redoc .api-content .gbsZqp .token.keyword {
            color: hsl(280, 100%, 65%);
        }
        #redoc .api-content .kqCzMB .token.property,
        #redoc .api-content .kqCzMB .token.tag,
        #redoc .api-content .kqCzMB .token.number,
        #redoc .api-content .kqCzMB .token.constant,
        #redoc .api-content .kqCzMB .token.symbol,
        #redoc .api-content .gbsZqp .token.property,
        #redoc .api-content .gbsZqp .token.tag,
        #redoc .api-content .gbsZqp .token.number,
        #redoc .api-content .gbsZqp .token.constant,
        #redoc .api-content .gbsZqp .token.symbol {
            color: hsl(207, 100%, 65%);
        }
        #redoc .api-content .kqCzMB .token.operator,
        #redoc .api-content .kqCzMB .token.entity,
        #redoc .api-content .kqCzMB .token.url,
        #redoc .api-content .kqCzMB .token.variable,
        #redoc .api-content .gbsZqp .token.operator,
        #redoc .api-content .gbsZqp .token.entity,
        #redoc .api-content .gbsZqp .token.url,
        #redoc .api-content .gbsZqp .token.variable  {
            color: #ffd700;
        }
        #redoc .api-content .kqCzMB .token.selector, 
        #redoc .api-content .kqCzMB .token.attr-name, 
        #redoc .api-content .kqCzMB .token.string,
        #redoc .api-content .kqCzMB .token.char,
        #redoc .api-content .kqCzMB .token.builtin,
        #redoc .api-content .kqCzMB .token.inserted,
        #redoc .api-content .fFilVq .token.selector,
        #redoc .api-content .fFilVq .token.attr-name,
        #redoc .api-content .fFilVq .token.string,
        #redoc .api-content .fFilVq .token.char,
        #redoc .api-content .fFilVq .token.builtin,
        #redoc .api-content .fFilVq .token.inserted,
        #redoc .api-content .gbsZqp .token.selector,
        #redoc .api-content .gbsZqp .token.attr-name,
        #redoc .api-content .gbsZqp .token.string,
        #redoc .api-content .gbsZqp .token.char,
        #redoc .api-content .gbsZqp .token.builtin,
        #redoc .api-content .gbsZqp .token.inserted,
        #redoc .api-content .kZHJcC .token.selector,
        #redoc .api-content .kZHJcC .token.attr-name,
        #redoc .api-content .kZHJcC .token.string,
        #redoc .api-content .kZHJcC .token.char,
        #redoc .api-content .kZHJcC .token.builtin,
        #redoc .api-content .kZHJcC .token.inserted
         {
            font-family: 'Roboto Mono', sans-serif;
            color: rgb(0, 222, 141);
        }
        #redoc .api-content .hHEKqn
        #redoc .api-content .fDvFMp {
            background-color: rgba(0, 222, 141, 0.1);
            color: rgb(0, 222, 141);
        }
        #redoc .api-content .hHEKqn .kqkvgN p,
        #redoc .api-content .fDvFMp .evvbxn p {
            color: hsl(158, 100%, 25%);
            font-size: 1rem;
        }
        #redoc .api-content .hHEKqn .kzAVwM polygon,
        #redoc .api-content .hHEKqn .jMXIoZ polygon,
        #redoc .api-content .fDvFMp .TRaEN polygon {
            fill: rgb(0, 222, 141);
        }
        #redoc .api-content .ksPCLY,
        #redoc .api-content .jsTAxL {
            color: rgb(255, 0, 21);
        }
        #redoc .api-content .gTpeqQ,
        #redoc .api-content .iquxJz {
            background-color: rgba(255, 0, 21, 0.1);
            color: rgb(255, 0, 21);
        }
        #redoc .api-content .gTpeqQ .kqkvgN p,
        #redoc .api-content .iquxJz .evvbxn p {
            color: hsl(355, 100%, 40%);
            font-size: 1rem;
        }
        #redoc .api-content .gTpeqQ .kzAVwM polygon,
        #redoc .api-content .gTpeqQ .jMXIoZ polygon,
        #redoc .api-content .iquxJz .TRaEN polygon {
            fill: rgb(255, 0, 21);
        }
        #redoc .api-content code{
            color: black;
            font-family: 'Roboto Mono', sans-serif;
            font-size: 14px;
        }
        #redoc .api-content .kTVySD {
            color: black;
            font-family: 'Roboto Mono', sans-serif;
            font-size: 13px;
        }
        #redoc .api-content .hxaCuh,
        #redoc .api-content .dtUibw,
        #redoc .huXmSx,
        #redoc .fLUKgj {
            background-color: #18191a;
        }
        #redoc .api-content .react-tabs__tab-panel, .cuCCSZ, .dhhPGc, .fVaxnA, .dHLKeu, .fSxrIb, .gzAoUb {
            background-color: #232628!important;
        }
        /* put mobile menu button higher to not conflict with intercom */
        #redoc .redoc-wrap .menu-content+div {
            bottom: 100px;
        }
        /* Footer */
        .n-accordion-item ul.active {
            max-height: 300px;
        }
        .n-chevron-down.active {
            transform: rotate(180deg);
            color: #fff;
        }
        /* Media Queries */
        @media screen and (max-width: 64em) {
            #redoc .api-content .hxaCuh,
            #redoc .api-content .dtUibw {
                margin: 0 40px;
                width: calc(100% - 80px);
            }
        }
        @media screen and (min-width: 64em) {
            #redoc .api-content .fMRrIL,
            #redoc .api-content .hiuczA {
                margin-bottom: 20px;
            }
            #redoc .api-content .fFLSgh,
            #redoc .api-content .cjtbAK,
            #redoc .api-content .kFNigF {
                padding-left: 60px!important;
                padding-right: 60px!important;
            }
            #redoc .api-content .bOgKnn:first-of-type,
            #redoc .api-content .dluJDj:first-of-type {
                padding-top: 80px!important;
            }
            #redoc .api-content h1 {
                font-size: 3rem;
            }
            #redoc .api-content h2 {
                font-size: 2.25rem;
            }
            #redoc .api-content h3 {
                font-size: 1.5rem;
            }
            #redoc .api-content p {
                line-height: 1.67rem;
            }
        }
        @media screen and (min-width: 64em) and (max-width: 85rem) {
            #redoc .api-content .hxaCuh,
            #redoc .api-content .dtUibw {
                margin: 0 60px;
                width: calc(100% - 120px);
            }
        }
        @media print, screen and (max-width: 85rem) {
            #redoc .api-content .dluJDj {
                padding: 20px 0;
            }
            #redoc .api-content .hiuczA {
                padding: 40px 0;
            }
        }
    </style>
    {{{redocHead}}}

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT7G7NM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="nomics-shared-header nsh">
        <script type="application/javascript">
            function toggleHeaderMenu (event) {
            var bd = window.document.body;
            var mm = document.getElementById('nomicsHeaderMenu');
            mm.classList.toggle('open');
            var isOpen = mm.classList.contains('open');
            if (isOpen) {
                bd.classList.add('nsh-modal-lock');
            } else {
                bd.classList.remove('nsh-modal-lock');
            }
            }
        </script>
        <div class="nsh-menu-bar" id="nomicsHeaderMenu">
            <div class="nsh-menu-items">
            <a class="nomics-header-logo" href="https://nomics.com">
                <div class="nsh-logo-container">
                <div class="nsh-logo-n">
                    <svg viewBox="0 0 60 60"><g fill-rule="nonzero" fill="none"><path style="transition: fill 0.3s ease-in-out;" d="M13.487964.025067 C6.015456.130506.010218 6.212755 0 13.686 v32.628 c-.00225 5.535029 3.331107 10.525988 8.44479 12.644192 5.113684 2.118204 10.999884.946194 14.91221-2.969192 l9.287-9.289c.22107 7.469981 6.395528 13.380372 13.868036 13.274933 C53.984544 59.869494 59.989782 53.787245 60 46.314 V13.686c.00225-5.535028-3.331107-10.525988-8.44479-12.644192 C46.441525-1.076396 40.555325.095614 36.643 4.011 L27.356 13.3C27.13493 5.830018 20.960472-.080372 13.487964.025067z" fill="hsla(280, 100%, 50%, 1)"></path><ellipse style="transition: cx 0.3s ease-in-out, cy 0.3s ease-in-out;" fill="#FFFFFF" rx="13.686" ry="13.686" cx="29.75" cy="30.25"></ellipse></g></svg>
                </div>
                <div class="nsh-logo-text dib n-ml18 n-pt3 relative">
                    <svg style="width: 120px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 52"><path d="M10.833 49.792H0V2.002h10.833v7.005C14.748 3.829 20.664 1 27.495 1c10.914 0 17.34 7.338 17.34 18.681v30.111H33.993V21.778c0-7.257-3.834-11.1-9.735-11.1-8.082 0-13.413 7.257-13.413 18.183l-.012 20.931zM51.9 25.936C51.9 11.014 61.5 1 75.732 1c14.232 0 23.826 10.008 23.826 24.936 0 14.844-9.582 24.855-23.826 24.855S51.9 40.786 51.9 25.936zm36.576 0c0-9.174-5.247-15.348-12.747-15.348S63 16.762 63 25.936c0 9.09 5.247 15.261 12.747 15.261S88.5 35.023 88.5 25.936h-.024zM117.9 49.792h-10.854V2.002h10.833v7.005C121.293 3.754 126.3 1 132.042 1c6.333 0 11.916 3.351 14.499 9.426C150.453 4.252 156.705 1 163.2 1c9.165 0 15.582 6.507 15.582 17.598v31.2h-10.824V21.184c0-6.921-3-10.593-8.499-10.593-7.248 0-11.331 6.6-11.331 18.27v20.931h-10.83V21.184c0-7.173-3.168-10.593-8.25-10.593-6.993.009-11.148 6.756-11.148 18.27v20.931zm70.884-47.79h10.833v47.79h-10.833V2.002zm18.339 23.853C207.123 11.008 216.957 1 230.868 1c10.665 0 18.414 5.67 21.663 15.096l-10.08 4.173c-1.332-6.258-5.334-9.669-11.331-9.669-7.833 0-12.9 6-12.9 15.261-.015 9.339 5.07 15.339 12.981 15.339 5.916 0 9.918-3.42 11.256-9.675l9.993 4.173c-3.498 9.84-10.998 15.102-21.414 15.102-14.088 0-23.913-10.014-23.913-24.945zm51.228 11.343l9.831-4.5c.666 5.256 6.084 9 12.333 9 4.83 0 8.58-2.25 8.58-5.253 0-8.1-28.743-4.671-28.743-21 0-9 7.908-14.178 18.747-14.178 10.665 0 18.579 5.1 20.496 11.841l-10.344 4.5c-.336-3.918-4.5-7.257-10.416-7.257-4.332 0-7.665 1.827-7.665 4.422 0 7.755 28.827 4.17 28.827 21.267 0 8.676-7.665 14.763-19.746 14.763-11.901-.003-20.067-5.349-21.9-13.605z" fill="#FFF" fillrule="nonzero"></path></svg>
                    <span>the largest crypto index</span>
                </div>
                </div>
            </a>
            <div class="nsh-menu-nav">
                <nav class="nsh-menu-group group-a">
                <ul>
                    <li><a class="nsh-menu-item" href="https://nomics.com">Assets</a></li>
                    <li><a class="nsh-menu-item" href="https://nomics.com/exchanges">Exchanges</a></li>
                    <li><a class="nsh-menu-item" href="https://nomics.com/markets/btc-bitcoin/usd-united-states-dollar">Converter</a></li>
                    <li><a class="nsh-menu-item" href="https://nomics.com/watchlist">Watchlist</a></li>
                    <li><a class="nsh-menu-item" href="#footer">More...</a></li>
                </ul>
                </nav>
                <nav class="nsh-menu-group group-b">
                <ul>
                    <li><a class="nsh-menu-item" href="https://p.nomics.com/advertising">Advertise</a></li>
                    <li><a class="nsh-free-key-menu-item" href="https://p.nomics.com/cryptocurrency-bitcoin-api">API Key</a></li>
                </ul>
                </nav>
            </div>
            <div class="nsh-menu-divider"></div>
            <a class="nsh-free-key" href="https://p.nomics.com/cryptocurrency-bitcoin-api">API Key</a>
            <div class="nsh-menu-controls">
                <button class="nsh-menu-burger" onClick="toggleHeaderMenu(event)">
                menu
                <div class="nsh-menu-line-1"></div>
                <div class="nsh-menu-line-2"></div>
                <div class="nsh-menu-line-3"></div>
                </button>
            </div>
            </div>
            <script type="application/javascript">
            var isMobile;
            var setViewportWidth = function () {
                var viewportWidth = window.innerWidth || document.documentElement.clientWidth;
                isMobile = viewportWidth < 960;
            }
            setViewportWidth();
            window.addEventListener('resize', function () {
                setViewportWidth();
            }, false);
            function toggleHeaderItem (event) {
                if (isMobile) {
                event.currentTarget.parentNode.classList.toggle('active');
                event.preventDefault();
                }
            }
            var el = document.getElementsByClassName('nsh-menu-toggle');
            for (var i = 0; i < el.length; i++) {
                if (el[i].addEventListener) {
                el[i].addEventListener('click', toggleHeaderItem, false);
                } else {
                el[i].attachEvent('onclick', toggleHeaderItem);
                }
            }
            </script>
        </div>
    </header>

    {{{redocHTML}}}

    <footer class="nomics-shared-footer nsf" id="footer">
        <div class="nsf-row">
            <div class="nsf-container nsf-center">
            <div class="nsf-logo">
                <div class="nsf-logo-container">
                <a href="https://nomics.com/">
                    <div class="nsf-logo-elements">
                    <div class="nsf-logo-n">
                        <svg style="width:100%" viewBox="0 0 60 60"><g fill-rule="nonzero" fill="none"><path style="transition:fill 0.3s ease-in-out" d="M13.487964.025067 C6.015456.130506.010218 6.212755 0 13.686 v32.628 c-.00225 5.535029 3.331107 10.525988 8.44479 12.644192 5.113684 2.118204 10.999884.946194 14.91221-2.969192 l9.287-9.289c.22107 7.469981 6.395528 13.380372 13.868036 13.274933 C53.984544 59.869494 59.989782 53.787245 60 46.314 V13.686c.00225-5.535028-3.331107-10.525988-8.44479-12.644192 C46.441525-1.076396 40.555325.095614 36.643 4.011 L27.356 13.3C27.13493 5.830018 20.960472-.080372 13.487964.025067z" fill="#9d00ff"></path> <ellipse style="transition:cx 0.3s ease-in-out, cy 0.3s ease-in-out" fill="#FFFFFF" rx="13.686" ry="13.686" cx="30" cy="30"></ellipse></g></svg>
                    </div>
                    <div class="nsf-logo-text">
                        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 52"><path d="M10.833 49.792H0V2.002h10.833v7.005C14.748 3.829 20.664 1 27.495 1c10.914 0 17.34 7.338 17.34 18.681v30.111H33.993V21.778c0-7.257-3.834-11.1-9.735-11.1-8.082 0-13.413 7.257-13.413 18.183l-.012 20.931zM51.9 25.936C51.9 11.014 61.5 1 75.732 1c14.232 0 23.826 10.008 23.826 24.936 0 14.844-9.582 24.855-23.826 24.855S51.9 40.786 51.9 25.936zm36.576 0c0-9.174-5.247-15.348-12.747-15.348S63 16.762 63 25.936c0 9.09 5.247 15.261 12.747 15.261S88.5 35.023 88.5 25.936h-.024zM117.9 49.792h-10.854V2.002h10.833v7.005C121.293 3.754 126.3 1 132.042 1c6.333 0 11.916 3.351 14.499 9.426C150.453 4.252 156.705 1 163.2 1c9.165 0 15.582 6.507 15.582 17.598v31.2h-10.824V21.184c0-6.921-3-10.593-8.499-10.593-7.248 0-11.331 6.6-11.331 18.27v20.931h-10.83V21.184c0-7.173-3.168-10.593-8.25-10.593-6.993.009-11.148 6.756-11.148 18.27v20.931zm70.884-47.79h10.833v47.79h-10.833V2.002zm18.339 23.853C207.123 11.008 216.957 1 230.868 1c10.665 0 18.414 5.67 21.663 15.096l-10.08 4.173c-1.332-6.258-5.334-9.669-11.331-9.669-7.833 0-12.9 6-12.9 15.261-.015 9.339 5.07 15.339 12.981 15.339 5.916 0 9.918-3.42 11.256-9.675l9.993 4.173c-3.498 9.84-10.998 15.102-21.414 15.102-14.088 0-23.913-10.014-23.913-24.945zm51.228 11.343l9.831-4.5c.666 5.256 6.084 9 12.333 9 4.83 0 8.58-2.25 8.58-5.253 0-8.1-28.743-4.671-28.743-21 0-9 7.908-14.178 18.747-14.178 10.665 0 18.579 5.1 20.496 11.841l-10.344 4.5c-.336-3.918-4.5-7.257-10.416-7.257-4.332 0-7.665 1.827-7.665 4.422 0 7.755 28.827 4.17 28.827 21.267 0 8.676-7.665 14.763-19.746 14.763-11.901-.003-20.067-5.349-21.9-13.605z" fill="#FFF" fill-rule="nonzero"></path></svg>
                    </div>
                    </div>
                </a>
                </div>
                <div class="nsf-made">
                <span>
                    Made with <span class="nsf-heart">&#10084;</span> in Minnesota<br> and Massachusetts
                </span>
                <img class="nsf-mnma" src="https://nomics-com.s3.us-east-2.amazonaws.com/assets/mnma.png" alt="Minnesota and Massachusetts">
                </div>
            </div>
            <div class="nsf-lists">
                <ul>
                <li>
                    <h5 class="footer-toggle">
                    Market Activity
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                        <li><a href="https://nomics.com/">Assets</a></li>
                        <li><a href="https://nomics.com/exchanges">Exchanges</a></li>
                        <li><a href="https://nomics.com/markets/btc-bitcoin/usd-united-states-dollar">Currency Converter</a></li>
                        <li><a class="nsh-menu-item" href="https://nomics.com/watchlist">Watchlist</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Products
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                        <li><a href="https://p.nomics.com/advertising">Advertise</a></li>
                        <li><a href="https://nomics.com/pricing">Pricing</a></li>
                        <li><a href="https://p.nomics.com/cryptocurrency-bitcoin-api">Market Data API</a></li>
                        <li><a href="https://p.nomics.com/white-label-api">White Label API for Exchanges</a></li>
                        <li><a href="https://p.nomics.com/services">Services</a></li>
                        <li><a href="https://p.nomics.com/contact-sales">Contact Sales</a></li>
                        <li><a href="https://requests.nomics.com">Feature Request</a></li>
                        <li><a href="https://status.nomics.com">Status Page</a></li>
                        <li><a href="https://updates.nomics.com">Product Updates</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Resources
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                        <li><a href="https://nomics.com/docs">API Docs</a></li>
                        <li><a href="https://nomics.com/blog">Blog</a></li>
                        <li><a href="https://news.nomics.com/">Newsletter</a></li>
                        <li><a href="https://forums.nomics.com">Forums</a></li>
                        <li><a href="https://nomics.com/blog/announcements/exchange-integration/">Exchange Integration</a></li>
                        <li><a href="https://nomics.com/blog/announcements/verified/">Verified Exchange Program</a></li>
                        <li><a href="https://lp.nomics.com/quiz/">Market Data Quiz</a></li>
                        <li><a href="https://webinar.nomics.com" className="db link n-gray hover-white fw3 pb1 pv1-l">Nomics' Webinar</a></li>
                        <li><a href="https://webinars.nomics.com">Webinar Archive</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Company
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                        <li><a href="https://p.nomics.com/about">About</a></li>
                        <li><a href="https://nomics.com/blog/essays/manifesto/">Manifesto</a></li>
                        <li><a href="https://nomics.breezy.hr" target="_blank" rel="nofollow noopener noreferrer">Careers</a></li>
                    </ul>
                </li>
                <li>
                    <h5 class="footer-toggle">
                    Contact
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <polyline points="6 9 12 15 18 9"></polyline></svg>
                    </h5>
                    <ul>
                        <li><a href="https://p.nomics.com/contact">Contact Us</a></li>
                        <li><a href="tel:6125049929">612-504-9929</a></li>
                        <li class="extra-top">
                            <a href="https://www.facebook.com/nomicsfinance" target="_blank" rel="nofollow noopener noreferrer" class="nsf-soc">
                            <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="M25.638355 48H2.649232C1.185673 48 0 46.813592 0 45.350603V2.649211C0 1.18585 1.185859 0 2.649232 0h42.701723C46.813955 0 48 1.18585 48 2.649211v42.701392C48 46.813778 46.813769 48 45.350955 48h-12.23165V29.411755h6.239216l.934234-7.244169h-7.17345v-4.624945c0-2.097354.582407-3.526631 3.589985-3.526631l3.836021-.001677V7.535091c-.663425-.088283-2.940527-.285521-5.589759-.285521-5.530718 0-9.317197 3.375956-9.317197 9.575639v5.342377h-6.255233v7.244169h6.255233V48z" fill-rule="evenodd"></path></svg>
                            </a>
                            <a href="https://twitter.com/nomicsfinance" target="_blank" rel="nofollow noopener noreferrer" class="nsf-soc">
                            <svg viewBox="0 0 48 40" xmlns="http://www.w3.org/2000/svg"><path d="M48 4.735283c-1.763691.803179-3.662617 1.346335-5.654517 1.589022 2.034161-1.248104 3.594999-3.227158 4.33034-5.584688-1.90456 1.155652-4.009156 1.996389-6.257439 2.447093C38.626519 1.224991 36.065504 0 33.231203 0c-5.43476 0-9.843987 4.521488-9.843987 10.097508 0 .791622.084522 1.56013.253566 2.299747-8.18454-.421813-15.439338-4.437703-20.299349-10.55399-.848036 1.496569-1.332629 3.232936-1.332629 5.081979 0 3.501625 1.738335 6.592994 4.381053 8.404478-1.611551-.049115-3.132946-.508487-4.462757-1.259661v.124233c0 4.894186 3.394964 8.976526 7.9028 9.901047-.825498.236909-1.696074.355363-2.594823.355363-.633915 0-1.253742-.060671-1.853848-.179126 1.253742 4.010112 4.888185 6.931022 9.198803 7.009029-3.369608 2.710003-7.618243 4.325027-12.230323 4.325027-.794506 0-1.58056-.046226-2.349709-.138678C4.358514 38.327194 9.53689 40 15.095615 40c18.115866 0 28.019018-15.384615 28.019018-28.729505 0-.439148-.008452-.878296-.025357-1.308776C45.013559 8.537378 46.684275 6.760563 48 4.735283" fill-rule="evenodd"></path></svg>
                            </a>
                            <a href="https://www.linkedin.com/company/nomicsfinance" target="_blank" rel="nofollow noopener noreferrer" class="nsf-soc">
                            <svg viewBox="0 0 44 40" xmlns="http://www.w3.org/2000/svg"><path d="M44 40h-9.7246V25.9384c0-3.680604-1.521167-6.19325-4.866181-6.19325-2.55856 0-3.98142 1.695588-4.643697 3.329704-.248354.586541-.209548 1.403599-.209548 2.220657V40h-9.634055s.124177-24.908753 0-27.172953h9.634055v4.264584c.569144-1.864635 3.647695-4.525837 8.560442-4.525837C39.21143 12.565794 44 16.474355 44 24.890824V40zM5.17921 9.428187h-.062089C2.0127 9.428187 0 7.350964 0 4.717936 0 2.033681 2.072201 0 5.238711 0c3.163923 0 5.10936 2.028559 5.171449 4.710252 0 2.633028-2.007526 4.717935-5.23095 4.717935zm-4.069379 3.39886h8.575964V40H1.109831V12.827047z" fill-rule="evenodd"></path></svg>
                            </a>
                        </li>
                    </ul>
                    <a href="https://p.nomics.com/cryptocurrency-bitcoin-api" class="nsf-key">API Key</a>
                    <ul class="nsf-app-badges">
                        <li><a href="https://play.google.com/store/apps/details?id=com.nomicsmobile" target="_blank"><svg data-name="google-play" width="119" height="35" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M113.75 0H4.375A4.375 4.375 0 000 4.375v26.25A4.375 4.375 0 004.375 35H113.75a4.375 4.375 0 004.375-4.375V4.375A4.375 4.375 0 00113.75 0z" fill="#000"/><path d="M113.75.7a3.677 3.677 0 013.675 3.675v26.25a3.675 3.675 0 01-3.675 3.675H4.375A3.675 3.675 0 01.7 30.625V4.375A3.675 3.675 0 014.375.7H113.75zm0-.7H4.375A4.375 4.375 0 000 4.375v26.25A4.375 4.375 0 004.375 35H113.75a4.377 4.377 0 004.375-4.375V4.375A4.377 4.377 0 00113.75 0z" fill="#A6A6A6"/><path d="M41.492 8.96a2.379 2.379 0 01-.656 1.75 2.539 2.539 0 01-1.925.77 2.626 2.626 0 01-1.934-.787 2.626 2.626 0 01-.796-1.943 2.624 2.624 0 01.797-1.951 2.765 2.765 0 013.01-.569c.315.13.596.33.822.586l-.464.464a1.75 1.75 0 00-1.435-.63 2.03 2.03 0 00-2.038 2.1 2.065 2.065 0 003.5 1.514c.273-.29.431-.67.446-1.068H38.91v-.63h2.547c.02.13.03.262.035.394zM45.5 6.772h-2.362v1.663h2.152v.63h-2.152v1.662H45.5v.648h-3.045v-5.25H45.5v.647zM48.37 11.375h-.674V6.772h-1.47v-.647h3.649v.647H48.37v4.603zM52.447 11.375v-5.25h.674v5.25h-.674zM56.114 11.375h-.674V6.772h-1.47v-.647h3.605v.647h-1.461v4.603zM64.409 10.693a2.723 2.723 0 01-3.85 0 2.626 2.626 0 01-.77-1.943 2.625 2.625 0 01.77-1.942 2.563 2.563 0 011.925-.797 2.625 2.625 0 011.925.796 2.687 2.687 0 01.77 1.943 2.627 2.627 0 01-.77 1.943v0zm-3.352-.438a2.005 2.005 0 003.3-.693c.1-.258.148-.535.14-.812a2.066 2.066 0 00-.622-1.505 2.004 2.004 0 00-2.852 0 2.066 2.066 0 00-.552 1.505 2.064 2.064 0 00.587 1.505v0zM66.132 11.375v-5.25h.814l2.555 4.086V6.125h.674v5.25h-.7l-2.669-4.279v4.279h-.674z" fill="#fff" stroke="#fff" stroke-width=".2" stroke-miterlimit="10"/><path d="M59.623 19.031a3.728 3.728 0 103.736 3.719 3.667 3.667 0 00-3.736-3.719zm0 5.977a2.258 2.258 0 112.1-2.258 2.152 2.152 0 01-2.1 2.258zm-8.155-5.977a3.728 3.728 0 103.736 3.719 3.667 3.667 0 00-3.736-3.719zm0 5.977a2.258 2.258 0 112.1-2.258 2.152 2.152 0 01-2.1 2.258zm-9.696-4.83v1.575h3.78a3.298 3.298 0 01-.874 1.986 3.866 3.866 0 01-2.923 1.155 4.2 4.2 0 110-8.4 4.06 4.06 0 012.87 1.128l1.111-1.11a5.513 5.513 0 00-3.963-1.593 5.785 5.785 0 100 11.558 5.311 5.311 0 004.033-1.618 5.25 5.25 0 001.365-3.702 5.482 5.482 0 00-.078-.98h-5.32zm39.647 1.224a3.5 3.5 0 00-3.185-2.37 3.5 3.5 0 00-3.5 3.718 3.701 3.701 0 006.79 2.074l-1.269-.875a2.108 2.108 0 01-1.829 1.023 1.881 1.881 0 01-1.802-1.128l4.979-2.056-.184-.386zm-5.075 1.243a2.047 2.047 0 011.951-2.179 1.435 1.435 0 011.374.796l-3.325 1.383zM72.3 26.25h1.636V15.312h-1.636V26.25zm-2.677-6.387h-.061a2.573 2.573 0 00-1.96-.832 3.728 3.728 0 000 7.447 2.52 2.52 0 001.96-.876h.06v.534c0 1.427-.76 2.188-1.986 2.188a2.064 2.064 0 01-1.88-1.322l-1.418.587a3.5 3.5 0 003.299 2.205c1.916 0 3.5-1.129 3.5-3.877V19.25h-1.514v.613zm-1.881 5.145a2.258 2.258 0 010-4.507 2.092 2.092 0 011.995 2.249 2.083 2.083 0 01-1.995 2.258zm21.34-9.695h-3.92V26.25H86.8v-4.148h2.284a3.403 3.403 0 100-6.79zm0 5.25H86.8v-3.728h2.319a1.873 1.873 0 010 3.745l-.035-.017zm10.098-1.567a3.053 3.053 0 00-2.913 1.672l1.443.603a1.558 1.558 0 011.496-.796 1.575 1.575 0 011.751 1.409v.105a3.663 3.663 0 00-1.707-.42c-1.557 0-3.15.875-3.15 2.467a2.528 2.528 0 002.722 2.406 2.317 2.317 0 002.082-1.067h.053v.875h1.575v-4.209c0-1.916-1.453-3.027-3.317-3.027l-.035-.018zm-.201 5.994c-.534 0-1.278-.271-1.278-.927 0-.875.928-1.173 1.75-1.173a2.905 2.905 0 011.488.367 1.977 1.977 0 01-1.925 1.75l-.035-.017zm9.293-5.74l-1.873 4.742h-.052l-1.943-4.742h-1.75l2.914 6.633-1.663 3.683h1.75l4.437-10.316h-1.82zm-14.7 7H95.2V15.312h-1.627V26.25z" fill="#fff"/><path d="M9.135 6.598a1.75 1.75 0 00-.385 1.224v19.355c-.03.447.118.887.411 1.226l.062.07L20.038 17.63v-.262L9.196 6.536l-.061.062z" fill="url(#paint0_linear)"/><path d="M23.625 21.245l-3.587-3.614v-.262l3.587-3.614.079.052L28 16.24c1.225.691 1.225 1.829 0 2.529L23.721 21.2l-.096.044z" fill="url(#paint1_linear)"/><path d="M23.73 21.192L20.038 17.5 9.135 28.402a1.418 1.418 0 001.811.062l12.784-7.271" fill="url(#paint2_linear)"/><path d="M23.73 13.807L10.946 6.545a1.409 1.409 0 00-1.811.053L20.038 17.5l3.692-3.693z" fill="url(#paint3_linear)"/><path opacity=".2" d="M23.625 21.114l-12.679 7.218a1.453 1.453 0 01-1.75 0l-.061.062.061.07a1.453 1.453 0 001.75 0l12.784-7.271-.105-.08z" fill="#000"/><path opacity=".12" d="M9.135 28.28a1.75 1.75 0 01-.385-1.234v.131c-.03.447.118.887.411 1.226l.062-.062-.088-.061zM28 18.637l-4.375 2.477.079.078L28 18.76a1.531 1.531 0 00.927-1.26A1.627 1.627 0 0128 18.637z" fill="#000"/><path opacity=".25" d="M10.946 6.667L28 16.362a1.628 1.628 0 01.927 1.138A1.531 1.531 0 0028 16.24L10.946 6.545c-1.216-.7-2.196-.123-2.196 1.277v.132c0-1.4.98-1.978 2.196-1.287z" fill="#fff"/></g><defs><linearGradient id="paint0_linear" x1="19.075" y1="7.621" x2="4.393" y2="22.304" gradientUnits="userSpaceOnUse"><stop stop-color="#00A0FF"/><stop offset=".01" stop-color="#00A1FF"/><stop offset=".26" stop-color="#00BEFF"/><stop offset=".51" stop-color="#00D2FF"/><stop offset=".76" stop-color="#00DFFF"/><stop offset="1" stop-color="#00E3FF"/></linearGradient><linearGradient id="paint1_linear" x1="29.601" y1="17.5" x2="8.435" y2="17.5" gradientUnits="userSpaceOnUse"><stop stop-color="#FFE000"/><stop offset=".41" stop-color="#FFBD00"/><stop offset=".78" stop-color="orange"/><stop offset="1" stop-color="#FF9C00"/></linearGradient><linearGradient id="paint2_linear" x1="21.726" y1="19.512" x2="1.811" y2="39.419" gradientUnits="userSpaceOnUse"><stop stop-color="#FF3A44"/><stop offset="1" stop-color="#C31162"/></linearGradient><linearGradient id="paint3_linear" x1="6.388" y1=".158" x2="15.277" y2="9.048" gradientUnits="userSpaceOnUse"><stop stop-color="#32A071"/><stop offset=".07" stop-color="#2DA771"/><stop offset=".48" stop-color="#15CF74"/><stop offset=".8" stop-color="#06E775"/><stop offset="1" stop-color="#00F076"/></linearGradient><clipPath id="clip0"><path fill="#fff" d="M0 0h118.125v35H0z"/></clipPath></defs></svg></a></li>
                    </ul>
                </li>
                </ul>
            </div>
            <script type="application/javascript">
                function toggleFooterItem (event) {
                event.currentTarget.parentNode.classList.toggle('active');
                }
                var el = document.getElementsByClassName('footer-toggle');
                for (var i = 0; i < el.length; i++) {
                if (el[i].addEventListener) {
                    el[i].addEventListener('click', toggleFooterItem, false);
                } else {
                    el[i].attachEvent('onclick', toggleFooterItem);
                }
                }
            </script>
            </div>
        </div>
        <div class="nsf-bottom">
            <div class="nsf-center">
            <span class="nsf-left">
                &copy;
                <span id="yearCopy"></span>
                Nomics&trade; | All Rights Reserved
            </span>
            <script type="application/javascript">
                document.getElementById('yearCopy').textContent = new Date().getFullYear()
            </script>
            <span class="nsf-right">
                <a href="https://p.nomics.com/terms-and-conditions">Terms</a>
                |
                <a href="https://p.nomics.com/privacy-policy">Privacy</a>
            </span>
            </div>
        </div>
    </footer>

</body>

</html>